<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>代理政策</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="">
{include file="index/head" /}

<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner dlzc-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>黑珍珠代理宣传语</h2>
        <p class="p2"></p>
        <p class="p2"></p>
    </div>

</div>
<div class="col-xs-12 dlzc-body">
    <div class="col-xs-10 col-xs-offset-1 dlzc-main">

        <h3 class="c3">代理合作政策</h3>
        <p class="c6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;各级渠道商是黑珍珠长期合作伙伴，黑珍珠将努力集合多个部门的力量，通过多种平台/方式为渠道伙伴提供多种渠道支持服务。渠道
            支持的种类包括市场推广支持、培训支持、销售支持等三大类。普遍的渠道支持均为无偿；当客户有个性化支持服务需求时，可以与黑
            珍珠协商有偿支持服务，渠道伙伴根据自身需求选择。
        </p>
        <p class="dlzc-main-bg">
            市场推广支持

        </p>
        <p class="c6"></p>
        <p class="c6">1、品牌传播支持</p>

        <br>
        <p class="c6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2016年，黑珍珠决定加大投入进行广泛品牌推广，统一策划品牌和产品的相关宣传广告及市场推广活动，如国内各大展会、各大媒体
            的推广，几乎涵盖国内所有影响力较大的 新闻门户网站等。不定期举行产品促销等，大力推广黑珍珠品牌和产品，树立黑珍珠的品牌
            形象，为各级渠道伙伴提供有效的品牌支持。
        </p>
        <br>
        <p class="c6">2、市场策略支持</p>
        <br>
        <p class="c6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;黑珍珠在每个销售年度的年底展开研究与调研工作，制定新年度的营销策略，包括产品策略、价格策略、市场推广策略等，为渠道伙伴
            的市场销售策略提供指导和支持，并将定期面向渠道伙伴提供各类市场信息，便于渠道伙伴参考，根据市场情况和自身特点，制定最合
            适的市场销售、经营策略方面的决策。</p>
        <br>
        <p class="c6">3、市场费用支持</p>
        <br>
        <p class="c6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;由于各渠道伙伴面对的市场、行业和客户都有所不同，具体采用的市场推广方式和推广媒体也会有所差异。对于渠道伙伴在当地或特定
            行业进行的关于黑珍珠产品的新闻发布会、行业推广座谈会、专题技术讲座、专业参展等活动，需报黑珍珠市场部审批，黑珍珠批准后
            将会根据具体情况给予渠道伙伴相应的支持和协助。</p>
        <br>
        <p class="c6">
            4、推广宣传物料支持</p>
        <br>
        <p class="c6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;黑珍珠将根据渠道伙伴的进货额度配送一定数量的推广宣传物料，宣传物料包括印刷品、光盘和电子文档等形式。推广物料内容包括：
            黑珍珠公司宣传册、产品彩页、宣传海报、宣传邮件、包装盒、易拉宝、成功应用案例介绍、产品说明书、行业解决方案、各类技术实
            施文档、实施工具、样板客户实施文档、演示 DEMO 等。</p>
        <br>

        <p class="dlzc-main-bg">
            培训支持

        </p>
        <br>
        <p class="c6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;渠道合作伙伴员工可以选择通过现场学习、在线学习、自助学习等多种方式进行所需知识与技能的提升。渠道合作伙伴培训包括：公司
            篇、行业篇、产品篇、销售篇以及技术篇。</p>
        <br>
        <p class="dlzc-main-bg">销售支持</p>
        <br>
        <p class="c6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;销售支持提供了一条通向专业服务和专门技术的捷径，提供全面的解决方案。随时为合作伙伴提供关于竞争性问题的快速、准确的回答
            ，以及黑珍珠产品最新的技术、特性和性能方面的资讯。作为合作伙伴项目中的核心优惠，渠道合作伙伴可以免费获得黑珍珠销售支持
            电话支持.</p>
        <br>
        <p class="c6">1、销售项目信息与过程支持</p>
        <br>
        <p class="c6">黑珍珠可以将自己获得的项目信息转交给表现优秀的合作伙伴，并协助合作伙伴参与投标。</p> <br>
        <p class="c6">2、行业解决方案</p> <br>
        <p class="c6">在向用户提出需求方案书阶段，渠道合作伙伴可从黑珍珠行业案例库，获取涵盖各行业的各类解决方案。</p> <br>
        <p class="c6">3、产品资讯与产品释疑</p> <br>
        <p class="c6">在销售过程中，渠道合作伙伴随时可以就遇到各类产品、技术问题向技术支持部提出技术支援以及产品资讯。包括：产品竞争力信息、
            技术问题的解决渠道支持方法、选项的配置、兼容性信息。
        </p> <br>
        <p class="c6">4、售前现场支持</p> <br>
        <p class="c6">对于特殊项目，渠道合作伙伴可申请黑珍珠派遣售前工程师进行协助，进行现场支持，黑珍珠还提供各种有偿现场技术服务，协助渠道
            伙伴成功完成销售。</p> <br>


    </div>

</div>


<!--底部开始-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>

<!--补充的插件-->
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="_INDEX/js/distpicker.data.js"></script>
<script src="_INDEX/js/distpicker.js"></script>
<script src="_INDEX/js/main.js"></script>
<!--补充的插件-->
</body>
</html>