<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>渠道代理-代理咨询</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{include file="index/head" /}
<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner dlzx-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>一键成为代理服务商</h2>
        <p class="p2">提交资料信息服务 在线申请成为代理商服务</p>
        <p class="p2"></p>
    </div>

</div>


<div class="col-xs-12 qdzx-slide2">

    <p class="qdzx-gold">Black Pearl online service</p>
    <h3 class="c3">黑珍珠在线服务</h3>
    <p class="c6">黑珍珠科技为所有代理商及客户提供不同渠道的在线服务，确保服务质量及及时沟通</p>

    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-4 qdzx-slide2-body">
            <img src="_INDEX/images/dlzx-wx.png" width="61" alt="">
            <p class="qdzx-slide2-body-p">
                微信在线咨询
            </p>
            <p class="qdzx-slide2-a">
                <a href="#"> 点击进入</a>
            </p>

        </div>
        <div class="col-xs-4 qdzx-slide2-body">
            <img src="_INDEX/images/dlzx-qq.png" width="61" alt="">
            <p class="qdzx-slide2-body-p">
                QQ在线咨询
            </p>
            <p class="qdzx-slide2-a">
                <a href="#"> 点击进入</a>
            </p>
        </div>
        <div class="col-xs-4 qdzx-slide2-body">
            <img src="_INDEX/images/dlzx-phone.png" width="61" alt="">
            <p class="qdzx-slide2-body-p">
                拨打电话
            </p>
            <p class="qdzx-slide2-a">
                <a href="#"> 点击进入</a>
            </p>
        </div>

    </div>


</div>


<div class="col-xs-12 qdzx-slide3 ">

    <div class="col-md-8 col-md-offset-2 col-xs-12 qdzx-slide3-tit hidden-padding-768 ">
        <h3>申请成为代理商</h3>
        <p>加入合作伙伴计划并开始享受黑珍珠为你带来的各种帮助</p>

        <div class="">

            <div class="">

                <form class="">

                    <div class="form-group col-xs-6">

                        <input type="text" class="form-control" placeholder="姓名">
                    </div>
                    <div class="form-group col-xs-6">

                        <input type="text" class="form-control" placeholder="手机">
                    </div>
                    <div class="form-group col-xs-6">

                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group col-xs-6">

                        <input type="text" class="form-control" placeholder="QQ">
                    </div>

                    <div id="distpicker5">
                        <div class="form-group col-xs-4">
                            <label class="sr-only" for="province10">Province</label>
                            <select class="form-control" id="province10"></select>
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="sr-only" for="city10">City</label>
                            <select class="form-control" id="city10"></select>
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="sr-only" for="district10">District</label>
                            <select class="form-control" id="district10"></select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <textarea class="form-control" placeholder="给我留言" rows="5"></textarea>
                    </div>


                    <button type="submit" class="btn btn-default dlzx-btn">提交</button>


                </form>
            </div>

        </div>

    </div>

</div>


<!--底部开始-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>

<script src="_INDEX/style/addnav.js"></script>

<!--补充的插件-->
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="_INDEX/js/distpicker.data.js"></script>
<script src="_INDEX/js/distpicker.js"></script>
<script src="_INDEX/js/main.js"></script>
<!--补充的插件-->
</body>
</html>