<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>联系我们</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="">

{include file="index/head" /}

<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner lxwm-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>以客户需求为导向，为追求用户体验设计，提供有针对性的项目解决方案
        </h2>
        <p class="p2"></p>
        <p class="p2"></p>
    </div>

</div>


<div class="col-xs-12 slide lxwm-slide2">
    <h3>关于我们</h3>
    <div class="col-md-10 col-md-offset-1 col-xs-12">
        <p class="c6"> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;
            郑州黑珍珠计算机科技有限公司（黑珍珠科技），是一家专业从事互联网开发与营销的科技企业，历经8年的互联网浪潮，积攒下了宝贵的互联网开发经验，
            企业始终秉持着“用户至上，品质保证”的理念赢得了广大客户的一致好评。黑珍珠科技将会继续在新的时代与潮流中，力做“互联网+”的领导者。
        </p>

    </div>
    <div class="col-xs-10 col-xs-offset-1  lxwm-slide3-mian ">
        <div class="col-md-4 col-xs-12 lxwm-slide3-body1">
            <p class="c3">企业专注领域</p>
            <p class="c6">
                专注于高端网站建设、移动互联应用、B/S架构系统研发、云服务器部署和运维，为企业客户的互联网应用提供一站式服务。

            </p>

        </div>
        <div class="col-md-4 col-xs-12 lxwm-slide3-body2">
            <p class="c3">企业业务范围</p>
            <p class="c6">
                业务范围涵盖咨询及解决方案、IT 服务及业务流程外包（BPO）服务、解决方案实施到业务系统运营的整套解决方案，
                覆盖了企业的运营管理、沟通协调、生产流通、市场营销、客户服务等各个环节，并在互联网相关前瞻性领域保持长期关注和跟踪。
            </p>

        </div>
        <div class="col-md-4 col-xs-12 lxwm-slide3-body3">
            <p class="c3">行业服务方案</p>
            <p class="c6">
                公司提供全方位的移动客户端项目解决方案，从产品策划、设计、编码、测试、推广，为客户提供整体化的移动客户端方案。实现以产品带动移动客户端项目的思路，以移动客户端项目带动产品技术，形成产品和移动客户端项目并重发展的战略发展思路。

            </p>

        </div>

    </div>
</div>

<div class="col-xs-12 slide lxwm-slide4">

    <h3>我们的荣耀</h3>
    <p class="c6">每一个荣耀都是黑珍珠的在发展里程中道路上的闪光点</p>
    <!--<div class="col-md-10 col-md-offset-1 col-xs-12 lxwm-slide4-main">-->
    <!--<div class="col-md-4 col-xs-12">-->
    <!--<img src="_INDEX/images/lxwm-slide4-img1.png" width="100%" alt="">-->
    <!--<p class="c6 lxwm-slide4-p" style="">Grand Motel gets an identity brushup Identity<br>identity</p>-->
    <!--</div>-->
    <!--<div class="col-md-4 col-xs-12">-->

    <!--</div>-->
    <!--<div class="col-md-4 col-xs-12">-->
    <!--<img src="_INDEX/images/lxwm-slide4-img2.png" width="100%" alt="">-->
    <!--<p class="c6 lxwm-slide4-p" style="">Fresh branding for a creative startup Identity<br>identity</p>-->
    <!--</div>-->

    <!--</div>-->

    <div class="col-md-offset-1 col-md-10 col-xs-12 lxwm-slide4-main-list hidden-sm hidden-xs">

        <div id="myCarousel" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>


            </ol>
            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner ">
                <div class="item active ">

                    <div class="col-md-4 col-xs-6">
                        <img src="_INDEX/images/ru-1.jpg" width="70%" style="padding-left: 15%;" alt="First slide">
                    </div>
                    <div class="col-md-4 col-xs-6  ">
                        <img style="" src="_INDEX/images/ru-2.jpg" width="100%" alt="First slide">
                    </div>
                    <div class="col-md-4 col-xs-6 ">
                        <img src="_INDEX/images/ru-3.jpg" width="70%" style="padding-left: 15%;" alt="First slide">
                    </div>


                </div>
                <div class="item  ">

                    <div class="col-md-4 col-xs-6">
                        <img src="_INDEX/images/ru-4.jpg" width="100%" alt="First slide">
                    </div>
                    <div class="col-md-4 col-xs-6  ">
                        <img src="_INDEX/images/ru-5.jpg" width="100%" alt="First slide">
                    </div>
                    <div class="col-md-4 col-xs-6 ">
                        <img src="_INDEX/images/ru-6.jpg" width="100%" alt="First slide">
                    </div>


                </div>


            </div>
            <!-- 轮播（Carousel）导航 -->

            <!-- 轮播（Carousel）项目 -->



        </div>
        <!-- 轮播（Carousel）导航 -->
    </div>

    <div class="col-md-offset-1 col-md-10 col-xs-12 lxwm-slide4-main-list visible-sm-block visible-xs-block">

        <div id="myCarousel2" class="carousel slide">
            <!-- 轮播（Carousel）指标 -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel2" data-slide-to="1"></li>
                <li data-target="#myCarousel2" data-slide-to="2" ></li>
                <li data-target="#myCarousel2" data-slide-to="3"></li>
                <li data-target="#myCarousel2" data-slide-to="4" ></li>
                <li data-target="#myCarousel2" data-slide-to="5"></li>


            </ol>

            <!-- 轮播（Carousel）项目 -->
            <div class="carousel-inner ">
                <div class="item active ">

                    <div class=" col-xs-12">
                        <img src="_INDEX/images/ru-1.jpg" width="70%"  alt="First slide">
                    </div>
                </div>
                <div class="item  ">
                    <div class="col-xs-12  ">
                        <img style="" src="_INDEX/images/ru-2.jpg" width="100%" alt="First slide">
                    </div>
                </div>
                <div class="item  ">
                    <div class="col-xs-12  ">
                        <img src="_INDEX/images/ru-3.jpg" width="70%" alt="First slide">
                    </div>
                </div>
                <div class="item  ">

                    <div class="col-xs-12  ">
                        <img src="_INDEX/images/ru-4.jpg" width="100%" alt="First slide">
                    </div>
                </div>
                <div class="item  ">
                    <div class="col-xs-12  ">
                        <img src="_INDEX/images/ru-5.jpg" width="100%" alt="First slide">
                    </div>
                </div>
                <div class="item  ">
                    <div class="col-xs-12  ">
                        <img src="_INDEX/images/ru-6.jpg" width="100%" alt="First slide">
                    </div>

                </div>

            </div>


        </div>
        <!-- 轮播（Carousel）导航 -->
    </div>

</div>


<div class="col-xs-12 slide lxwm-slide5">
    <h3>企业里程碑</h3>

    <div class="col-xs-10 col-xs-offset-1  lxwm-slide5-body">

        <div class="col-md-4 col-sm-6 col-xs-12 lxwm-slide5-main1">
            <p class="c3">
                2009年
            </p>
            <p class="c6">
                荣获经开区高新技术企业
            </p>

        </div>
        <div class="col-md-4  col-sm-6 col-xs-12  lxwm-slide5-main2">
            <p class="c3">
                2010年
            </p>
            <p class="c6">
                设计联盟评选为金牌设计企业
            </p>

        </div>
<div class="col-xs-12 visible-sm-block"></div>

        <div class="col-md-4 col-sm-6 col-xs-12  lxwm-slide5-main4">
            <p class="c3">
                2011年
            </p>
            <p class="c6">
                成功注册 " 黑珍珠科技 " 商标，树立品牌
            </p>

        </div>
        <div class="col-xs-12 visible-xs-block"></div>
        <div class="col-md-4  col-sm-6 col-xs-12  lxwm-slide5-main5">
            <p class="c3">
                2013年
            </p>
            <p class="c6">
                已拥有自主知识产权，国家软件著作权达12项之多
            </p>

        </div>
        <div class="col-xs-12 visible-sm-block"></div>
        <div class="col-md-4 col-sm-6 col-xs-12  lxwm-slide5-main3">
            <p class="c3">
                2014年
            </p>
            <p class="c6">
                荣获众多最受欢迎互联网金融第三方服务商
            </p>

        </div>
        <div class="col-md-4 col-sm-6 col-xs-12  lxwm-slide5-main2">
            <p class="c3">
                2015年
            </p>
            <p class="c6">
                中国“互联网+”创新及最具投资价值企业50强
            </p>

        </div>


    </div>

</div>

</div>

<div class="col-xs-12 slide lxwm-slide6 hidden-xs hidden-sm">

    <h3>订阅我们的实时通讯</h3>


    <div class="col-xs-6 col-xs-offset-3 lxwm-slide6-main">
        <span class="glyphicon glyphicon-envelope col-xs-1"></span>
        <form role="form" style="">
            <div class="form-group col-xs-8" style="">
                <div class="input-group" style="padding-top: 5px;">
                    <input type="text" class="form-control lxwm-slide6-main-input" id="exampleInputAmount"
                           placeholder="你的邮箱地址">
                </div>
            </div>
            <div class="col-xs-1 col-xs-offset-2">
                <button type="submit" class="btn btn-default addbotton">订 阅</button>
            </div>
        </form>

    </div>
</div>
<div class="col-xs-12 slide lxwm-slide6 visible-xs-block visible-sm-block">

    <h3>订阅我们的实时通讯</h3>


    <div class="col-xs-12 lxwm-slide6-main" style="margin-bottom: 80px;">
        <span class="glyphicon glyphicon-envelope col-xs-1"></span>
        <form role="form" style="">
            <div class="form-group col-xs-8" style="">
                <div class="input-group" style="padding-top: 5px;">
                    <input type="text" class="form-control lxwm-slide6-main-input" id="exampleInputAmount"
                           placeholder="你的邮箱地址">
                </div>
            </div>
            <div class="col-xs-2 col-xs-offset-5" style="text-align: center;">
                <button type="submit" class="btn btn-default addbotton">订 阅</button>
            </div>
        </form>

    </div>
</div>
<!--底部开始-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>
<script src="_INDEX/style/addnav.js"></script>


</body>
</html>