<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>软件开发-跨境贸易</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{include file="index/head" /}
<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner kjmy-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>打通跨境电子商务信息壁垒</h2>
        <p class="p2">实现互联互通、信息共享和资源整合的跨境平台</p>
        <p class="p2"></p>
    </div>

</div>

<div class="col-xs-12  kjmy-slide2">
    <div class="col-md-10 col-md-offset-1 col-xs-12 kjmy-slide2-bg hidden-xs hidden-sm">

        <div class="col-md-8 col-md-offset-4 col-xs-12  kjmy-slide2-right c6">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;跨境电子商务"一站式服务"平台是连接海关、国检、国税、外管、商务、工商、邮政、公安等政府管理部门，中国电子口岸、
                地方电子口岸平台，以及电商、物流、金融机构等商业主体，为各职能部门、单位及跨境电子商务相关企业提供信息基础及交
                换平台。是按照政府"信息互通、监管互认、执法互助"的要求，打通跨境电子商务"关、检、汇、税、商、物、融、邮"之间
                的信息壁垒，实现各部门之间，政府与企业以及企业与企业之间的互联互通、信息共享和资源整合。"一站式服务"平台是跨境
                电商的数据交换枢纽和综合管理服务平台，具有政务服务和商务服务双重功能。包括招商入住、通关服务、统计分析、物流跟踪、
                金融服务、信息共享'政务导航'税单查询、综合服务等业务功能模块，为职能部门及单位提供"监督协管 '政务导航及信息
                展示等服务，为跨境电子商务企业提供通关、物流'结汇、税收、数据交换、商务信息等服务，并为消费者提供通关状态查询、 税查查询等服务。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"一站式服务"平台前期以建立适应跨境电子商务健康快速发展的通关服务体系为重点和突破口，通过逐步试点、总结与扩展
                ，促进跨境电子商务自由化、便利化、规范化发展，最终建成覆盖货物与服务贸易的国际贸易"一站式服务"平台，为广大跨境 电子商务企业、各职能部门、单位等带来更全面的服务。

            </p>
        </div>


    </div>


    <div class="col-md-10 col-md-offset-1 col-xs-12 visible-sm-block visible-xs-block">

        <div class="col-md-8 col-md-offset-4 col-xs-12  kjmy-slide2-right c6">
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;跨境电子商务"一站式服务"平台是连接海关、国检、国税、外管、商务、工商、邮政、公安等政府管理部门，中国电子口岸、
                地方电子口岸平台，以及电商、物流、金融机构等商业主体，为各职能部门、单位及跨境电子商务相关企业提供信息基础及交
                换平台。是按照政府"信息互通、监管互认、执法互助"的要求，打通跨境电子商务"关、检、汇、税、商、物、融、邮"之间
                的信息壁垒，实现各部门之间，政府与企业以及企业与企业之间的互联互通、信息共享和资源整合。"一站式服务"平台是跨境
                电商的数据交换枢纽和综合管理服务平台，具有政务服务和商务服务双重功能。包括招商入住、通关服务、统计分析、物流跟踪、
                金融服务、信息共享'政务导航'税单查询、综合服务等业务功能模块，为职能部门及单位提供"监督协管 '政务导航及信息
                展示等服务，为跨境电子商务企业提供通关、物流'结汇、税收、数据交换、商务信息等服务，并为消费者提供通关状态查询、 税查查询等服务。
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"一站式服务"平台前期以建立适应跨境电子商务健康快速发展的通关服务体系为重点和突破口，通过逐步试点、总结与扩展
                ，促进跨境电子商务自由化、便利化、规范化发展，最终建成覆盖货物与服务贸易的国际贸易"一站式服务"平台，为广大跨境 电子商务企业、各职能部门、单位等带来更全面的服务。

            </p>
        </div>


    </div>

</div>


<div class="col-xs-12 kjmy-slide3">

    <div class="col-md-offset-1 col-md-10 col-xs-12   kjmy-slide3-body-right hidden-padding-768">

        <div class="col-md-8 col-xs-12 hidden-padding-768">
            <div class="col-xs-6 kjmy-slide3-body-left  kjmy-slide3-bg c6">
                <img src="_INDEX/images/kjmy-slide3-icon1.png" width="57" height="73" alt="">
                <p>
                    跨境电商运营轻咨询
                </p>
                <p>
                    选择海关的技巧，企业备案、商品备案、三单对碰流程介绍；根据不同贸易模式选品及如何运营，政策的解读和诸多客户成功运营经验的分享。
                </p>
            </div>
            <div class="col-xs-6 kjmy-slide3-body-left   c6">
                <img src="_INDEX/images/kjmy-slide3-icon2.png" width="70" height="73" alt="">
                <p>
                    成熟应对政策变化
                </p>
                <p>
                    无论是个人订购限额、不同贸易模式税种的计算，还是多口岸的并行，我们已经全部做到灵活的设计，再也不用担心政策变化对系统产生的影响。
                </p>
            </div>
            <div class="col-xs-6 kjmy-slide3-body-left   c6">
                <img src="_INDEX/images/kjmy-slide3-icon3.png" width="60" height="74" alt="">
                <p>
                    多个海关对接经验
                </p>
                <p>
                    选择口岸有技巧；无论是直连海关还是委托第三方企业代清关，我们都可以提供相应的技术支持和运营指导。 &nbsp; &nbsp; &nbsp;
                </p>
            </div>
            <div class="col-xs-6 kjmy-slide3-body-left  kjmy-slide3-bg c6">
                <img src="_INDEX/images/kjmy-slide3-icon4.png" width="44" height="74" alt="">
                <p>
                    多种贸易模式的支持
                </p>
                <p>
                    我们针对主流的多种贸易模式对应的税制、清关模式、仓储发货流程、选品技巧都做了相应的设计和运营的支撑。
                </p>
            </div>

        </div>




    </div>

</div>


<!--底部开始-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>
<script src="_INDEX/style/addnav.js"></script>


</body>
</html>