<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业建站-网站定制</title>
    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">
    <link rel="stylesheet" href="_INDEX/style/addcss768.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
        h2 {
            font-size: 24px !important;
            letter-spacing: 2px;
        }

        @media screen and (min-width: 1400px) {
            .wzdz-slide3-body .col-xs-3 {
                padding: 0 40px;
            }
        }
    </style>
</head>

<body>
{include file="index/head" /}
<div class="col-xs-12 col-sm-12 col-md-12  wzdz-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>黑珍珠私人专属定制建站</h2>
        <p class="p2">定位设计+网站推广+后期运营=网站营销事半功倍 </p>
    </div>
</div>
<div class="col-xs-12 wzdz-slide1">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1  ">
        <div class="col-xs-12">
            <h2 class="c3 wzdz-slide1-tit">紧密结合定制建站四步骤-让建站高效起来</h2>
        </div>
        <div class="col-xs-12 col-md-6 wzdz-slide1-div">
            <p class="wzdz-slide1-p1">
                <span></span>网站定位
            </p>
            <hr>
            <p class="c6">企业品牌差异 核心产品优势 目标受众用户</p>
        </div>
        <div class="col-xs-12 col-md-6 wzdz-slide1-div">
            <p class="wzdz-slide1-p1">
                <span></span>快速开发
            </p>
            <hr>
            <p class="c6">拥有多年开发鹰眼</p>
        </div>

        <div class="col-xs-12 col-md-6 wzdz-slide1-div">
            <p class="wzdz-slide1-p1">
                <span></span>原型设计
            </p>
            <hr>
            <p class="c6">策划设计PC/手机微网站，突出卖点 提升网站形象、综合实力，吸引访客，提高销售转化率</p>
        </div>
        <div class="col-xs-12 col-md-6 wzdz-slide1-div">
            <p class="wzdz-slide1-p1">
                <span></span>运营指导
            </p>
            <hr>
            <p class="c6">网站上线准备、网站ICP备案包申请、微信公众服务号包 申请 网站操作应用专业培训，快速掌握网站操作，从入门到实战掌握微营销应用</p>
        </div>
    </div>
</div>


<div class="col-xs-12 wzdz-slide2 hidden-xs hidden-sm">
    <div class="col-xs-12 col-md-10 col-md-offset-1">
        <div class="col-xs-12">
            <h2 class=" wzdz-slide2-tit">黑珍珠建站与普通网站的区别</h2>
        </div>
        <div class="col-xs-12 wzdz-slide2-bg">
            <div class="col-xs-6 col-md-3 wzdz-slide2-p ">
                <p><span>。</span>专业团队定制策划，整站美观大气</p>
                <p><span>。</span>用户体验好，吸引访客咨询 &nbsp; &nbsp; &nbsp; </p>
                <p><span>。</span>内置友好SEO，网站优化效果好 &nbsp; </p>
                <p><span>。</span>PC+手机+微信网站三站合一，全网营销</p>
                <p><span>。</span>专业运营指导 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   </p>
            </div>
            <div class="col-xs-6 col-md-6 ">
                <!--<img src="" width="100%" height="100%" alt="">-->
            </div>
            <div class="col-xs-6 col-md-3 wzdz-slide2-p ">
                <p><span>。</span>定位不清晰，设计呆板不美观</p>
                <p><span>。</span>用户体验不佳，访客关注度低</p>
                <p><span>。</span>无SEO优化，不利网站收录和排名</p>
                <p><span>。</span>只有单独的PC站或微信网站，营销不全面</p>
                <p><span>。</span>无后期增值培训和稳定的售后服务</p>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 wzdz-slide2 visible-xs-block visible-sm-block" style="padding-left: 0;padding-right: 0;">


    <div class="col-xs-12 col-md-10 col-md-offset-1" style="padding-left: 0;padding-right: 0;">

        <div class="col-xs-12">
            <h3 class=" wzdz-slide2-tit">黑珍珠建站与普通网站的区别</h3>
        </div>
        <div class="col-xs-12 wzdz-slide2-bg" style="padding-left: 0;padding-right: 0;">
            <div class="col-xs-12 wzdz-slide2-p">

                <div class="col-xs-10 col-xs-offset-1 col-sm-5 col-sm-offset-1">
                    <p>黑珍珠建站</p>
                    <p><span>。</span>专业团队定制策划，整站美观大气</p>
                    <p><span>。</span>用户体验好，吸引访客咨询</p>
                    <p><span>。</span>内置友好SEO，网站优化效果好</p>
                    <p><span>。</span>PC+手机+微信网站三站合一，全 网营销</p>
                    <p><span>。</span>专业运营指导</p>
                </div>
                <div class="col-sm-5 col-xs-offset-1 col-xs-10">
                    <p>其它建站</p>
                    <p><span>。</span>定位不清晰，设计呆板不美观</p>
                    <p><span>。</span>用户体验不佳，访客关注度低</p>
                    <p><span>。</span>无SEO优化，不利网站收录和排名</p>
                    <p><span>。</span>只有单独的PC站或微信网站，营销不全面</p>
                    <p><span>。</span>无后期增值培训和稳定的售后服务</p>

                </div>


            </div>

            <!--<div class="col-xs-6 col-md-6">-->
            <!--<img src="" width="100%" height="100%" alt="">-->
            <!--</div>-->


        </div>


    </div>

</div>


<div class="col-xs-12 col-md-12 wzdz-slide3">
    <div class="col-xs-12 col-md-10 col-md-offset-1  wzdz-slide3-body hidden-padding-768">
        <div class="col-xs-12" style="padding-bottom: 30px;">
            <h2 class="wzdz-slide3-h2 wzdz-slide1-tit">
                网站整体解决方案
            </h2>
        </div>
        <div class="col-xs-6 col-md-3 wzdz-slide3-paddt hidden-padding-768">
            <div class="wzdz-slide3-div">
                <p class="wzdz-slide3-div-titp">
                    企业站
                </p>
                <p class="wzdz-slide3-div-topp">
                    PC站或手机微信站
                    <br> 5800元
                </p>
                <p>
                    精美创意Banner:3张以内
                </p>
                <p>
                    栏目：6个以内
                    <br> 内页：6个以内
                    <br> 产品：6个以内
                    <br> 文章：6个以内
                    <br>
                </p>
                <p>
                    交付周期：最快10个工作日
                </p>
                <p class="wzdz-slide3-div-botp">
                    <a href="#" style=""> 点击咨询</a></p>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 wzdz-slide3-paddt hidden-padding-768">
            <div class="wzdz-slide3-div">
                <p class="wzdz-slide3-div-titp">
                    营销站
                </p>
                <p class="wzdz-slide3-div-topp">
                    PC站或手机微信站
                    <br> 9800元
                </p>
                <p>
                    精美创意Banner:3张以内
                </p>
                <p>
                    栏目：10个以内
                    <br> 内页：10个以内
                    <br> 产品：10个以内
                    <br> 文章：10个以内
                    <br>
                </p>
                <p>
                    交付周期：最快10个工作日
                </p>
                <p class="wzdz-slide3-div-botp">
                    <a href="#" style=""> 点击咨询</a></p>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 wzdz-slide3-paddt hidden-padding-768">
            <div class="wzdz-slide3-div">
                <p class="wzdz-slide3-div-titp">
                    营销领先
                </p>
                <p class="wzdz-slide3-div-topp">
                    PC站或手机微信站
                    <br> 15800元
                </p>
                <p>
                    精美创意Banner:5张以内
                </p>
                <p>
                    栏目：12个以内
                    <br> 内页：12个以内
                    <br> 产品：12个以内
                    <br> 文章：12个以内
                    <br>
                </p>
                <p>
                    交付周期：最快15个工作日
                </p>
                <p class="wzdz-slide3-div-botp">
                    <a href="#" style=""> 点击咨询</a></p>
            </div>
        </div>
        <div class="col-xs-6 col-md-3 wzdz-slide3-paddt hidden-padding-768">
            <div class="wzdz-slide3-div">
                <p class="wzdz-slide3-div-titp">
                    企业站
                </p>
                <p class="wzdz-slide3-div-topp">
                    PC站+手机+微信站
                    <br> 5800元
                </p>
                <p>
                    精美创意Banner:5张以内
                </p>
                <p>
                    栏目：15个以内
                    <br> 内页：15个以内
                    <br> 产品：15个以内
                    <br> 文章：15个以内
                    <br>
                </p>
                <p>
                    交付周期：最快20个工作日
                </p>
                <p class="wzdz-slide3-div-botp">
                    <a href="#" style=""> 点击咨询</a></p>
            </div>
        </div>
    </div>
</div>
<!--底部开始-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>
<script src="_INDEX/style/addnav.js"></script>
</body>

</html>
