<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>软件开发-数据开放API</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{include file="index/head" /}
<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner sjkf-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>汇聚、开放、助力、共赢</h2>
        <p class="p2">灵活、快速构建报告查看数据</p>
        <p class="p2">迅速定位问题、获取洞察、定制为报告、例行化分析</p>
    </div>

</div>


<div class="col-xs-12 sjkf-slide2 ">
    <h3 style="">
        概况
    </h3>
    <div class="col-xs-12 col-md-10 col-md-offset-1 sjkf-slide2-top c6">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据开放及API分发服务平台确保组织的API程序发挥其最大潜力。通过API平台，组织可安全可靠且大规模地将Web服务发布为API。
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数据开放及API分发服务平台可推动在各委办局、合作伙伴和开发人员中使用API,同时可以在API门户中提供的业务和运营见解中受益。数据开放及API分
            发服务平台提供运营组织逬行API端到端管理所需的工具-涵盖从预配用户角色、创建使用计划和配额、应用用亍转换负载的策略到限制、分析、监视和警报的方面。

        </p>

    </div>

</div>
<div class="col-xs-12 sjkf-slide3 ">
    <h3 class="c3">数据开放及API分发服务平台的主要作用</h3>


    <div class="col-md-10 col-md-offset-1 col-xs-12 sjkf-slide3-top c6">

        <div class="col-md-3 col-xs-12 sjkf-slide2-body">
            <img src="_INDEX/images/sjkf-slide3-icon1.png" width="85" height="85" alt="">
            <p class="sjkf-slide2-top-p1">加速API的采用</p>
            <p class="c6 sjkf-slide2-top-p2">
                数据开放及API分发服务平台提供一流的开发人员体验。为 API 调用开发者呈现一个可提供文档和测试体验的开发人员门户网站，同时成功实现API调用的时间减少至最少。
            </p>
        </div>
        <div class="col-md-3 col-xs-12 sjkf-slide2-body  sjkf-slide2-body-2">
            <img src="_INDEX/images/sjkf-slide3-icon2.png" width="85" height="85" alt="">
            <p class="sjkf-slide2-top-p1">保护提供的API</p>
            <p class="c6 sjkf-slide2-top-p2">
                利用身份验证、速率限制和配额保护在线提供的API服务。在后端的本机身份验证协议中连接到后端，并在前端统一。利用缓存缓解负载压力
            </p>
        </div>
        <div class="col-md-3 col-xs-12 sjkf-slide2-body">
            <img src="_INDEX/images/sjkf-slide3-icon3.png" width="85" height="85" alt="">
            <p class="sjkf-slide2-top-p1">将分析和报告转换为结果</p>
            <p class="c6 sjkf-slide2-top-p2">
                理解开发人员正在如何使用 API，并基于这些见解实现价值增长。确定对业务影响最大的趋势。以近乎实时的方式直观显示 API 性能、错误率和应用情况。
            </p>
        </div>
        <div class="col-md-3 col-xs-12 sjkf-slide2-body  sjkf-slide2-body-2">
            <img src="_INDEX/images/sjkf-slide3-icon4.png" width="85" height="85" alt="">
            <p class="sjkf-slide2-top-p1">加速API的采用</p>
            <p class="c6 sjkf-slide2-top-p2">
                现在大多组织都拥有数以千计的 API，但是碎片化体验、不良文档和有限的可发现性妨碍了团队间的合作。数据开放及API分发服务平台，创建统一的外观和API目录以提升业务效率。
            </p>
        </div>


    </div>

</div>


<div class="col-xs-12 sjkf-slide4">
    <h3> 数据开放及API分发服务平台的优势

    </h3>

    <div class="col-xs-10 col-xs-offset-1 ">
        <p>
            降低成本并提高效率 <br>
            借助数据开放及API分发服务平台，用户只需为API调用以及传输出去的数据量付费。无最低费用，无预先承诺。
        </p>

        <p>
            简化API开发 <br>
            数据开放及API分发眼务平台可以同时运行同一 API的多个版本.从而使您能够快速迭代、测试和发布\新版本。
        </p>

        <p>
            精准权威 <br>
            数据开放及API分发服务平台提供干万级海里、准确、权威的基础数据服务，并可为用户更灵活地定制各个功能和所需的数据。

        </p>

        <p>
            任意规模都能高效使用
            数据开放及API分发服务平台能够利用全球范围的边缘位舌网络为居终用户提供尽可能低的API谤求和响应延迟。此外，API平台还可帮助用户通过限制规则来 管理流量，以便后端操作可以经受住流屋峰值的考验。
        </p>

        <p>
            轻松监控API活动 <br>
            在API部署后，数据开放及API分发服务平台会提供控制面板，以便直观地监控对API服务的调用，查吞API调用的性能指标和相关信息、数据延迟以及错误率。
        </p>

        <p>

            灵活的安全控制机制 <br>
            数据开放及API分发服务平台提供多层防御，多点集群部署.实时预警监控，高可用海里数据框架，保证数据API调用的安全、稳定、高效。提供可以授权访问API和控制服务操作的工具。
        </p>

        <p>

            无服务器运行API <br>
            数据开放及API分发服务平台，可以创建完全无服务器的API。通过API平台，用户可创建基于REST的API, APP和Web应用均可使用这些API执行所有繁里工作以及数据，计算资源调用。
        </p>

        <p>

            互利共赢 <br>
            开放融合，互利共赢。聚合政府、企业、开发者、合作伙伴数据及限务资源为百万级开发者和企此提供数据服务。
        </p>
    </div>

</div>


<div class="col-xs-12 sjkf-slide5">
    <h3 class="c3">
        数据开放及API分发服务平台的特点
    </h3>
    <div class="col-xs-12 col-md-10 col-md-offset-1">


        <div class="col-md-3 col-xs-6">
            <img src="_INDEX/images/sjkf-slide5-img1.jpg" width="100%" alt="">
            <p class="sjkf-slide5-p1">
                部署和管理API

            </p>
            <p class="sjkf-slide5-p2">
                数据开放及API分发服务平台，提供用户轻松简单的创建自定义API，用户可以在平台外部通过公共访问HTTP端来调用执行API服务。
                利用API 控制台，可以定义REST API及其关联的资源和方法、管理API生命周期、生成客户端SDK ,并能查看API指示。
            </p>
        </div>
        <div class="col-md-3 col-xs-6">
            <img src="_INDEX/images/sjkf-slide5-img2.jpg" width="100%" alt="">
            <p class="sjkf-slide5-p1">
                富有弹性

            </p>
            <p class="sjkf-slide5-p2">
                数据开放及AP份发服务平台，可以根据每秒的 请求数置来为API中的每个HTTP方法设置限制规则，从而帮助管理者设定后端流量。
                此外，管理者还可以为AP服务设置包含可自定义密钥和生存时间（以秒为单位）的缓存，以避免每个请求都调用后端服务。
                数据开放及API分发服务平台可处理AP膀收到的任何级别的流置，因此API发布者可以专注于业务逻辑和服务，而不是将时间 用在维护基础设施上。

            </p>
        </div>
        <div class="col-xs-12 visible-xs-block visible-sm-block">

        </div>

        <div class="col-md-3 col-xs-6">
            <img src="_INDEX/images/sjkf-slide5-img3.jpg" width="100%" alt="">
            <p class="sjkf-slide5-p1">
                API生命周期管理

            </p>
            <p class="sjkf-slide5-p2">
                数据开放及API分发服务平台使您可以同时运行同一API的多个版本，以便应用程序即使在最新版本发布以后也可继续调用之前的API版本。
                还可帮助您管理每个API版本的多个发布阶段，如Alpha、Beta和生产阶段。

            </p>
        </div>
        <div class="col-md-3 col-xs-6">
            <img src="_INDEX/images/sjkf-slide5-img4.jpg" width="100%" alt="">
            <p class="sjkf-slide5-p1">
                API操作控制

            </p>
            <p class="sjkf-slide5-p2">
                在API部署并使用之后，数据开放及API分发服务 平台提供了一个控制面板，可直观地监控服务调 用的情况。您可以获得一些后端性能指标，如 API调用次数、延迟和错误率等。

            </p>
        </div>
    </div>

</div>
<!--底部开始-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>
<script src="_INDEX/style/addnav.js"></script>


</body>
</html>