<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>软件开发-中小企业云</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="">

{include file="index/head" /}

<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner fwpt-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>卓越于芯，完美于品</h2>
        <p class="p2">黑珍珠科技，一起创造科技未来</p>
        <p class="p2"></p>
    </div>

</div>


<div class="col-xs-12 slide zxqy-slide2">
    <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="col-md-7 col-xs-12 zxqy-slide">
            <h4 class="c3">概述</h4>
            <p class="c6">
                中小企业云一站式服务平台是软通动力智慧城市战略规划中、面向企业服务和产业发展
                支持的平台型解决方案。平台以推进社会经济要素信息化建设为切入点，遵循服务于社会创
                新发展、着力“互联网+产业”的行业实践，最终实现产业大数据沉淀、挖掘与应用、推进
                信息消费，实现产业互联网技术应用水平与大数据工具应用水平的同步提升。
            </p>
        </div>
        <div class="col-md-offset-1 col-md-4 col-xs-12" style="text-align: center;">
            <img src="_INDEX/images/zxqy-slide2.png" width="100%" alt="">
        </div>
    </div>
</div>

<div class="col-xs-12 zxqy-slide3">
    <div class="col-md-10 col-md-offset-1 col-xs-12">

        <div class="col-md-4 col-xs-12">
            <img src="_INDEX/images/zxqy-slide3.png" width="100%" alt="">
        </div>

        <div class="col-md-7 col-md-offset-1 col-xs-12 zxqy-slide">
            <h4 class="c3">
                <span>功能</span>体系
            </h4>
            <p class="c6">
                中小企业云一站式服务平台是软通动力智慧城市战略规划中、面向企业服务和产业发展
                支持的平台型解决方案。平台以推进社会经济要素信息化建设为切入点，遵循服务于社会创
                新发展、着力“互联网+产业”的行业实践，最终实现产业大数据沉淀、挖掘与应用、推进
                信息消费，实现产业互联网技术应用水平与大数据工具应用水平的同步提升。
            </p>
        </div>


    </div>


</div>

<div class="col-xs-12 zxqy-slide4">
    <div class="col-md-10 col-md-offset-1 col-xs-12">


        <div class="col-md-7 col-xs-12  zxqy-slide">
            <h4 class="c3">
                <span>客户</span>群体及意义阐述
            </h4>
            <p class="c6">
                平台面向政府、运营商、园区及集团型企业用户提供线上、线下相融合的各种服务，目的
                是提升产业资源运用效率、降低产业信息化成本、促进产业结构转型升级和推动社会经济实现
                创新、可持续性发展。
            </p>
        </div>

        <div class="col-md-4 col-md-offset-1 col-xs-12">
            <img src="_INDEX/images/zxqy-slide4.jpg" width="100%" alt="">
        </div>


    </div>


</div>


<div class="col-xs-12 zxqy-slide5">
    <div id="myTab" class="col-md-10 col-md-offset-1 col-xs-12 zxqy-slide5-top hidden-padding-768" style="text-align: center;">


        <div class="col-md-4 col-md-offset-1 col-xs-5 hidden-padding-768" style="
        /*margin-left: 20.85%;*/
">
            <a href="?id={$type4->id}" >
                {$type4->name}
            </a>
        </div>
        <span class="col-md-2 hidden-sm hidden-xs">

        </span>
        <div class="col-md-4 col-xs-7">
            <a href="?id={$type5->id}">
                {$type5->name}
            </a>
        </div>

    </div>

    <div class="col-md-10 col-md-offset-1 col-xs-12 hidden-padding-768">

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active " id="home">
                <p class="c6" style="padding: 0 20px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    {eq value="$typeid" name='5'}{$type5->abstract}{else}{$type4->abstract}{/eq}
                </p>


                <div class="col-xs-12 zxqy-slide5-body hidden-padding-768 ">
                    {volist id='item' name='news'}
                    <div class="col-md-3 col-xs-6 zxqy-slide5-img">
                        <a href="/index/index/newscontent.html?id={$item->id}"><img src="{$item->file}" width="100%" alt=""></a>
                        <a href="/index/index/newscontent.html?id={$item->id}"><h4 class="c3">
                            {$item->title}
                        </h4></a>
                        <a href="/index/index/newscontent.html?id={$item->id}"><p class="c6">
                            {$item->abstract}...
                        </p></a>
                    </div>
                    {/volist}
                    <div class="col-xs-12 "></div>
                    <div class="col-xs-12 "></div>
                    <div class="col-xs-12">
                        <div class="zxqy-slide5-bottom">
                            <a href="#">
                                查看更多
                            </a>
                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>


</div>


<!--底部开始-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>
<script src="_INDEX/style/addnav.js"></script>


</body>
</html>