


<div class="col-xs-12 col-sm-12 col-md-12  slide4">

    <div class="col-md-10 col-md-offset-1 col-xs-12 clear-padding ">
        <div class="col-xs-12 col-md-3  " style="padding-left: 0;">
            <h3 class="slide4-zb" style="white-space: nowrap;">准备开展业务？</h3>
        </div>
        <div class="col-xs-12 col-md-6 clear-padding ">


            <div class="col-xs-6 col-sm-5  col-sm-offset-1 col-md-5 col-md-offset-1 " style="padding-left: 0; padding-right: 5px;">
                <h4 class="slide4-but slide4-but1">
                    <a href="{:url('station')}" style="white-space: nowrap;">立即创建网站</a>
                </h4>
            </div>
            <div class="col-xs-6  col-sm-5  col-md-5 " style="padding-left: 5px; padding-right: 0px;">
                <h4 class="slide4-but slide4-but2">
                    <a href="{:url('proxypattern')}"  style="white-space: nowrap;">成为渠道商</a>
                </h4>
            </div>

        </div>

        <div class="col-xs-12 col-md-3     slide4-tel" style="text-align: right;margin-top: 10px; white-space: nowrap;">
            或者拨打: <br class="hidden-xs hidden-sm">
            0371-60297655
            <br>
            <img src="_INDEX/images/7-24.png" width="250" alt="">
        </div>
    </div>


    <!--slide4结束-->
</div>
<!--slide4结束-->



<div class="col-md-12 col-sm-12 col-xs-12 slide5 hidden-xs hidden-sm">
    <div class="col-xs-offset-1 col-xs-10  slide5-top">


        <div class="col-xs-3  slide5-767">
            <p class="slide5-tit">联系我们</p>
            <p>河南·郑州 金水区创业园北林路16号</p>
            <p>联系电话：0371-60297655</p>
            <p>Email：info@hzzkj.com</p>
            <p>邮编：450000</p>
            <img src="_INDEX/images/erweima.png" alt="二维码">
            <p class="max-display">
                <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_24x24 max-display">
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tqq"></a>
                <a href="" class="jiathis jiathis_txt jtico jtico_jiathis"
                   target="_blank"></a>

            </div>

            <!-- JiaThis Button END -->
            </p>
        </div>
        <div class="col-xs-3  ">
            <p class="slide5-tit">"互联网+" 新闻中心</p>
            <p class="slide5-tit-2">加快HTML5开发可视化编辑器 </p>
            <p>随着HTML5游戏《围住神经猫》爆红网络， 越来越多的游戏开发者把目光投向HTML5领域。但是HTML5游戏...</p>
            <p class="slide5-tit-2">HTML5 Canvas中绘制矩形实例教程</p>
            <p>本文翻译自Steve Fulton Jeff Fulton HTML5Canvas, Chapter 2, The Basic RectangleShape. 让我们来看一下...</p>

        </div>

        <div class="col-xs-3  ">
            <p class="slide5-tit">产品与服务</p>

            <div class="col-md-6 col-sm-6 cpfw-tit">
                <p class="cpfw cpfw-a">
                    <a href="#">企业建站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">定制网站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">小程序开发</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信分销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">网上开店</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">软件及系统开发服务</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信营销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">SEO优化</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">基础口碑服务</a>
                </p>

            </div>

            <div class="col-xs-5  cpfw-tit" style="text-align: right;">
                <p class="cpfw cpfw-a">
                    <a href="#">代理政策</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理流程</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理注册</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理咨询</a>
                </p>


            </div>
        </div>
        <div class="col-xs-3  ">
            <p class="slide5-tit">发送留言</p>
            <form action="{:url('liuyan')}" method="post">
                <div class="form-group">

                    <input type="name" name="name" class="form-control" id="exampleInputEmail1" placeholder="姓名">
                </div>
                <div class="form-group">

                    <input type="tel" name="mobile" class="form-control" id="exampleInputEmail1" placeholder="联系方式">
                </div>
                <div class="form-group">

                    <textarea class="form-control" name="content" rows="3" placeholder="留言内容"></textarea>
                </div>

                <button type="submit"  class="btn btn-default btn-footer">提 交</button>
            </form>

        </div>


    </div>


</div>


<div class="col-md-12  col-xs-12 col-sm-12 footer-foot-top hidden-xs hidden-sm ">


    <div class="col-xs-8 col-xs-offset-2  footer-foot-body foot-body-1  ">
        <a href="#">关于黑珍珠 |</a>
        <a href="#">联系我们 |</a>
        <a href="#">付款方式 |</a>
        <a href="#">网站备案 |</a>
        <a href="#">价格总览 |</a>
        <a href="#">帮助中心 |</a>
        <a href="#">诚聘英才 |</a>
        <a href="#">新闻中心 |</a>
        <a href="#">相关下载</a>
    </div>

    <div class="col-xs-8 col-xs-offset-2  footer-foot-body foot-body-2  ">
        <a href="#">网站反馈 |</a>
        <a href="#">企业建站 |</a>
        <a href="#">软件开发 |</a>
        <a href="#">域名申请 |</a>
        <a href="#">虚拟主机 |</a>
        <a href="#">企业邮箱 |</a>
        <a href="#">营销推广 |</a>
        <a href="#">云主机 |</a>
        <a href="#">技术支持尽在黑珍珠</a>
    </div>

    <div class="col-xs-8 col-xs-offset-2  footer-foot-body foot-body-1 ">
        <p>© 2017黑珍珠科技备案号: <a href="#">豫ICP备 15011304-5号</a></p>
    </div>
</div>




<div class="col-md-12 col-sm-12 col-xs-12 slide5 hidden-md hidden-lg">
    <div class="col-md-offset-1 col-md-10 col-xs-12 col-sm-12 slide5-top">


        <div class="col-xs-12 slide5-767">
            <p class="slide5-tit">联系我们</p>
            <p>河南·郑州 金水区创业园北林路16号</p>
            <p>联系电话：0371-60297655</p>
            <p>Email：n89@163.com</p>
            <p>邮编：450000</p>
            <img src="_MOBILE/images/erweima.png" alt="二维码">
            <p class="max-display">
                <!-- JiaThis Button BEGIN -->

            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
            </p>
        </div>

    </div>


</div>

<!--添加的右侧浮动导航样式开始-->
<div class="side-bar hidden-xs">
    <a target="_blank" href="/index/login/" class="icon-blog"></a>
    <a href="#" class="icon-mail">mail</a>

    <a href="" class="icon-chat"><div class="chat-tips"><i></i><img style="width:138px;height:138px;" src="_INDEX/images/code.jpg" alt=""></div></a>
    <a href="#" class="icon-qq"></a>
</div>
<!--添加的右侧浮动导航样式结束-->





<!-- 添加的新导航样式 -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script>

$(document).ready(function(){
      $('li.dropdown').mouseover(function() {
        $(this).addClass('open');    }).mouseout(function() {        $(this).removeClass('open');    });  
})

</script>
