
<nav class="navbar navbar-fixed-top " style="">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed glyphicon glyphicon-align-justify" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
         

            </button>
            <a class="navbar-brand" href="#"> <img id="logo" src="_INDEX/images/logo.png" alt="" style=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li><a href="{:url('index')}">首页</a></li>
                <li class="dropdown">
                    <a href="{:url('station')}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">企业建站 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                             <li><a href="{:url('station')}">企业建站</a></li>
                        <li><a href="{:url('customized')}">定制网站</a></li>
                        <li><a href="{:url('onlineshop')}">网上开店</a></li>
                        <li><a href="{:url('wechatdistribution')}">微信分销</a></li>
                        <li><a href="{:url('websitecase')}">建站案例</a></li>
                        <li><a href="{:url('smallprogram')}"> 微信小程序</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{:url('itservice')}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">软件开发 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('itservice')}">IT服务众包</a></li>
                        <li><a href="{:url('enterprisecloud')}">中小企业云</a></li>
                        <li><a href="{:url('dataopenapi')}">数据开放平台</a></li>
                        <li><a href="{:url('crossbordertrade')}">跨境贸易服务</a></li>
                        <li><a href="{:url('serviceplatform')}">协同制造</a></li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href=" {:url('seo')}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">营销推广 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('seo')}">SEO优化</a></li>
                        <li><a href="{:url('wechatmarketing')}">微信营销</a></li>
                        <li><a href="{:url('wordofmouth')}">基础口碑服务</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="{:url('agencypolicy')}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">渠道代理 <span class="caret"></span></a>
                    <ul class="dropdown-menu">

                        <li><a href="{:url('proxypattern')}">代理模式</a></li>
                        <li><a href="{:url('agencypolicy')}">代理政策</a></li>
                        <li><a href="{:url('agencyconsultation')}">代理咨询</a></li>


                    </ul>
                </li>




                <li><a href="{:url('news')}">新闻中心</a></li>
                <li><a href="{:url('contactus')}">联系我们</a></li>






            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

