

<div class="nav-banner col-md-12 col-sm-12 hidden-xs " style="z-index:66666; ">

    <div class="col-xs-3" style="display: inline-block;">
        <a href="{:url('index')}">
             <img src="_INDEX/images/logo.png" width="" alt="">
             </a>
   

    </div>
    <div class="col-xs-9 " style="white-space: normal;">
        <div class=" col-xs-2  nav-qyjz nav-list-1 addhover">
            <a href="{:url('station')}" class="nda ">企业建站</a>
        </div>
        <div class=" col-xs-2 nav-list-2 addhover">
            <a href="{:url('itservice')}" class="nda ">软件开发</a>
        </div>

        <div class=" col-xs-2  nav-list-4 addhover">
            <a href=" {:url('seo')}" class="nda ">营销推广</a>
        </div>
        <div class=" col-xs-2  nav-list-5 addhover">
            <a href="{:url('agencypolicy')}" class="nda ">渠道代理</a>
        </div>
        <div class=" col-xs-2  nav-list-6 addhover">
            <a href="{:url('news')}" class="nda ">新闻中心</a>
        </div>
        <div class=" col-xs-2  nav-list-6 addhover">
            <a href="{:url('contactus')}" class="nda ">联系我们</a>
        </div>

    </div>

    <div class="col-xs-10 col-xs-offset-2" id="nav-list-1" style=" ">
        <div class="col-xs-2 addhover" style="">
            <a href="{:url('station')}" class="nda">企业建站</a>
        </div>
        <div class="col-xs-2 addhover" style="">
            <a href="{:url('customized')}" class="nda">定制网站</a>
        </div>
        <div class="col-xs-2 addhover" style="">
            <a href="{:url('onlineshop')}" class="nda">网上开店</a>
        </div>
        <div class="col-xs-2 addhover" style="">
            <a href="{:url('wechatdistribution')}" class="nda">微信分销</a>
        </div>
        <div class="col-xs-2 addhover" style="">
            <a href="{:url('websitecase')}" class="nda">建站案例</a>
        </div>
        <div class="col-xs-2 addhover" style="">
            <a href="{:url('smallprogram')}" class="nda">微信小程序</a>
        </div>

    </div>

    <div class="col-xs-10 col-xs-offset-2" id="nav-list-2" style=" ">

        <div class="col-xs-2 addhover" style="">
            <a href="{:url('itservice')}" class="nda">IT服务众包</a>
        </div>
        <div class="col-xs-2 addhover" style="">
            <a href="{:url('enterprisecloud')}" class="nda">中小企业云</a>
        </div>
        <div class="col-xs-3 addhover" style="">
            <a href="{:url('dataopenapi')}" class="nda">数据开放平台</a>
        </div>

        <div class="col-xs-3 addhover" style="">
            <a href="{:url('crossbordertrade')}" class="nda">跨境贸易服务</a>
        </div>
        <div class="col-xs-2 addhover" style="">
            <a href="{:url('serviceplatform')}" class="nda">协同制造</a>
        </div>


    </div>
    <div class="col-xs-10 col-xs-offset-2  " id="nav-list-4" style=" ">
        <div class="col-xs-3  col-xs-offset-1 addhover" style="">
            <a href="{:url('seo')}" class="nda">SEO优化</a>
        </div>
        <div class="col-xs-3 addhover" style="">
            <a href="{:url('wechatmarketing')}" class="nda">微信营销</a>
        </div>
        <div class="col-xs-3 addhover" style="">
            <a href="{:url('wordofmouth')}" class="nda">基础口碑服务</a>
        </div>
    </div>

    <div class="col-xs-10 col-xs-offset-2  " id="nav-list-5" style=" ">
        <div class="col-xs-3 col-xs-offset-2 addhover" style="">
            <a href=" {:url('proxypattern')}" class="nda">代理模式</a>
        </div>
        <div class="col-xs-3   addhover" style="">
            <a href="{:url('agencypolicy')}" class="nda">代理政策</a>
        </div>
        <div class="col-xs-3 addhover" style="">
            <a href="{:url('agencyconsultation')}" class="nda">代理咨询</a>
        </div>


    </div>

</div>
<nav class="navbar navbar-default add-navbar visible-xs-block">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{:url('index')}"><img src="_MOBILE/images/logo.png" alt=""></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav add-navbar-nav display">



                <li class="dropdown">
                    <a href="{:url('station')}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">企业建站 </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('station')}">企业建站</a></li>
                        <li><a href="{:url('customized')}">定制网站</a></li>
                        <li><a href="{:url('onlineshop')}">网上开店</a></li>
                        <li><a href="{:url('wechatdistribution')}">微信分销</a></li>
                        <li><a href="{:url('websitecase')}">建站案例</a></li>
                        <li><a href="{:url('smallprogram')}">微信小程序</a></li>

                    </ul>
                </li>

                <li class="dropdown">
                    <a href="{:url('itservice')}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">软件开发 </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('itservice')}">IT服务众包</a></li>
                        <li><a href="{:url('enterprisecloud')}">中小企业云</a></li>
                        <li><a href="{:url('dataopenapi')}">数据开放平台</a></li>
                        <li><a href="{:url('crossbordertrade')}">跨境贸易服务</a></li>
                        <li><a href="{:url('serviceplatform')}">协同制造</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{:url('seo')}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">营销推广 </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('seo')}">SEO优化</a></li>
                        <li><a href="{:url('wechatmarketing')}">微信营销</a></li>
                        <li><a href="{:url('wordofmouth')}">基础口碑服务</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="{:url('agencypolicy')}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">渠道代理 </a>
                    <ul class="dropdown-menu">
                        <li><a href="{:url('agentmodel')}">代理模式</a></li>
                        <li><a href="{:url('agencypolicy')}">代理政策</a></li>
                        <li><a href="{:url('agencyconsultation')}">代理咨询</a></li>
                    </ul>
                </li>

                <li><a href="{:url('contactus')}">联系我们</a></li>

            </ul>


        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
