<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>黑珍珠官网</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->


</head>
<body>

{include file="index/head" /}

<div class="col-xs-12 col-sm-12 col-md-12 banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h1>"互联网+" 领域开拓者</h1>
        <p class="font-light p1">专注于网络设计体验 , 专业与互联网解决方案</p>
        <p class="p2">超10000用户的放心选择</p>
        <p class="begin">开启你的互联网之旅</p>
        <div class="col-md-10 col-md-offset-1 add-icon max-display">
            <div class="row">
                <div class="col-sm-2 col-md-2  banner-icon ">
                    <div class="thumbnail">
                        <div class="banner-icon-top">
                            <a href="{:url('station')}"><img src="_INDEX/images/banner-icon1.png" alt="企业建站"></a>
                        </div>

                        <div class="caption">
                            <a href="{:url('station')}"><h3>企业建站</h3></a>
                        </div>
                        <span class="icon-geli"></span>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 banner-icon ">
                    <div class="thumbnail">
                        <div class="banner-icon-top">
                            <a href="{:url('itservice')}"> <img src="_INDEX/images/banner-icon2.png" alt="软件开发"></a>
                        </div>

                        <div class="caption">
                            <a href="{:url('itservice')}"><h3>软件开发</h3></a>
                        </div>
                        <span class="icon-geli"></span>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 banner-icon ">
                    <div class="thumbnail">
                        <div class="banner-icon-top">
                            <a href="{:url('seo')}"> <img src="_INDEX/images/banner-icon4.png" alt="营销推广"></a>
                        </div>

                        <div class="caption">
                            <a href="{:url('seo')}"><h3>营销推广</h3></a>
                        </div>
                        <span class="icon-geli"></span>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 banner-icon ">
                    <div class="thumbnail">
                        <div class="banner-icon-top">
                            <a href="{:url('agencypolicy')}"> <img src="_INDEX/images/banner-icon5.png" alt="渠道代理"></a>
                        </div>

                        <div class="caption">
                            <a href="{:url('agencypolicy')}"><h3>渠道代理</h3></a>
                        </div>
                        <span class="icon-geli"></span>
                    </div>
                </div>
                <div class="col-sm-2 col-md-2 banner-icon ">
                    <div class="thumbnail">
                        <div class="banner-icon-top">
                            <a href="{:url('news')}"> <img src="/public/static/index/images/banner-icon3.png" alt="..."></a>
                        </div>

                        <div class="caption">
                            <a href="{:url('news')}"><h3>新闻中心</h3></a>
                        </div>
                        <span class="icon-geli"></span>
                    </div>
                </div>


                <div class="col-sm-2 col-md-2 banner-icon ">
                    <div class="thumbnail">
                        <div class="banner-icon-top">
                            <a href="{:url('contactus')}"> <img src="_INDEX/images/banner-icon6.png" alt="联系我们"></a>
                        </div>

                        <div class="caption">
                            <a href="{:url('contactus')}"><h3>联系我们</h3></a>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>


</div>


<div class=" col-xs-12 col-sm-12 col-md-12  slide1 ">
    <h3 class=" slide-h qiyeanli">
        企业案例
    </h3>

    <div class="col-md-12 ">
        <div class="row  hidden-sm hidden-xs  ">

            <div class="col-xs-offset-1 col-xs-2 slide-thumbnail-father" style="">
                <div class="thumbnail slide-thumbnail">
                    <div class="caption">
                        <p class="slide1-p" style="text-align: center;">建站案例</p>
                    </div>
                    <img src="_INDEX/images/slide-jz.png" width="100%" class="slide-img" alt="...">
                    <div class="slide-more">
                        <a href="#">点击查看 <span></span> </a>
                    </div>

                </div>
            </div>

            <div class="col-xs-2 slide-thumbnail-father slide-thumbnail-father-l ">
                <div class="thumbnail slide-thumbnail">
                    <div class="caption">
                        <p class="slide1-p">商城案例</p>
                    </div>
                    <img src="_INDEX/images/slide1-sc.png" width="100%" class="slide-img" alt="...">
                    <div class="slide-more">
                        <a href="#">点击查看 <span></span> </a>
                    </div>

                </div>
            </div>
            <div class="col-xs-2 slide-thumbnail-father">
                <div class="thumbnail slide-thumbnail">
                    <div class="caption">
                        <p class="slide1-p">系统案例</p>
                    </div>
                    <img src="_INDEX/images/slide-xt.png" width="100%" class="slide-img" alt="...">
                    <div class="slide-more">
                        <a href="#">点击查看 <span></span> </a>
                    </div>

                </div>
            </div>
            <div class="col-xs-2 slide-thumbnail-father slide-thumbnail-father-r">
                <div class="thumbnail slide-thumbnail">
                    <div class="caption">
                        <p class="slide1-p">APP案例</p>
                    </div>
                    <img src="_INDEX/images/slide-app.png" width="100%" class="slide-img" alt="...">
                    <div class="slide-more">
                        <a href="#">点击查看 <span></span> </a>
                    </div>

                </div>
            </div>
            <div class="col-xs-2 slide-thumbnail-father" style="">
                <div class="thumbnail slide-thumbnail">
                    <div class="caption">
                        <p class="slide1-p" style="text-align: center;">小程序案例</p>
                    </div>
                    <img src="_INDEX/images/slide-xcx.png" width="100%" class="slide-img" alt="...">
                    <div class="slide-more">
                        <a href="#">点击查看 <span></span> </a>
                    </div>

                </div>
            </div>

        </div>


        <div class="row visible-sm-block visible-xs-block index-slide2-padtop">

            <div class="col-xs-10 col-xs-offset-1 anli-icon-top">
                <div class="col-xs-10 anli-icon anli-icon-1">
                    <p>官网设计</p>
                    <p>BRAND WEBSITE</p>

                </div>

            </div>
            <div class="col-xs-10 col-xs-offset-1 anli-icon-top">
                <div class="col-xs-10 anli-icon anli-icon-2">
                    <p>商城案例</p>
                    <p>MALL CASE
                    </p>

                </div>

            </div>
            <div class="col-xs-10 col-xs-offset-1 anli-icon-top">
                <div class="col-xs-10 anli-icon anli-icon-3">
                    <p>系统案例</p>
                    <p>SYSTEM CASE
                    </p>

                </div>

            </div>
            <div class="col-xs-10 col-xs-offset-1 anli-icon-top">
                <div class="col-xs-10 anli-icon anli-icon-4">
                    <p>APP案例</p>
                    <p>APP CASE</p>

                </div>

            </div>
            <div class="col-xs-10 col-xs-offset-1 anli-icon-top anli-icon-bottom">
                <div class="col-xs-10 anli-icon anli-icon-5">
                    <p>小程序案例</p>
                    <p>SMALL ROUTINE CASE </p>

                </div>

            </div>


        </div>
    </div>
</div>


<div class="col-xs-12 col-sm-12 col-md-12  slide2">

    <h3 class=" slide-h hezuo ">
        长期合作客户
    </h3>
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1  index-slide2-padtop  ">
        <div class="row ">
            <div class="col-md-3 col-xs-6 thumbnail-aback-top ">
                <a href="#" class="thumbnail   thumbnail-aback">
                    <img src="_INDEX/images/index-logo1.jpg" width="100%" height="100%" alt="...">
                    <div class="thumbnail-aback-son">
                        <p style="">
                            宝钢集团
                        </p>
                    </div>
                </a>

            </div>
            <div class="col-md-3 col-xs-6 thumbnail-aback-top ">
                <a href="#" class="thumbnail   thumbnail-aback">
                    <img src="_INDEX/images/index-logo2.jpg" width="100%" height="100%" alt="...">
                    <div class="thumbnail-aback-son">
                        <p>PLUG AND PLAY</p>
                    </div>

                </a>

            </div>
            <div class="col-xs-12  visible-xs-block visible-sm-block">
            </div>
            <div class="col-md-3 col-xs-6 thumbnail-aback-top ">
                <a href="#" class="thumbnail   thumbnail-aback">
                    <img src="_INDEX/images/index-logo3.jpg" width="100%" height="100%" alt="...">
                    <div class="thumbnail-aback-son">
                        <p>中信重工</p>
                    </div>

                </a>

            </div>
            <div class="col-md-3 col-xs-6 thumbnail-aback-top ">
                <a href="#" class="thumbnail   thumbnail-aback">
                    <img src="_INDEX/images/index-logo4.jpg" width="100%" height="100%" alt="...">
                    <div class="thumbnail-aback-son">
                        <p>西亚斯集团（中国）</p>
                    </div>

                </a>

            </div>
        </div>


        <div class="row  hidden-sm hidden-xs  ">
            <div class="col-xs-3 thumbnail-aback-top ">
                <a href="#" class="thumbnail   thumbnail-aback">
                    <img src="_INDEX/images/index-logo5.jpg" width="100%" height="100%" alt="...">
                    <div class="thumbnail-aback-son">
                        <p>中国建设银行</p>
                    </div>

                </a>

            </div>
            <div class="col-xs-3 thumbnail-aback-top ">
                <a href="#" class="thumbnail   thumbnail-aback">
                    <img src="_INDEX/images/index-logo6.jpg" width="100%" height="100%" alt="...">
                    <div class="thumbnail-aback-son">
                        <p> 建业集团</p>
                    </div>

                </a>

            </div>
            <div class="col-xs-3 thumbnail-aback-top ">
                <a href="#" class="thumbnail   thumbnail-aback">
                    <img src="_INDEX/images/index-logo7.jpg" width="100%" height="100%" alt="...">
                    <div class="thumbnail-aback-son">
                        <p>SINIGER</p>
                    </div>

                </a>

            </div>
            <div class="col-xs-3 thumbnail-aback-top ">
                <a href="#" class="thumbnail   thumbnail-aback">
                    <img src="_INDEX/images/index-logo8.jpg" width="100%" height="100%" alt="...">
                    <div class="thumbnail-aback-son">
                        <p>国电新创</p>
                    </div>

                </a>

            </div>

        </div>


    </div>


</div>

<div class="col-xs-12 col-sm-12 col-md-12  slide3">

    <h3 class=" slide-h hezuo ">
        我们的优势
    </h3>


    <div class=" col-sm-12 col-md-10 col-md-offset-1  hidden-xs hidden-sm ">
        <div class="row youshi ">

            <div class=" col-xs-4">
                <div class="thumbnail slide-thumbnail3">
                    <img src="_INDEX/images/youshi-1.png" alt="...">
                    <div class="caption">
                        <h3>黑珍珠十年金牌品质保证</h3>
                        <p class="slide-p1">10年行业经验，300人服务经营团队百万客户信赖选择</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="thumbnail slide-thumbnail3">
                    <img src="_INDEX/images/youshi-2.png" alt="...">
                    <div class="caption">
                        <h3>拥有顶尖核心技术人才</h3>
                        <p class="slide-p1">黑珍珠业务范围涵盖各技术语言支持，团队技术达一流标准</p>
                    </div>
                </div>
            </div>
            <div class=" col-xs-4">
                <div class="thumbnail slide-thumbnail3">
                    <img src="_INDEX/images/youshi-3.png" alt="...">
                    <div class="caption">
                        <h3>全面提升网站营销价值</h3>
                        <p class="slide-p1">通过搜索引擎及基础口碑建设，助力中小企业网站引流</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-12"></div>
            <div class=" col-xs-4">
                <div class="thumbnail slide-thumbnail3">
                    <img src="_INDEX/images/youshi-4.png" alt="...">
                    <div class="caption">
                        <h3>覆盖全国本地化服务</h3>
                        <p class="slide-p1">团队业务支持目前国内覆盖率达58个县市</p>
                    </div>
                </div>
            </div>
            <div class="col-xs-4">
                <div class="thumbnail slide-thumbnail3">
                    <img src="_INDEX/images/youshi-5.png" alt="...">
                    <div class="caption">
                        <h3>打造合作共赢互联网生态理念</h3>
                        <p class="slide-p1">开展代理渠道，让每一个人都都可拥有黑珍珠的服务资源</p>
                    </div>
                </div>
            </div>
            <div class=" col-xs-4">
                <div class="thumbnail slide-thumbnail3">
                    <img src="_INDEX/images/youshi-6.png" alt="...">
                    <div class="caption">
                        <h3>7*24小时专家支持服务</h3>
                        <p class="slide-p1">365天快速响应，国粤英三语，400电话、QQ、 微信、在线客服等多渠道售后支持</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="carousel-example-generic" class="carousel slide display visible-xs-block visible-sm-block"
         data-ride="carousel" style="height: 380px;">
        <!-- Indicators -->
        <!--<ol class="carousel-indicators">-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="1"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="2"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="3"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="4"></li>-->
        <!--<li data-target="#carousel-example-generic" data-slide-to="5"></li>-->
        <!--</ol>-->

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class=" col-xs-12 col-sm-12 col-md-4">
                    <div class="thumbnail slide-thumbnail3">
                        <img src="_MOBILE/images/youshi-1.png" alt="...">
                        <div class="caption">
                            <h4>黑珍珠十年金牌品质保证</h4>
                            <p class="slide-p1">10年行业经验 <br> 300人服务经营团队百万客户信赖选择</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class=" col-xs-12 col-sm-12 col-md-4">
                    <div class="thumbnail slide-thumbnail3">
                        <img src="_MOBILE/images/youshi-2.png" alt="...">
                        <div class="caption">
                            <h4>拥有顶尖核心技术人才</h4>
                            <p class="slide-p1">黑珍珠业务范围涵盖各技术语言支持 <br> 团队技术达一流标准</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class=" col-xs-12 col-sm-12 col-md-4">
                    <div class="thumbnail slide-thumbnail3">
                        <img src="_MOBILE/images/youshi-3.png" alt="...">
                        <div class="caption">
                            <h4>全面提升网站营销价值</h4>
                            <p class="slide-p1">通过搜索引擎及基础口碑建设 <br> 助力中小企业网站引流</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class=" col-xs-12 col-sm-12 col-md-4">
                    <div class="thumbnail slide-thumbnail3">
                        <img src="_MOBILE/images/youshi-4.png" alt="...">
                        <div class="caption">
                            <h4>覆盖全国本地化服务</h4>
                            <p class="slide-p1">团队业务支持目前国内覆盖率达58个县市 <br></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class=" col-xs-12 col-sm-12 col-md-4">
                    <div class="thumbnail slide-thumbnail3">
                        <img src="_MOBILE/images/youshi-5.png" alt="...">
                        <div class="caption">
                            <h4>打造合作共赢互联网生态理念</h4>
                            <p class="slide-p1">开展代理渠道 <br> 让每一个人都都可拥有黑珍珠的服务资源</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class=" col-xs-12 col-sm-12 col-md-4">
                    <div class="thumbnail slide-thumbnail3">
                        <img src="_MOBILE/images/youshi-6.png" alt="...">
                        <div class="caption">
                            <h4>7*24小时专家支持服务</h4>
                            <p class="slide-p1">365天快速响应，国粤英三语，400电话、QQ、 微信、在线客服等多渠道售后支持</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

</div>


{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>
<script src="_INDEX/style/addnav.js"></script>
</body>
</html>