<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>软件开发-IT服务</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="">

{include file="index/head" /}

<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner fwpt-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>卓越于芯，完美于品</h2>
        <p class="p2">黑珍珠科技，一起创造科技未来</p>
        <p class="p2"></p>
    </div>

</div>


<div class="col-xs-12 slide zxqy-slide2 itfw-slide2">
    <h3>IT服务众包平台</h3>
    <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="col-md-7 col-xs-12 zxqy-slide">

            <p class="c6">
                在产业互联网的潮流中，随着互联网技术的深入、共享经济模式的兴起，软通动力站在时代的前沿，准确地把握行业发展趋势，结合其根植于IT服务
                领域的十余年经验，作为该领域的骨灰级玩家，致力于成为“互联网+众包”的实践者，IT服务领域生态的建设者，更要成为中小微企业的合作伙伴。IT
                服务众包平台针对传统IT服务外包行业的诸多痛点，结合互联网、大数据、云计算等新一代移动信息技术，由软通动力集团倾力打造，是一个垂直
                于IT服务领域的、有质量保证的互联网IT服务平台。其以众包为核心，并在其衍生领域进行拓展，对于发包/接包双方、上下游企业提供一站式服务
                ，如人才供给（众聘）、培训课程（学院）、过程管理（PSA）、工程工具（软件服务）、供应链金融（投融资）等服务。最终构建一个IT服务领域的生
                态链。
            </p>
        </div>
        <div class=" col-md-4  col-md-offset-1 col-xs-12" style="text-align: center;">
            <img src="_INDEX/images/itfw-slide2-img.png" style="min-width: 400px;padding-top: 20px;" width="100%" alt="">
        </div>
    </div>
</div>

<div class="col-xs-12 slide itfw-slide3">
    <h3> 平<span style="border-bottom: 2px solid  #ff8b38;padding-bottom: 20px;">台定</span>位

    </h3>

    <div class="col-md-10 col-md-offset-1 col-xs-12 itfw-slide3-body">
        <div class="col-md-4 col-xs-12">
            <img src="_INDEX/images/itfw-slide3-icon1.png" width="96" height="96" alt="">
            <h4>NO.1</h4>
            <p>
                顺应新经济/新模式替代旧 <br>
                经济/旧模式的趋势，引领传统 <br>
                IT服务行业变革；
            </p>


        </div>
        <div class="col-md-4 col-xs-12">
            <img src="_INDEX/images/itfw-slide3-icon2.png" width="96" height="96" alt="">
            <h4>NO.1</h4>
            <p>
                IT服务众包平台是资本 <br>
                估值的战略级利器，协助软 <br>
                通动力集团转型升级；
            </p>


        </div>
        <div class="col-md-4 col-xs-12">
            <img src="_INDEX/images/itfw-slide3-icon3.png" width="96" height="96" alt="">
            <h4>NO.1</h4>
            <p>
                利用互联网跳过中间环节 <br>
                直击用户，打破供需双方之间 <br>
                的壁垒，提升企业效率，降低成本 <br>
                ，为其带来更多便利；
            </p>


        </div>
    </div>

</div>

<div class="col-xs-12 wxdz-slide3 itfw-slide4">

    <div class="col-xs-12" style="background: rgba(0,0,0,.2);padding: 0; margin: 50px 0;">
        <div class="col-md-10 col-md-offset-1 col-xs-12">
            <h3 class="wxdz-slide1-tit wxdz-slide3-tit" style="">
                独有的三级返佣 收益最大化 买家变卖家
            </h3>
            <hr style="width: 100px; margin: 20px auto;border-top: 2px solid #fff;">
        </div>

        <div class="col-md-10 col-md-offset-1 col-xs-12 " style="text-align: center; padding: 60px 0 80px ;">

            <div class="col-md-3 col-xs-12 ">

                <div class="wxfx-slide3-body" style="">
                    <img src="_INDEX/images/wxfx-flower.png" alt="" style="">

                    <h5>众包商城</h5>
                    <p>提供专业的发项目/接项目
                        服务，在这里IT服务将
                        变得更简单
                    </p>


                </div>


            </div>
            <div class="col-md-3 col-xs-12  wxdz-slide1-margin-left  ">

                <div class="wxfx-slide3-body" style="">
                    <img src="_INDEX/images/wxfx-slide3-mac.png" alt="" style="margin: 34px;">

                    <h5>人才众聘</h5>
                    <p style="text-align: left;">提供专业的人才招聘服务，高
                        端人才从此不再难寻
                    </p>

                </div>


            </div>

            <div class="col-md-3 col-xs-12   " style="float: right;">

                <div class="wxfx-slide3-body" style="">
                    <img src="_INDEX/images/wxfx-slide3-mf.png" alt="" style="margin: 24px;">

                    <h5>供应商学院</h5>
                    <p>提供各种类型在线课程供用
                        户学习，免费充电不是梦
                    </p>

                </div>


            </div>
            <div class="col-xs-12 hidden-sm hidden-xs" style="height: 40px;">

            </div>
            <div class="col-md-3 col-xs-12  ">

                <div class="wxfx-slide3-body" style="">
                    <img src="_INDEX/images/wxfx-flower.png" alt="" style="">

                    <h5>PSA</h5>
                    <p>提供在线质量监管系统服务
                        让一切服务都在阳光
                        下进行
                    </p>


                </div>


            </div>
            <div class="col-md-3 col-xs-12  wxdz-slide1-margin-left  ">

                <div class="wxfx-slide3-body" style="">
                    <img src="_INDEX/images/wxfx-slide3-mac.png" alt="" style="margin: 34px;">

                    <h5>工程工具</h5>
                    <p style="text-align: left;">提供上千种软件供企业使用
                        一软在手，别无他求
                    </p>

                </div>


            </div>

            <div class="col-md-3 col-xs-12   " style="float: right;">

                <div class="wxfx-slide3-body" style="">
                    <img src="_INDEX/images/wxfx-slide3-mf.png" alt="" style="margin: 24px;">

                    <h5>供应链金融</h5>
                    <p>

                        为上下游企业提供供应链金融服务

                    </p>

                </div>


            </div>

        </div>
    </div>
</div>


<div class="col-xs-12 itfw-slide5">

    <div class="col-md-10 col-md-offset-1 col-xs-12 itfw-slide5-main">
        <h3>
            平台价值
        </h3>


        <p>
            T服务众包平台，集成企业创业、发展等诸多核心要素，力促发包方与接包方交易撮合，并为双方提供找人才、找业务、找资金等一体化服务。 <br>
            质量好：我们提供过程管理工具PSA，我们还能提供第三方验收的增值服务，如果做不好，我们对供应商还有相应的处罚措施。 <br>
            性价比高：平台将根据发包企业的项目情况，通过算法匹配，匹配有相关项目经验的供应商，最大限度避免因重复开发而造成的损耗，保障相关资源的有效复用。 <br>
            速度快：我们专业的撮合团队将保证每个项目在72小时之内对接到让发包方满意的供应商，并努力促成供需双方达成交易。 <br>
            有保障：一方面，IT服务众包平台提供过程管理工具——PSA，供双方免费使用，确保项目过程的顺利进行；另一方面，发包方在项目开始时需向平台缴纳一定比例的“保障金”，一旦发包方不履行承诺
            或出现违规行为，保障金将先行赔付给供应商。 <br>
            业务多：IT服务众包平台汇集世界500强企业、上市公司等诸多品牌发包方，项目金额大、项目数量多，所发布项目的平均金额超过10万元。 <br>
            成长快：IT服务众包平台面向企业提供多种服务，包括学院、众聘等。为企业提供在线赋能培训、人才招聘等服务，让企业与平台共同成长。 <br>
        </p>

    </div>

</div>

<div class="col-xs-12  slide itfw-slide6">

    <h3>
        平台承诺
    </h3>
    <div class="col-md-8 col-md-offset-2 col-xs-12 itfw-slide6-mian">


        <div class="col-md-3 col-xs-6">

            <p>
                三分钟保证发包
            </p>
        </div>

        <div class="col-md-3 col-xs-6">

            <p>
                四小时人工回访
            </p>
        </div>
        <div class="col-md-3 col-xs-6">

            <p>
                72小时对接供应商
            </p>
        </div>
        <div class="col-md-3 col-xs-6">

            <p>
                7个工作日成功签单
            </p>
        </div>



    </div>

</div>


<!--底部开始-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>
<script src="_INDEX/style/addnav.js"></script>


</body>
</html>