<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业建站-网上开店</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">
    <link rel="stylesheet" href="_INDEX/style/addcss768.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->
    <style type="text/css">
        h2 {
            font-size: 24px !important;
            letter-spacing: 2px;
        }

        .wskd-slide1-h2 {
            color: #333;
        }
    </style>
</head>
<body>

{include file="index/head" /}
<div class="col-xs-12 col-sm-12 col-md-12 qijz-wskd-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>创新电子商务 零基础做电商</h2>

        <p class="p2">自由布局 可视装修 创新组件 强大灵活 全网营销 一店管理 </p>
        <p class="p2">网罗电商网站主流功能 随心DIY 创意社交化网店</p>
    </div>


</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wskd-list wskd-slide1 hidden-xs hidden-sm"
     style="padding-left: 0; padding-right: 0;">

    <div class="col-xs-12 wskd-slide1-h1"><h2 class="" style="padding: 20px 0;">产品特点</h2></div>


    <div class="col-xs-12 wskd-list wskd-list-2" style="padding-left: 0;">

        <div class="col-xs-5 wskd-list-1-mac" style="">
            <img src="_INDEX/images/wskd-mac.png" width="50%" alt="">
        </div>

        <div class="col-xs-5 col-xs-offset-1 color-506a85" style="padding-top: 2%;">
            <h2 class="c-tit">全网营销 一店管理</h2>
            <p class="wskd-p c-p">电子商务功能一应俱全，秒杀，团购，分销等促进销售集成多种在线 支付方便交易</p>
        </div>


    </div>

    <div class="col-xs-12 wskd-list-1" style="padding-right: 0;">

        <div class="col-xs-4 col-xs-offset-1 color-506a85" style="padding-top: 2%;text-align: right;">
            <h2 class="c-tit">轻松上手 云平台支持</h2>
            <p class="wskd-p c-p">B2C/O2O电商网站轻松建，自有布局，可视装修，全网营销，一店管理 PC/手机/微信商城，三剑合璧</p>
        </div>

        <div class="col-xs-6 col-xs-offset-1 wskd-list-2-iphone" style="">
            <img src="_INDEX/images/wskd-iPhone.png" width="40%" alt="网上开店手机版">
        </div>


    </div>


    <div class="col-xs-12 wskd-list-1" style="padding-left: 0;">
        <div class="col-xs-5 wskd-list-1-mac wskd-list-ipad" style="">
            <img src="_INDEX/images/ipad.png" width="60%" height="90%" alt="" style="z-index:66;">
        </div>

        <div class="col-xs-5 col-xs-offset-1 color-506a85 " style="padding-top: 2%;">
            <h2 class="c-tit">友好SEO优化</h2>
            <p class="wskd-p c-p">对各大搜索引擎进行深度SEO优化，快速提升商城排名，让更多客户主动上门；支持全局SEO,单独页面SEO,单独文章或产品的SEO</p>
        </div>


    </div>

</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wskd-list wskd-slide1 visible-xs-block visible-sm-block"
     style="padding-left: 0; padding-right: 0;">

    <div class="col-xs-12 wskd-slide1-h1"><h4 class="wskd-slide1-h2">产品特点</h4></div>


    <div class="col-xs-12 wskd-list  wskd-list-1-mac" style="padding-left: 0;">

        <!--<div class="col-xs-3 " style="">-->
        <!--<img src="_MOBILE/images/wskd-mac.png" width="100%" height="100%" alt="">-->
        <!--</div>-->

        <div class="col-xs-8 col-xs-offset-4 color-506a85" style="margin-top: 15px; margin-bottom: 15px;">
            <h5 class="c-tit">全网营销 一店管理</h5>
            <p class=" c-p">电子商务功能一应俱全，秒杀，团购，分销等促进销售集成多种在线 支付方便交易</p>
        </div>


    </div>

    <div class="col-xs-12 wskd-list-1" style="padding-right: 0;padding-left: 0;">

        <div class="col-xs-12 color-506a85 wskd-list-2-iphone" style="padding-top: 15px; padding-bottom: 15px;">

            <div class="col-xs-9">
                <h5 class="c-tit">轻松上手 云平台支持</h5>
                <p class=" c-p">B2C/O2O电商网站轻松建，自有布局，可视装修，全网营销，一店管理 PC/手机/微信商城，三剑合璧</p>
            </div>

        </div>

        <!--<div class="col-xs-5 col-xs-offset-1 wskd-list-2-iphone" style="">-->
        <!--<img src="_MOBILE/images/wskd-iPhone.png" width="40%" alt="">-->
        <!--</div>-->


    </div>


    <div class="col-xs-12 wskd-list  wskd-list-ipad" style="padding-left: 0;">

        <!--<div class="col-xs-3 " style="">-->
        <!--<img src="_MOBILE/images/wskd-mac.png" width="100%" height="100%" alt="">-->
        <!--</div>-->

        <div class="col-xs-8 col-xs-offset-4 color-506a85" style="margin-top: 15px; margin-bottom: 15px;">
            <h5 class="c-tit">友好SEO优化</h5>
            <p class=" c-p">对各大搜索引擎进行深度SEO优化，快速提升商城排名，让更多客户主动上门；支持全局SEO,单独页面SEO,单独文章或产品的SEO</p>

        </div>


    </div>


</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wskd-wdmb" style="">
    <div class="col-xs-12 wskd-wdmb-tit color-506a85">
        <h2 class="c-tit">网店模板</h2>
    </div>

    <div class="col-md-10 col-md-offset-1 col-xs-12 wskd-wdmb-body">

        <div class=" col-xs-6 col-md-3 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_INDEX/images/wskd-wdmb-body-menu1.jpg" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        沱沱工社

                        <!--<span style="">尼古丁</span> <span style="float: right; ">￥480元</span>-->
                    </p>
                </div>
            </div>


        </div>

        <div class=" col-xs-6 col-md-3 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_INDEX/images/wskd-wdmb-body-menu2.jpg" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        京东商城
                        <!--<span style="">尼古丁</span> <span style="float: right; ">￥480元</span>-->
                    </p>
                </div>
            </div>
        </div>
        <div class="visible-xs-block visible-sm-block"></div>
        <div class=" col-xs-6 col-md-3 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_INDEX/images/wskd-wdmb-body-menu3.jpg" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        百度MALL
                        <!--<span style="">尼古丁</span> <span style="float: right; ">￥480元</span>-->
                    </p>
                </div>
            </div>


        </div>
        <div class=" col-xs-6 col-md-3 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_INDEX/images/wskd-wdmb-body-menu4.jpg" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        美乐乐
                        <!--<span style="">尼古丁</span> <span style="float: right; ">￥480元</span>-->
                    </p>
                </div>
            </div>
        </div>
        <div class="visible-xs-block visible-sm-block"></div>
        <div class=" col-xs-6 col-md-3 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_INDEX/images/wskd-wdmb-body-menu5.jpg" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        淘宝商城
                        <!--<span style="">尼古丁</span> <span style="float: right; ">￥480元</span>-->
                    </p>
                </div>
            </div>
        </div>
        <div class=" col-xs-6 col-md-3 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_INDEX/images/wskd-wdmb-body-menu6.jpg" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        丽子美妆
                        <!--<span style="">尼古丁</span> <span style="float: right; ">￥480元</span>-->
                    </p>
                </div>
            </div>
        </div>
        <div class="visible-xs-block visible-sm-block"></div>
        <div class=" col-xs-6 col-md-3 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_INDEX/images/wskd-wdmb-body-menu7.jpg" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        麦包包
                        <!--<span style="">尼古丁</span> <span style="float: right; ">￥480元</span>-->
                    </p>
                </div>
            </div>


        </div>
        <div class=" col-xs-6 col-md-3 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_INDEX/images/wskd-wdmb-body-menu8.jpg" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        美味七七
                        <!--<span style="">尼古丁</span> <span style="float: right; ">￥480元</span>-->
                    </p>
                </div>
            </div>


        </div>


    </div>


</div>


<!--footer范围-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>
<script src="_INDEX/style/addnav.js"></script>
</body>
</html>