<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>营销推广-SEO优化</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="">

{include file="index/head" /}

<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner yxtg-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>黑珍珠代理宣传语</h2>
        <p class="p2"></p>
        <p class="p2"></p>
    </div>

</div>


<div class="col-xs-12 slide yxtg-slide2">
    <h3>
        SEO优化
    </h3>
    <p class="yxtg-slide2-tit-p" style="">
        做好网站不等于盈利，网络盈利的几个关键点你HOLD住了吗
    </p>

    <div class="col-xs-10 col-xs-offset-1">


        <div class="col-xs-4 yxtg-slide2-body yxtg-slide2-body-icon1">

            <p class="yxtg-slide2-body-p1 c3">
                网站符合SEO排名吗
            </p>
            <p class="yxtg-slide2-body-p2 c6">
                良好的网站结构更有利于搜索引擎抓取和更新
            </p>
        </div>
        <div class="col-xs-4 yxtg-slide2-body yxtg-slide2-body-icon2">

            <p class="yxtg-slide2-body-p1 c3">
                网站符合SEO排名吗
            </p>
            <p class="yxtg-slide2-body-p2 c6">
                良好的网站结构更有利于搜索引擎抓取和更新
            </p>
        </div>
        <div class="col-xs-4 yxtg-slide2-body yxtg-slide2-body-icon3">

            <p class="yxtg-slide2-body-p1 c3">
                网站符合SEO排名吗
            </p>
            <p class="yxtg-slide2-body-p2 c6">
                良好的网站结构更有利于搜索引擎抓取和更新
            </p>
        </div>
        <div class="col-xs-12"></div>
        <div class="col-xs-4 yxtg-slide2-body yxtg-slide2-body-icon4">

            <p class="yxtg-slide2-body-p1 c3">
                网站符合SEO排名吗
            </p>
            <p class="yxtg-slide2-body-p2 c6">
                良好的网站结构更有利于搜索引擎抓取和更新
            </p>
        </div>
        <div class="col-xs-4 yxtg-slide2-body yxtg-slide2-body-icon5">

            <p class="yxtg-slide2-body-p1 c3">
                网站符合SEO排名吗
            </p>
            <p class="yxtg-slide2-body-p2 c6">
                良好的网站结构更有利于搜索引擎抓取和更新
            </p>
        </div>
        <div class="col-xs-4 yxtg-slide2-body yxtg-slide2-body-icon6">

            <p class="yxtg-slide2-body-p1 c3">
                网站符合SEO排名吗
            </p>
            <p class="yxtg-slide2-body-p2 c6">
                良好的网站结构更有利于搜索引擎抓取和更新
            </p>
        </div>

    </div>


</div>

<div class="col-xs-12 slide yxtg-slide3">

    <h3>百度<span class="yxtg-slide3-span">SEO</span>优化</h3>

    <div class="col-xs-10 col-xs-offset-1">
        <div class="yxtg-slide3-xs-20  yxtg-slide3-body">
            <div>
                <img src="_INDEX/images/yxtg-slide3-img1.png" width="100%" alt="">
                <span class="yxtg-slide3-body-span">1</span>
            </div>
            <p class="c3">SEO诊断</p>
            <p class="c6">八年SEO实战经验丰富</p>
        </div>
        <div class="yxtg-slide3-xs-20  yxtg-slide3-body">
            <div>
                <img src="_INDEX/images/yxtg-slide3-img1.png" width="100%" alt="">
                <span class="yxtg-slide3-body-span">1</span>
            </div>
            <p class="c3">SEO诊断</p>
            <p class="c6">八年SEO实战经验丰富</p>
        </div>
        <div class="yxtg-slide3-xs-20  yxtg-slide3-body">
            <div>
                <img src="_INDEX/images/yxtg-slide3-img1.png" width="100%" alt="">
                <span class="yxtg-slide3-body-span">1</span>
            </div>
            <p class="c3">SEO诊断</p>
            <p class="c6">八年SEO实战经验丰富</p>
        </div>
        <div class="yxtg-slide3-xs-20  yxtg-slide3-body">
            <div>
                <img src="_INDEX/images/yxtg-slide3-img1.png" width="100%" alt="">
                <span class="yxtg-slide3-body-span">1</span>
            </div>
            <p class="c3">SEO诊断</p>
            <p class="c6">八年SEO实战经验丰富</p>
        </div>
        <div class="yxtg-slide3-xs-20  yxtg-slide3-body">
            <div>
                <img src="_INDEX/images/yxtg-slide3-img1.png" width="100%" alt="">
                <span class="yxtg-slide3-body-span">1</span>
            </div>
            <p class="c3">SEO诊断</p>
            <p class="c6">八年SEO实战经验丰富</p>
        </div>


    </div>


</div>


<div class="col-xs-12 slide yxtg-slide4">
    <h3>SEO 优化知识贴</h3>

    <div class="col-xs-10 col-xs-offset-1 yxtg-slide4-body " style="text-align: center;">
        <div class=" col-xs-4 yxtg-slide4-body-main">
            <div class=" col-xs-12 yxtg-slide4-main">
                <p class="yxtg-slide4-main-p1">百度SEO排名优化</p>
                <p>百度工程师回答SEO有关问题</p>
                <p>百度权重官方数据要出现了吗？</p>
                <p>百度霸屏？谁也霸不过百度</p>
                <p>百度MIP是什么－移动网页加速器</p>
                <p>百度对301转向反应缓慢的再观察</p>
                <p>百度最近在测试什么？</p>
                <p>百度真的能正确处理垃圾外链吗？</p>
                <p>《百度搜索引擎网页质量白皮书》发布</p>
                <p>百度石榴算法1.0即将上线</p>
                <p>百度分享是否会影响百度排名</p>

            </div>
        </div>
        <div class=" col-xs-4 yxtg-slide4-body-main">
            <div class=" col-xs-12 yxtg-slide4-main">
                <p class="yxtg-slide4-main-p1">移动SEO搜索优化</p>
                <p>百度、搜狗正式支持AMP？</p>
               <p>未来的SEO：移动页面决定桌面搜索排名</p>
               <p>百度MIP幕后揭秘</p>
               <p>百度MIP出现在网页搜索结果中</p>
               <p>移动SEO之页面优化</p>
               <p>百度移动搜索优化应该怎么做？</p>
            </div>
        </div>
        <div class=" col-xs-4 yxtg-slide4-body-main">
            <div class=" col-xs-12 yxtg-slide4-main">
                <p class="yxtg-slide4-main-p1">社交网络和搜索</p>
                <p>微信搜索优化WSO即将诞生了吗？</p>
                <p>社交媒体信号是否影响搜索排名？</p>
                <p>社交媒体的无穷潜力</p>
                <p>社会化媒体是SEO的未来？</p>
                <p>博客是自己的，还是大家的？</p>
                <p>网络危机公关与SEO</p>
                <p>社会化网站，请快整合吧！</p>
                <p>为清理垃圾留言做点贡献</p>
                <p>温州商会会长这样的关键词</p>
                <p>社会性搜索与SEO</p>
            </div>
        </div>



    </div>
</div>

</div>

<!--底部开始-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>

<!--补充的插件-->
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="_INDEX/js/distpicker.data.js"></script>
<script src="_INDEX/js/distpicker.js"></script>
<script src="_INDEX/js/main.js"></script>
<!--补充的插件-->
</body>
</html>