<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>软件开发-服务平台</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="">

{include file="index/head" /}

<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner fwpt-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>优化城市的生产资源配置</h2>
        <p class="p2">提高制造资源的利用率</p>
        <p class="p2"></p>
    </div>

</div>


<div class="col-xs-12 slide fwpt-slide2 ">
    <h3 style="">
        概况
    </h3>
    <div class="col-md-10 col-md-offset-1 col-xs-12 sjkf-slide2-top c6">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 工业是国民经济的主体，是科技创新的主战场。当前，全球工业发展格局和我国经济发展环境发生重大变化，
            必须突出创新驱动，实现移动互联网、物联网、云计算、大数据等创新成果与工业新材料、新工艺、新能源、先进制造等跨界融合。
            以深远的产业变革，形成新的生产方式、服务方式、产业形态、商业模式和经济增长点。
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 在此大背景之下，德国提出了工业4.0 ，美国提出了工业互联网，目的是支持工业领域新一代革命技术研发与创新，保持本国的国际竞争力；
            中国政府提出“中国制造2025”战略规划，这是我国实施制造强国战略的行动纲领，是指导工业企业实现转型的最佳路径。
            软通动力在此背景下提出了基于云平台的协同制造平台与通链，助力我国的制造业发展。我们以云计算、大数据、物联网等先进信息化技术为基础，
            协同制造平台提供生产智慧化、产品智能化、云设计、设备监测，生产服务化转型，个性化定制，协同制造等云服务以及其他金融服务，
            管理、办公等软件服务，促进城市本地企业和产业的创新发展，用物联网实现部分生产设备监测和产品智能化。

        </p>

    </div>

</div>


<div class="col-xs-12 slide fwpt-slide3">
    <h3 style="">
        协同制造平台解决方案
    </h3>
    <div class="col-md-10 col-md-offset-1 col-xs-12 fwpt-slide4-p ">
        <p class="fwpt-slide3-p c6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            按照市场主导、政府引导、社会参与的思路，采用信息化及互联网技术建立协同制造平台，提供产品设计、生产制造协同功能，制造企业服务化转型平台，设备监测和产品智能化功能和实现平台，使整个产业链上
            的企业和合作伙伴共享客户、设计、生产经营信息。从传统的产业链串行工作方式，转变成并行工作方式，从而最大限度地缩短新品上市的时间，缩短生产周期，快速响应客户需求，网上协同设计、协同生产制造，
            信息共享提高设计、生产的柔性。通过面向工艺的设计、面向生产的设计、面向成本的设计、各环节供应商和客户参与设计，大大提高产品设计水平和可制造性以及成本的可控性。有利于降低生产经营成本，提高质
            量，提高客户满意度。同时引入金融服务、保险、法律服务对平台上的企业进行项目援助，在具体项目执行上根据项目的大小，企业自动调配资源组合执行，组成有机产业链，快速协作完成订单。减少中间环节，降
            低成本，团队化战略，提高竞争力。使用物联网技术实时读取企业产品的数据，生产设备数据，为企业提供产品迭代数据支持和服务客户数据支持，使企业产品交付不再是服务结束而是企业服务开始。平台积累数据
            ，并运用大数据技术进行分析，对企业生产决策进行指导。
        </p>


    </div>

</div>


<div class="col-xs-12 slide fwpt-slide4 hidden-xs hidden-sm">
    <h3 class="c3" style="letter-spacing: 2px;">
        总体建设框架
    </h3>
    <div class="col-md-10 col-md-offset-1 col-xs-12">

        <div class="col-xs-9 ">

            <div class="col-xs-4 slide4-bg">
                <h4>通协</h4>

                <div class="col-xs-10 col-xs-offset-1  slide4-bg-f slide4-bg-first">
                    <p>设计通协</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide-bg-padding">
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide4-bg-f">
                    <p>设计通协</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide-bg-padding">
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide4-bg-f">
                    <p>设计通协</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide-bg-padding slide-f-last">
                    <p>&nbsp;</p>
                </div>


            </div>
            <div class="col-xs-4 slide4-bg">
                <h4>通链</h4>

                <div class="col-xs-10 col-xs-offset-1  slide4-bg-f slide4-bg-first">
                    <p>采购管理</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide4-bg-f">
                    <p>订单管理</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide4-bg-f">
                    <p>运输管理</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide4-bg-f">
                    <p>需求设计</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide4-bg-f">
                    <p>补货计划</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide4-bg-f slide-f-last">
                    <p>仓库管理</p>
                </div>


            </div>
            <div class="col-xs-4 slide4-bg">
                <h4>通物</h4>

                <div class="col-xs-10 col-xs-offset-1  slide-bg-padding slide4-bg-first">
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide4-bg-f">
                    <p>设备物联</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide-bg-padding">
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide-bg-padding">
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide4-bg-f">
                    <p>产品智能化</p>
                </div>
                <div class="col-xs-10 col-xs-offset-1 slide-bg-padding slide-f-last">
                    <p>&nbsp;</p>
                </div>

            </div>


        </div>
        <div class="col-xs-3 slide4-bg  ">
            <h4>信息化咨询</h4>
            <div class="col-xs-10 col-xs-offset-1 slide4-bg-f slide4-bg-first">
                <p>企业咨询</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 slide4-bg-f">
                <p>产业咨询</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 " style="padding-top:10px;padding-bottom: 5px; ">
                <h4 style="margin-top: 0; margin-bottom: 0;">个性化服务</h4>
            </div>
            <div class="col-xs-10 col-xs-offset-1 clear-all-padding ">
                <div class="col-xs-6 slide4-bg-f clear-all-padding" style="border: 5px solid #506a85; ">
                    <p>
                        ERP
                    </p>

                </div>
                <div class="col-xs-6 slide4-bg-f clear-all-padding" style="border: 5px solid #506a85;">
                    <p>
                        PCS
                    </p>

                </div>
                <div class="col-xs-6 slide4-bg-f clear-all-padding " style="border: 5px solid #506a85;">
                    <p>
                        MEC
                    </p>

                </div>
                <div class="col-xs-6 slide4-bg-f clear-all-padding" style="border: 5px solid #506a85;">
                    <p>
                        PLC
                    </p>

                </div>
                <div class="col-xs-10 col-xs-offset-1 slide-bg-padding slide-f-last">
                    <p>&nbsp;</p>
                </div>
            </div>

        </div>
        <div class="col-xs-12" style="padding-right: 10px;">

            <div class="col-xs-9 slide-bg-padding slide4-bg " style=" border-right: 20px  solid #FFFFFF;">
                <p>
                    产业（共性集群）
                </p>
            </div>

            <div class="col-xs-3 slide-bg-padding slide4-bg" style="border-left: 15px solid #FFFFFF;border-right: 0px;">

                <p>

                    企业（个性支撑）
                </p>


            </div>

        </div>

    </div>


</div>


<div class="col-xs-12 slide fwpt-slide4 visible-sm-block visible-xs-block">
    <h3 class="c3" style="letter-spacing: 1px;">
        总体建设框架
    </h3>
    <div class="col-xs-12 clear-padding ">

        <div class="col-xs-12 clear-padding ">

            <div class="col-xs-4 slide4-bg" style="padding: 0 2px;">
                <h5>通协</h5>

                <div class="col-xs-12   slide4-bg-f slide4-bg-first clear-padding">
                    <p>设计通协</p>
                </div>
                <div class="col-xs-12  slide-bg-padding clear-padding">
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-12  slide4-bg-f clear-padding">
                    <p>设计通协</p>
                </div>
                <div class="col-xs-12  slide-bg-padding clear-padding">
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-12  slide4-bg-f clear-padding">
                    <p>设计通协</p>
                </div>
                <div class="col-xs-12  slide-bg-padding slide-f-last clear-padding">
                    <p>&nbsp;</p>
                </div>


            </div>
            <div class="col-xs-4 slide4-bg " style="padding: 0 2px;">
                <h5>通链</h5>

                <div class="col-xs-12   slide4-bg-f slide4-bg-first clear-padding">
                    <p>采购管理</p>
                </div>
                <div class="col-xs-12  slide4-bg-f clear-padding">
                    <p>订单管理</p>
                </div>
                <div class="col-xs-12  slide4-bg-f clear-padding">
                    <p>运输管理</p>
                </div>
                <div class="col-xs-12  slide4-bg-f clear-padding">
                    <p>需求设计</p>
                </div>
                <div class="col-xs-12  slide4-bg-f clear-padding">
                    <p>补货计划</p>
                </div>
                <div class="col-xs-12 slide4-bg-f slide-f-last clear-padding">
                    <p>仓库管理</p>
                </div>


            </div>

            <div class="col-xs-4 slide4-bg " style="padding: 0 2px;">
                <h5>通物</h5>

                <div class="col-xs-12   slide-bg-padding slide4-bg-first clear-padding">
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-12  slide4-bg-f clear-padding">
                    <p>设备物联</p>
                </div>
                <div class="col-xs-12  slide-bg-padding clear-padding">
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-12  slide-bg-padding clear-padding">
                    <p>&nbsp;</p>
                </div>
                <div class="col-xs-12  slide4-bg-f clear-padding">
                    <p>产品智能化</p>
                </div>
                <div class="col-xs-12  slide-bg-padding slide-f-last clear-padding">
                    <p>&nbsp;</p>
                </div>

            </div>


        </div>
        <div class="col-xs-12 slide-bg-padding slide4-bg  " style=" border-right: 10px  solid #FFFFFF;">
            <p>
                产业（共性集群）
            </p>
        </div>
        <div class="col-xs-12 slide4-bg  ">
            <h4>信息化咨询</h4>
            <div class="col-xs-10 col-xs-offset-1 slide4-bg-f slide4-bg-first">
                <p>企业咨询</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 slide4-bg-f">
                <p>产业咨询</p>
            </div>
            <div class="col-xs-10 col-xs-offset-1 " style="padding-top:10px;padding-bottom: 5px; ">
                <h4 style="margin-top: 0; margin-bottom: 0;">个性化服务</h4>
            </div>
            <div class="col-xs-10 col-xs-offset-1 ">
                <div class="col-xs-6 slide4-bg-f" style="border: 5px solid #506a85;">
                    <p>
                        ERP
                    </p>

                </div>
                <div class="col-xs-6 slide4-bg-f" style="border: 5px solid #506a85;">
                    <p>
                        PCS
                    </p>

                </div>
                <div class="col-xs-6 slide4-bg-f" style="border: 5px solid #506a85;">
                    <p>
                        MEC
                    </p>

                </div>
                <div class="col-xs-6 slide4-bg-f" style="border: 5px solid #506a85;">
                    <p>
                        PLC
                    </p>

                </div>
                <div class="col-xs-10 col-xs-offset-1 slide-bg-padding slide-f-last">
                    <p>&nbsp;</p>
                </div>
            </div>

        </div>
        <div class="col-xs-12" style="padding-right: 10px;">


            <div class="col-xs-12 slide-bg-padding slide4-bg"
                 style="border-left: 5px solid #FFFFFF;border-right: 5px solid #FFFFFF; ">

                <p>

                    企业（个性支撑）
                </p>


            </div>

        </div>

    </div>


</div>


<div class="col-xs-12 fwpt-slide5">
    <div class="col-md-10 col-md-offset-1 col-xs-12 ">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;设计协同-平台提供云服务设计软件，支持不同设计人员之间实现相互之间在线交流，客户参与设计过程，一起完成设计，提高设计效率，减少相互之间沟通的时间成本，满足客户的定制化需求。制造协同-
            企业生产的产品所需要的原材料，零部件生产之间线上协同，不同工厂之间线上协同，互相之间共享信息，实现制造过程的紧密配合，减少中间的协调沟通时间，提升配合的效率，减少中间环节的等待时间和存
            储仓库，快速交付产品。制造资源协同-企业的生产能力和企业的生产资源（厂房、机器、技术工人、专家、设计能力）一起提供服务，平台提供撮合，帮助把客户的需求和企业的服务快速匹配在一起，优化城
            市的生产资源配置，提高制造资源的利用率。让中小创制造企业低成本获取制造资源，提高企业闲置制造资源的利用率。
        </p>

    </div>
</div>

<div class="col-xs-12  slide fwpt-slide6">
    <div class="col-md-10 col-md-offset-1 col-xs-12 ">
        <h3 class="c3" style="letter-spacing: 2px; "> 能力优势</h3>


    </div>
    <div class="col-md-10 col-md-offset-1 col-xs-12 fwpt-slide6-body clear-all-padding">

        <div class="col-md-6 col-xs-12 ">
            <div class="col-xs-12 col-md-3 fwpt-slide6-body-img ">
                <img src="_INDEX/images/fwpt-slide6-icon1.png" width="100%" alt="">
            </div>
            <div class="col-xs-12 col-md-8">
                <p>
                    产品个性化定制服务-为企业提供个性化定制的平台，让企业与客户在线上协同，完成产品的定制、生产、支付、交货；设计过程、生产过程、客户都能全程参与，真正实现个性化定制服务。

                </p>
            </div>

        </div>
        <div class="col-md-6 col-xs-12">
            <div class="col-xs-12 col-md-3 fwpt-slide6-body-img">
                <img src="_INDEX/images/fwpt-slide6-icon2.png" width="100%" alt="">
            </div>
            <div class="col-xs-12 col-md-8">
                <p>
                    多个企业之间也可以进行线上的协同，共享数据，共同完成客户的产品，一起服务于客户，满足客户的需求。
                </p>
            </div>

        </div>
        <div class="col-xs-12">

        </div>

        <div class="col-md-6 col-xs-12">
            <div class="col-xs-12 col-md-3 fwpt-slide6-body-img">
                <img src="_INDEX/images/fwpt-slide6-icon3.png" width="100%" alt="">
            </div>
            <div class="col-xs-12 col-md-8">
                <p>
                    生产智慧化服务-为企业生产智慧化改造提供软件和硬件服务，使用模型线上对企业的需求进行匹配，并进行线下和线上撮合服务，精准满足企业需求并找到设备和服务的供货商。
                </p>
            </div>

        </div>
        <div class="col-md-6 col-xs-12">
            <div class="col-xs-12 col-md-3 fwpt-slide6-body-img">
                <img src="_INDEX/images/fwpt-slide6-icon4.png" width="100%" alt="">
            </div>
            <div class="col-xs-12 col-md-8">
                <p>
                    制造业服务化转型服务-提供制造资源展示、发布、撮合平台让企业的工厂、机床、人员、专家等私有制造资源都成为企业的服务内容，并提供有偿服务；与产品智能化一起实现制造企业服务化转型。
                </p>
            </div>

        </div>


    </div>


</div>

<div class="col-xs-12 slide fwpt-slide7">

    <div class="col-xs-12  fwpt-slide7-top">
        <img src="_INDEX/images/fwpt-slide7-icon.png" alt="">
        <h3 style="letter-spacing: 2px;">客户收益</h3>

    </div>


    <div class="col-md-10 col-md-offset-1 col-xs-12 fwpt-slide7-body">

        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 智慧工业帮助政府加强工业管和助力工业企业转型升级，提高政府和企业决策精确性，优化城市的资源配置，提升企业的服务能力。
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 第一，为政府提供企业信息的监控平台，实时了解企业和产业的运行数据，给政府的招商引资、政策制定提供数据支持和依据。通过对企业真实情况数据的监测，
            政府精确了解每个产业和企业的需求，精确了解需要帮扶的企业，针对性的进行精准的帮扶，通过企业的运行数据决定哪个行业，哪个企业该帮扶，
            既能使有限的帮扶资金得到有效的利用，又能准确的帮助需要帮助的企业。

        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 第二，利用信息技术帮助企业提升信息化水平和服务水平，提升产品质量和服务能力，企业利用云服务降低设计、生产、销售、供应链各个环节的成本，
            低成本实现产品智能化和制造资源云化，延伸企业的服务，增加企业的收入，帮助制造企业实现服务化转型。
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            第三，帮助政府实现跨地区、跨行业、跨部门、跨企业的工业信息资源收集与共享，避免“条块分割、各自为政、重复建设、资源浪费”，实现优势互补、产品互动、体制创新的区域工业的一体化的服务和管理。
        </p>
    </div>

</div>


<!--底部开始-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>
<script src="_INDEX/style/addnav.js"></script>


</body>
</html>