<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业建站-网站定制</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{include file="index/head" /}

<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner xcx-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>创新电子商务 零基础做电商</h2>
        <p class="p2"> 自由布局 可视装修 创新组件 强大灵活 全网营销 一店管理</p>
        <p class="p2">网罗电商网站主流功能 随心 DIY 创意社交化网店</p>
    </div>

</div>

<div class="col-xs-12 xcx-slide1 hidden-sm hidden-xs">

    <div class="col-xs-10 col-xs-offset-1">
        <h3 class="c3">微信小程序能做什么</h3>
        <p>
            微信小程序是一种新的开放能力，开发者可以快速地开发一个小程序；小程序可以在微信内被便捷地获取和传播，同时具有出色的使用体验。
            <br>小程序的开放就是指让其他第三方公司也可以开发自己的应用，这些应用可以在微信中，快捷地展示，而不需要下载单独的APP。
        </p>
    </div>

    <div class="col-xs-8 col-xs-offset-2 xcx-iphone">

        <div class="col-xs-3 col-xs-offset-1 xcx-slide1-icon">
            <p class="c6" style="white-space: nowrap;"><span>发现</span> <br> 点击发现栏下小程序</p>
        </div>
        <div class="col-xs-3 col-xs-offset-1 xcx-slide1-icon">
            <p class="c6" style="white-space: nowrap;"><span>小程序</span> <br> 查找并点击微商城店铺</p>
        </div>
        <div class="col-xs-3 col-xs-offset-1 xcx-slide1-icon">
            <p class="c6" style="white-space: nowrap;"><span>店铺首页</span> <br> 开始购买商品吧</p>
        </div>
<div class="col-xs-12"></div>
        <div class="col-xs-4">
            <img src="_INDEX/images/xcx-fx.png" width="100%" alt="">


        </div>
        <div class="col-xs-4">
            <img src="_INDEX/images/xcx-xcx.png" width="100%" alt="">


        </div>
        <div class="col-xs-4">
            <img src="_INDEX/images/xcx-home.png" width="100%" alt="">


        </div>

    </div>

</div>



<div class=" xcx-slide1 col-xs-12  xcx-iphone visible-xs-block visible-sm-block">

    <!--<div class="col-xs-3 col-xs-offset-1 xcx-slide1-icon">-->
    <!--<p class="c6"><span>发现</span> <br> 点击发现栏下小程序</p>-->
    <!--</div>-->
    <!--<div class="col-xs-3 col-xs-offset-1 xcx-slide1-icon">-->
    <!--<p class="c6"><span>小程序</span> <br> 查找并点击微商城店铺</p>-->
    <!--</div>-->
    <!--<div class="col-xs-3 col-xs-offset-1 xcx-slide1-icon">-->
    <!--<p class="c6"><span>店铺首页</span> <br> 开始购买商品吧</p>-->
    <!--</div>-->
    <div class="col-xs-10 col-xs-offset-1">
        <h3 class="c3">微信小程序能做什么</h3>
        <p>
            微信小程序是一种新的开放能力，开发者可以快速地开发一个小程序；小程序可以在微信内被便捷地获取和传播，同时具有出色的使用体验。
            <br>小程序的开放就是指让其他第三方公司也可以开发自己的应用，这些应用可以在微信中，快捷地展示，而不需要下载单独的APP。
        </p>
    </div>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <img src="_INDEX/images/xcx-fx-mobile.png" width="100%" alt="">
        </div>
        <div class="col-xs-6" style="padding-top: 50px;">
            <span style="color: red;">发现</span>
            <br>

            点击发现栏下小程序

        </div>


    </div>
    <div class="col-xs-12">
        <div class="col-xs-6" style="padding-top: 30px; text-align: right;">
            <span style="color: red;">小程序</span>
            <br>
            查找并点击微商城店铺
        </div>
        <div class="col-xs-6" style=" transform:rotate(-90deg);">

            <img src="_INDEX/images/xcx-xcx-mobile.png" width="100%" alt="">
        </div>

    </div>
    <div class="col-xs-12">
        <div class="col-xs-6">
            <img src="_INDEX/images/xcx-home-mobile.png" width="100%" alt="">
        </div>
        <div class="col-xs-6" style="padding-top: 70px; text-align: left;">
            <span style="color: red;">店铺首页</span>
            <br>
            开始购买商品吧
        </div>
    </div>

</div>

<div class="col-xs-12 col-sm-12 xcx-slide2">

    <div class="col-xs-10 col-xs-offset-1">
        <h3 class="c3">已有5种方式，找到和推广你的小程序，吸引更多目光 </h3>
    </div>


    <div class="col-md-10  col-md-offset-1 col-sm-12  col-xs-12 xcx-slide2-top" style="">

        <div class="col-md-2  col-xs-6  col-sm-4 col-sm-offset-1  col-md-offset-1  xcx-slide2-kp xcx-slide2-kp-first  " style="">
            <div>
                <p class="p-b">搜索</p>
            </div>
            <p class="xcx-slide2-p c6">
                在“小程序”中搜索
            </p>
            <p class="xcx-slide2-p c6">
                店铺名字
            </p>
            <p class="xcx-slide2-p  xcx-slide2-p-last c6">
                找到你的小程序
            </p>

        </div>
        <div class=" col-md-2  col-xs-6   col-sm-4 col-sm-offset-2 col-md-offset-0  xcx-slide2-kp " style="">
            <div>
                <p class="p-b">二维码</p>
            </div>
            <p class="xcx-slide2-p c6">
                扫描“小程序”二维码
            </p>
            <p class="xcx-slide2-p c6">
                快速引流到店铺
            </p>
            <p class="xcx-slide2-p  xcx-slide2-p-last c6">
                &nbsp;
            </p>

        </div>
        <div class="col-xs-12 visible-sm-block visible-xs-block">

        </div>
        <div class=" col-md-2 col-sm-4 col-sm-offset-1 col-xs-6 col-md-offset-0  xcx-slide2-kp " style="">
            <div>
                <p class="p-b">微信公众号</p>
            </div>
            <p class="xcx-slide2-p c6">
                从微信公众号关联“小程序”
            </p>
            <p class="xcx-slide2-p c6">
                切换店铺入口
            </p>
            <p class="xcx-slide2-p  xcx-slide2-p-last c6">
                &nbsp;
            </p>

        </div>



        <div class=" col-md-2 col-sm-4 col-sm-offset-2 col-xs-6  col-md-offset-0 xcx-slide2-kp" style="">
            <div>
                <p class="p-b">微信聊天</p>
            </div>
            <p class="xcx-slide2-p c6">
                将“小程序”显示到聊天框顶部
            </p>
            <p class="xcx-slide2-p c6">
                推荐小程序给好友
            </p>
            <p class="xcx-slide2-p  xcx-slide2-p-last c6">
                微信群，朋友圈分享
            </p>

        </div>
        <div class="col-xs-12 visible-sm-block visible-xs-block">

        </div>
        <div class=" col-md-2 col-sm-4  col-sm-offset-1 col-xs-6 col-md-offset-0  xcx-slide2-kp" style="">
            <div>
                <p class="p-b">附近的小程序</p>
            </div>
            <p class="xcx-slide2-p c6">
                搜索附近的“小程序”
            </p>
            <p class="xcx-slide2-p c6">
                找到你的小程序
            </p>
            <p class="xcx-slide2-p  xcx-slide2-p-last c6">
                &nbsp;
            </p>

        </div>


    </div>

    <div class="col-xs-10 col-xs-offset-1">
        <h3 class="c3 xcx-slide2-bot">更多小程序推广方式持续更新中 </h3>
    </div>
    <div class="col-xs-12 xcx-slide2-bg2" style="">

    </div>
</div>

<div class="col-xs-12 xcx-slide3">
    <div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">

        <h3 class="c3">
            微信小程序的开发流程 <img src="_INDEX/images/xcx-filter.png" width="80px" alt="">
            <span style="font-size: 16px;"> 一款高质量的微信小程序，离不开专业化的制作流程和专业化的人才</span>

        </h3>

    </div>
    <div class="col-xs-12 col-md-12 xcx-slide3-body">
        <div class="col-xs-6 col-md-3 xcx-slide3-icon xcx-slide3-icon-right ">
            <img src="_INDEX/images/xcx-slide3-icon1.png" alt="">
            <p class="c6 xcx-slide3-p1 ">提出需求</p>
            <p class="c6 xcx-slide3-p2">
                与客户沟通需求，并整理需求 文档
            </p>
        </div>
        <div class="col-xs-6 col-md-3 xcx-slide3-icon xcx-slide3-icon-right-992 ">
            <img src="_INDEX/images/xcx-slide3-icon2.png" alt="">
            <p class="c6 xcx-slide3-p1 ">签订合同</p>
            <p class="c6 xcx-slide3-p2">
                与客户签订合同，项目周期、项目价格等
            </p>
        </div>

        <div class="col-xs-12 visible-xs-block visible-sm-block"></div>

        <div class="col-xs-6 col-md-3 xcx-slide3-icon xcx-slide3-icon-right ">
            <img src="_INDEX/images/xcx-slide3-icon3.png" alt="">
            <p class="c6 xcx-slide3-p1 ">产品原型</p>
            <p class="c6 xcx-slide3-p2">
                产品经理制作产品原型图，并与客户确定
            </p>
        </div>
        <div class="col-xs-6 col-md-3 xcx-slide3-icon ">
            <img src="_INDEX/images/xcx-slide3-icon4.png" style="width:85px;" alt="">
            <p class="c6 xcx-slide3-p1 ">UI设计</p>
            <p class="c6 xcx-slide3-p2">
                ui设计师设计制作高保真图并与客户确定
            </p>
        </div>
        <div class="col-xs-12 "></div>
        <div class="col-xs-6 col-md-3 xcx-slide3-icon xcx-slide3-icon-right ">
            <img src="_INDEX/images/xcx-slide3-icon1.png" alt="">
            <p class="c6 xcx-slide3-p1 ">程序开发</p>
            <p class="c6 xcx-slide3-p2">
                根据已确认的客户需求及高保真设计图进行代码开发
            </p>
        </div>
        <div class="col-xs-6 col-md-3 xcx-slide3-icon xcx-slide3-icon-right-992 ">
            <img src="_INDEX/images/xcx-slide3-icon2.png" alt="">
            <p class="c6 xcx-slide3-p1 ">客户验收</p>
            <p class="c6 xcx-slide3-p2">
                测试产品，并反馈给研发，研发提供最终产品包给客户验收
            </p>
        </div>
        <div class="col-xs-12 visible-xs-block visible-sm-block"></div>
        <div class="col-xs-6 col-md-3 xcx-slide3-icon  ">
            <img src="_INDEX/images/xcx-slide3-icon3.png" alt="">
            <p class="c6 xcx-slide3-p1 ">产品上线</p>
            <p class="c6 xcx-slide3-p2">
                发布上线
            </p>
        </div>
    </div>


</div>


<div class="col-xs-12 xcx-slide4">
    <div class="col-xs-12  col-md-offset-1 col-md-10">

        <div class="col-xs-12 col-md-6 xcx-slide4-left hidden-padding-768">
            <h3 class="c3">适用多种行业</h3>

            <p class="c6 xcx-slide4-left-p">
                电商购物，教育培训，生活咨询，餐饮住宿，房产，酒店管理，医疗保健，酒吧娱乐等行业，均适用微信小程序开发。 开通小程序，抢占市场
            </p>
            <div class="col-xs-6  xcx-slide4-icon xcx-slide4-icon-1 c6">
                <p>大幅度降低中小企业开发成本</p>
                <p>降低程序开发成本，节约时间周期；简化推广流程，结合公众号的营销优势，扫描二维码即可适用。</p>

            </div>
            <div class="col-xs-6 xcx-slide4-icon xcx-slide4-icon-2 c6 hidden-padding-768">
                <p>大幅度降低中小企业开发成本</p>
                <p>降低程序开发成本，节约时间周期；简化推广流程，结合公众号的营销优势，扫描二维码即可适用。</p>

            </div>
            <div class="col-xs-12 visible-sm-block visible-xs-block">

            </div>
            <div class="col-xs-6 xcx-slide4-icon  xcx-slide4-icon-3 c6">
                <p>大幅度降低中小企业开发成本</p>
                <p>降低程序开发成本，节约时间周期；简化推广流程，结合公众号的营销优势，扫描二维码即可适用。</p>

            </div>
            <div class="col-xs-6 xcx-slide4-icon xcx-slide4-icon-4 c6 hidden-padding-768">
                <p>大幅度降低中小企业开发成本</p>
                <p>降低程序开发成本，节约时间周期；简化推广流程，结合公众号的营销优势，扫描二维码即可适用。</p>

            </div>
        </div>

        <div class="col-xs-6 xcx-slide4-right hidden-sm hidden-xs">

        </div>

    </div>


</div>


<!--底部开始-->
{include file="index/footer" /}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>
<script src="_INDEX/style/addnav.js"></script>
</body>
</html>