<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业建站-网站案例</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond._INDEX/js/1.4.2/respond.min.js"></script>

    <![endif]-->


    <link rel="stylesheet" href="_INDEX/addstyle/css/baguetteBox.min.css">
    <!--<link rel="stylesheet" href="_INDEX/addstyle/_INDEX/css/thumbnail-gallery.css">-->
    <style>
        .jq22-demo{ text-align: center; margin-top: 30px; }
        .jq22-demo a{ padding-left: 20px; padding-right: 20px; }
    </style>
</head>
<body>
{include file="index/head" /}
<div class="col-xs-12 col-sm-12 col-md-12  qyjz-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word-qyjz ">

        <p class="font-light p1" style="">绚丽网页 源自黑珍珠</p>

    </div>

</div>


<div class=" col-xs-12 qyjz-slide1 " style="">
    <div class=" col-xs-12" style="text-align: center;">
        <h3>建站案例</h3>
        <p style="font-size: 14px; letter-spacing: 1px;padding: 20px  0 20px 0 ">
            黑珍珠科技秉持服务与质量并重，已为广大客户做成上千份网站
        </p>
    </div>
    <div class="col-md-10 col-md-offset-1  col-xs-12  tz-gallery">
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">

                    <a class="lightbox" href="_INDEX/images/qyjz-jzan-1.jpg">
                        <img src="_INDEX/images/qyjz-jzan-1.jpg" alt="Park">
                    </a>

                    <div class="caption">
                        <h4 style="">家居设计 网站模板
                        </h4>
                        <hr style="margin:5px auto;">
                        <p>Html5   简约   家具 <a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">查看更多</a>
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">
                    <a class="lightbox" href="_INDEX/images/qyjz-jzan-2.jpg">
                        <img src="_INDEX/images/qyjz-jzan-2.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h4 style="">


                            商务科技黑色 模板</h4>
                        <hr style="margin:5px auto;">
                        <p>Html5   深色   商务 <a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">查看更多</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">
                    <a class="lightbox" href="_INDEX/images/qyjz-jzan-3.jpg">
                        <img src="_INDEX/images/qyjz-jzan-3.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h4 style="">
                            儿童教育绿色模板</h4>
                        <hr style="margin:5px auto;">
                        <p>Html5   儿童   绿色<a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">查看更多</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">
                    <a class="lightbox" href="_INDEX/images/qyjz-jzan-4.jpg">
                        <img src="_INDEX/images/qyjz-jzan-4.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h4 style=""> 科技公司蓝色 模板</h4>
                        <hr style="margin:5px auto;">
                        <p>Html5   深色   商务<a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">查看更多</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">
                    <a class="lightbox" href="_INDEX/images/qyjz-jzan-5.jpg">
                        <img src="_INDEX/images/qyjz-jzan-5.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h4 style="">简约摄影网站模板</h4>
                        <hr style="margin:5px auto;">
                        <p>Html5  简约   摄影 <a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">查看更多</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">
                    <a class="lightbox" href="_INDEX/images/qyjz-jzan-6.jpg">
                        <img src="_INDEX/images/qyjz-jzan-6.jpg" alt="Park">
                    </a>
                    <div class="caption">
                        <h4 style="">医疗公司网站模板</h4>
                        <hr style="margin:5px auto;">
                        <p>Html5 简约 商务 <a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">查看更多</a>
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <div class=" col-xs-12 qyjz-more" style="">

            <p style="">
                <a href="#" class="nda" style=" ">查看更多</a>
            </p>
        </div>



    </div>

</div>
{include file="index/footer" /}



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>

<script type="text/javascript" src="_INDEX/addstyle/js/baguetteBox.min.js"></script>
<script type="text/javascript">
    baguetteBox.run('.tz-gallery');
</script>



<script src="_INDEX/style/addnav.js"></script>
</body>
</html>