<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>营销推广-微信营销</title>

    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="">

{include file="index/head" /}

<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner jckb-banner">
    <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>点对点精准营销</h2>
        <p class="p2">打造品牌公众账号 实体店面同步营销 </p>
        <p class="p2"></p>
    </div>

</div>


<div class="col-xs-12 slide wxyx-slide2">
    <h3>
        微信营销的价值
    </h3>

    <div class="col-xs-10 col-xs-offset-1">


        <div class="col-md-4 col-xs-12 col-sm-6 p-wxyx-slide2-icon wxyx-slide2-icon1">
            <p class="wxyx-slide2-icon1-p1 c3">
                集客
            </p>
            <p class="wxyx-slide2-icon1-p2 c6">
                把品牌的已存在和潜在客群，有效转化为微信粉丝，留在身边！
            </p>
        </div>

        <div class="col-md-4 col-xs-12 col-sm-6 p-wxyx-slide2-icon wxyx-slide2-icon2">
            <p class="wxyx-slide2-icon1-p1 c3">
                留存
            </p>
            <p class="wxyx-slide2-icon1-p2 c6">
                用专业和真诚去不断唤起粉丝的热情，获取顾客群体的关注！
            </p>
        </div>

        <div class="col-md-4 col-xs-12 col-sm-6 p-wxyx-slide2-icon wxyx-slide2-icon3">
            <p class="wxyx-slide2-icon1-p1 c3">
                二次营销
            </p>
            <p class="wxyx-slide2-icon1-p2 c6">
                用互动活动去激发潜在顾客群体的兴趣，用奖品去诱惑顾客买单！
            </p>
        </div>
    </div>
</div>

<div class="col-xs-12 slide wxyx-slide3">
    <h3>怎么做好微信营销平台</h3>
    <div class="col-md-10 col-md-offset-1 col-xs-12 wxyx-slide3-main">

        <div class="col-md-4 col-xs-12 wxyx-slide3-main-list">

            <P><img src="_INDEX/images/wxyx-maohao.png" alt=""></P>
            <p class="c6">
                1.完善的内容创作计划
            </p>
            <p class="c6">
                2.及时有效的整合编辑与发布
            </p>
            <p class="c6">
                3.信息传播检测及调整
            </p>
            <p class="c6  c6last">
                4.建设有效的互动交流机制
            </p>


        </div>
        <div class="col-md-4 col-xs-12 wxyx-slide3-main-list">

            <P><img src="_INDEX/images/wxyx-maohao.png" alt=""></P>
            <p class="c6">
                1.订阅号的微网站建设
            </p>
            <p class="c6">
                2.互动板块建设
            </p>
            <p class="c6">
                3专属定制板块开发与应用
            </p>
            <p class="c6  c6last">
                4.微信营销策略规划
            </p>


        </div>
        <div class="col-md-4 col-xs-12 wxyx-slide3-main-list">

            <P><img src="_INDEX/images/wxyx-maohao.png" alt=""></P>
            <p class="c6">
                1.有效的微信粉丝在哪里？
                <br>
                给予具体拓展知道策略
            </p>
            <p class="c6">
                2.粉丝互动管理规划及互动关系建设
            </p>
            <p></p>

        </div>

    </div>

</div>


<div class="col-xs-12 slide wxyx-slide4">

    <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="col-xs-12 col-md-6">
            <img src="_INDEX/images/wxyx-slide4-bg.png" width="80%" alt="">
        </div>
        <div class="col-xs-12  col-md-6">
            <h3>微信公众平台基础信息建设</h3>
            <p>
                开通账号-提交认证-自定义菜单设计与建设-微信官方网站建设
            </p>
            <h3>
                增强资源工具介绍
            </h3>
            <p>
                微定制：渠道展示、邀请函、场景海报、等均可通过自定义菜单直接进入。
            </p>
            <h3>
                丰富多彩的活动
            </h3>
            <p>
                微互动及微社区：优惠券、幸运抽奖、微社区等，均可通过自定义菜单直接进入。
            </p>

        </div>

    </div>

</div>


<div class="col-xs-12 slide wxyx-slide5 ">
    <div class="col-xs-12 wxyx-slide5-tit">
        <h3>
            如何去获取有效的高质量粉丝并且发挥价值
        </h3>
        <p class="c6">
            企业需要用心解决三个问题，才能让微信营销持久高效！
        </p>
    </div>

    <div class="col-md-10 col-md-offset-1 col-xs-12">
        <div class="col-md-4 col-xs-12 col-sm-6">
            <img src="_INDEX/images/wxyx-slide5-bg1.png" width="100%" alt="">
            <p class="fs18 c3">
                <br>
                关注你的理由
            </p>
            <p class="fs15 c6">
                微信公众账号实在太多了，消费者为什 么要关注你的微信？
            </p>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-6">
            <img src="_INDEX/images/wxyx-slide5-bg2.png" width="100%" alt="">
            <p class="fs18 c3">
                <br>
                关注你的渠道
            </p>
            <p class="fs15 c6">
                作为你的消费者或者潜在消费者，怎么 找到你的微信，怎样了解更多？
            </p>
        </div>
        <div class="col-md-4 col-xs-12  ">
            <img src="_INDEX/images/wxyx-slide5-bg3.png" width="100%" alt="">
            <p class="fs18 c3">
                <br>
                留下来的意义
            </p>
            <p class="fs15 c6">
                即使为了参与你的活动而关注了企业微 信，能持续留在你的平台上么？
            </p>
        </div>

    </div>

</div>


<div class="col-xs-12 slide wxyx-slide6">

    <div class="col-md-10 col-md-offset-1 col-xs-12">

        <h3>
            微信公众平台基础信息建设-参考案例
        </h3>


        <div class="col-md-10 col-md-offset-1 col-xs-12 wxyx-slide6-main ">
            <div class="col-md-3 col-xs-6 wxyx-slide6-list">
                <img src="_INDEX/images/wxyx-slide6-img1.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs hidden-xs hidden-sm">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        山水集团
                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>
            <div class="col-md-3 col-xs-6 wxyx-slide6-list">
                <img src="_INDEX/images/wxyx-slide6-img2.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs hidden-xs hidden-sm">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        西亚斯饮品

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        2314
                    </div>


                    </p>
                </div>

            </div>
            <div class="col-xs-12 visible-xs-block visible-sm-block"></div>
            <div class="col-md-3 col-xs-6 wxyx-slide6-list">
                <img src="_INDEX/images/wxyx-slide6-img3.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs hidden-xs hidden-sm">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        夏易购

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>

                        8985

                    </div>


                    </p>
                </div>

            </div>
            <div class="col-md-3 col-xs-6 wxyx-slide6-list">
                <img src="_INDEX/images/wxyx-slide6-img4.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs hidden-xs hidden-sm">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        MIGHTY GAMES


                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>
            <div class="col-xs-12"></div>
            <div class="col-md-3 col-xs-6 hidden-xs  wxyx-slide6-list">
                <img src="_INDEX/images/wxyx-slide6-img5.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs hidden-xs hidden-sm">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        艾丽亚商贸


                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>
            <div class="col-md-3 col-xs-6-3 hidden-xs wxyx-slide6-list">
                <img src="_INDEX/images/wxyx-slide6-img6.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs hidden-xs hidden-sm">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        跨境购


                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>
            <div class="col-xs-12 visible-xs-block visible-sm-block"></div>
            <div class="col-md-3 col-xs-6 hidden-xs wxyx-slide6-list">
                <img src="_INDEX/images/wxyx-slide6-img7.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs hidden-xs hidden-sm">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        沈通公交

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>
            <div class="col-md-3 col-xs-6 hidden-xs wxyx-slide6-list">
                <img src="_INDEX/images/wxyx-slide6-img8.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs hidden-xs hidden-sm">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        水木颐养

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>

        </div>
    </div>


</div>
<!--底部开始-->
{include file="index/footer" /}

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_INDEX/js/bootstrap.min.js"></script>
<script src="_INDEX/style/addnav.js"></script>

</body>
</html>