<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="黑珍珠计算机科技、黑珍珠计算机、黑珍珠科技、软件开发、app开发、软件外包、企业网站、网站建设、营销推广、渠道代理">
    <meta name="description" content="黑珍珠计算机科技有限公司是一家从事网站建设、app开发、业务系统研发、商城系统开发、域名注册、虚拟主机、企业邮箱、seo优化、网络推广营销的专业互联网科技公司。">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业建站-微信分销</title>
    <!-- Bootstrap -->
    <link href="_INDEX/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="_INDEX/style/index.css">
    <link rel="stylesheet" href="_INDEX/style/xunizhuji.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    @media screen and (min-width:1400px) {
        .wxfx-slide1-bg {
            background-size: 21% !important;
        }
    }
    </style>
</head>

<body>
    {include file="index/head" /}
    <div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner">
        <!--<img src="_INDEX/images/banner.png" alt="" width="100%" height="100%" >-->
        <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
            <h2>人人都是你的分销王牌</h2>
            <p class="p2">最专业的微信商城+分销加盟+三级返佣</p>
            <p class="p2">可无限级发展下游，让你的分销满天下</p>
        </div>
    </div>
    <div class="col-xs-12 wxfx-slide1">
        <div class="col-xs-12 col-md-10 col-md-offset-1">
            <div class="col-xs-12 wxfx-slide1-bg " style=" ">
                <div class="col-xs-12 col-md-7 col-md-offset-5">
                    <h3>一键分销 无限开分店 销售网络快速裂变</h3>
                    <p>
                        一键操作，总店快速构建无限级分销子店
                        <br> 人人都可轻松开分店，分销铺展迅猛扩张
                    </p>
                    <p class="wxfx-slide1-bg-p2">
                        <a href="#">
                        开店咨询
                    </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--slide1 结束-->
    <div class="col-xs-12 wxdz-slide3">
        <div class="col-xs-12" style="background: rgba(0,0,0,.2);padding: 0; margin: 50px 0;">
            <div class="col-xs-12 col-md-10  col-md-offset-1">
                <h3 class="wxdz-slide1-tit wxdz-slide3-tit" style="">
                独有的三级返佣 收益最大化 买家变卖家
            </h3>
                <hr style="width: 100px; margin: 20px auto;border-top: 2px solid #fff;">
            </div>
            <div class="col-xs-12 col-md-10 col-md-offset-1" style="text-align: center; padding: 60px 0 80px ;">
                <div class="col-xs-12  col-md-3  ">
                    <div class="wxfx-slide3-body" style="">
                        <img src="_INDEX/images/wxfx-flower.png" alt="" style="">
                        <h5>分销商受益</h5>
                        <p style="text-align: center;">自己的产品佣金
                            <br> 下二级分销商销售返佣
                        </p>
                    </div>
                </div>
                <div class="col-xs-12  col-md-3 wxdz-slide1-margin-left  ">
                    <div class="wxfx-slide3-body" style="">
                        <img src="_INDEX/images/wxfx-slide3-mac.png" alt="" style="margin: 34px;">
                        <h5>人人模式</h5>
                        <p style="text-align: center;">人人都能发展下级分销商
                            <br> 商品销售辐射圈呈几何倍数扩大
                        </p>
                    </div>
                </div>
                <div class="col-xs-12  col-md-3   " style="float: right;">
                    <div class="wxfx-slide3-body" style="">
                        <img src="_INDEX/images/wxfx-slide3-mf.png" alt="" style="margin: 24px;">
                        <h5>分销商受益</h5>
                        <p style="text-align: center;">分销商均享最高佣金 无级别限制
                            <br> 超大吸引力 买家瞬间变分销卖家
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 wxfx-slide4" style="background: #f3f3f3;padding: 0;">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                <h3>强大推广方式+素材库 分销商轻松铺开宣传</h3>
                <p class="wxfx-slide4-p">
                    一键分享微博、微信、QQ社交平台，快速传播引流量
                    <br> 总店任意添加图文推广素材，分销商可以直接获取，推广省时又省心
                </p>
            </div>
            <div class="col-xs-12 wxfx-slide4-body" style="">
                <div class="col-xs-3 col-md-2 zhuti hidden-xs hidden-sm" style="">
                    <p class="c3 wxfx-slide4-p1" style="">微 信 商 城 </p>
                    <div class="mengban" style="">
                        <img class="wxfx-slide4-img" src="_INDEX/images/wxfx-slide4-body1.png" width="100%" alt="">
                        <span class="mengban-span"></span>
                    </div>
                    <p style="">ECTouch</p>
                </div>
                <div class="col-xs-3 col-md-2 zhuti" style="">
                    <p class="c3 wxfx-slide4-p1" style=""> 微 信 商 城 </p>
                    <div class="mengban" style="">
                        <img class="wxfx-slide4-img" src="_INDEX/images/wxfx-slide4-body2.png" width="100%" alt="">
                        <span class="mengban-span"></span>
                    </div>
                    <p style="">唯品会</p>
                </div>
                <div class="col-xs-3 col-md-2 zhuti" style="">
                    <p class="c3 wxfx-slide4-p1" style=""> 微 信 商 城 </p>
                    <div class="mengban" style="">
                        <img class="wxfx-slide4-img" src="_INDEX/images/wxfx-slide4-body3.png" width="100%" alt="">
                        <span class="mengban-span"></span>
                    </div>
                    <p style="">美乐乐</p>
                </div>
                <div class="col-xs-3 col-md-2 zhuti" style="">
                    <p class="c3 wxfx-slide4-p1" style=""> 微 信 商 城 </p>
                    <div class="mengban" style="">
                        <img class="wxfx-slide4-img" src="_INDEX/images/wxfx-slide4-body4.png" width="100%" alt="">
                        <span class="mengban-span"></span>
                    </div>
                    <p style="">大朴网</p>
                </div>
                <div class="col-xs-3 col-md-2 zhuti" style="">
                    <p class="c3 wxfx-slide4-p1" style=""> 微 信 商 城</p>
                    <div class="mengban" style="">
                        <img class="wxfx-slide4-img" src="_INDEX/images/wxfx-slide4-body5.png" width="100%" alt="">
                        <span class="mengban-span"></span>
                    </div>
                    <p style="">oppo手机</p>
                </div>
                <div class="col-xs-3 col-md-2 zhuti hidden-xs hidden-sm" style="">
                    <p class="c3 wxfx-slide4-p1" style=""> 微 信 商 城 </p>
                    <div class="mengban" style="">
                        <img class="wxfx-slide4-img" src="_INDEX/images/wxfx-slide4-body6.png" width="100%" alt="">
                        <span class="mengban-span"></span>
                    </div>
                    <p style="">麦包包</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 wxfx-slide5" style="background: #3d4f7a;">
        <div class="col-xs12 wxfx-slide5-tit  ">
            <h3>内置超64种超强微信营销应用，刺激销量涨涨涨</h3>
            <p>
                优惠券 秒杀 团购 微砍价 一元夺宝。。。等营销应用数不停 快速拉动粉丝消费，买买买 并且每月还在不断更新
            </p>
            <p>
                快速拉动分析消费，买买买
            </p>
            <p>
                并且每月还在不断更新
            </p>
        </div>
        <div class=" col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1">
            <div class="col-xs-2 col-md-offset-1 p-add hidden-xs hidden-sm " style="position: relative;">
                <img src="_INDEX/images/wxfx-slide5-ip1.png" width="100%" alt="">

            </div>
            <div class="col-xs-2 p-add hidden-xs hidden-sm">
                <img src="_INDEX/images/wxfx-slide5-ip2.png" width="100%" alt="">
            </div>
            <div class="col-xs-12 col-md-2">
                <img src="_INDEX/images/wxfx-slide5-ip3.png" width="100%" alt="">
            </div>
            <div class="col-xs-2 p-add hidden-xs hidden-sm">
                <img src="_INDEX/images/wxfx-slide5-ip4.png" width="100%" alt="">
            </div>
            <div class="col-xs-2 p-add hidden-xs hidden-sm">
                <img src="_INDEX/images/wxfx-slide5-ip5.png" width="100%" alt="">
            </div>
        </div>
    </div>
    <div class="col-xs-12  wxfx-slide6 hidden-xs hidden-sm">
        <div class="col-xs-8 col-xs-offset-2 wxfx-slide6-top">
            <div class="col-xs-3 col-xs-offset-1 wxfx-slide6-img">
                <img src="_INDEX/images/wxfx-slide6-sj.png" width="100%" alt="">
            </div>
            <div class="col-xs-8 wxfx-slide6-body">
                <h3 class="c3">你的店铺你做主，分销管理一手掌握</h3>
                <p class="c6">
                    店铺LOGO、广告任意换，商品自由添，分销商城轻松蜕变吸引买家
                    <br> 分销商管理、会员管理、佣金管理等应用尽有，分销数据、业绩尽在掌
                </p>
            </div>
        </div>
    </div>
    <div class="col-xs-12  wxfx-slide6 visible-sm-block visible-xs-block">
        <div class="col-xs-12  wxfx-slide6-top" style="text-align: center;">

            <div class="col-xs-8 col-xs-offset-2  wxfx-slide6-img">
                <img src="_MOBILE/images/wxfx-slide6-sj.png"  width="200" alt="">
            </div>
            <div class="col-xs-12 " >
                <h4 class="c3">你的店铺你做主，分销管理一手掌握</h4>
                <p class="c6">
                    店铺LOGO、广告任意换，商品自由添，分销商城轻松蜕变吸引买家 <br>
                    分销商管理、会员管理、佣金管理等应用尽有，分销数据、业绩尽在掌
                </p>
            </div>

        </div>

    </div>


    <!--底部开始-->
    {include file="index/footer" /}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="_INDEX/js/bootstrap.min.js"></script>
    <script src="_INDEX/style/addnav.js"></script>
</body>

</html>
