<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业建站-网站定制</title>

    <!-- Bootstrap -->
    <link href="_MOBILE/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_MOBILE/style/index.css">
    <link rel="stylesheet" href="_MOBILE/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond._MOBILE/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
{include file="index/head" /}


<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner dlzx-banner">
    <!--<img src="_MOBILE/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>黑珍珠代理宣传语</h2>
        <p class="p2"></p>
        <p class="p2"></p>
    </div>

</div>


<div class="col-xs-12 qdzx-slide2">
<div class="col-xs-10 col-xs-offset-1">
    <p class="qdzx-gold">Black Pearl online service</p>
    <h3 class="c3">黑珍珠在线服务</h3>
    <p class="c6">黑珍珠科技为所有代理商及客户提供不同渠道的在线服务，确保服务质量及及时沟通</p>

</div>

    <div class="col-xs-10 col-xs-offset-1">

        <div class="col-xs-4 qdzx-slide2-body">
            <img src="_MOBILE/images/dlzx-wx.png" width="61" alt="">
            <p class="qdzx-slide2-body-p">
                微信在线咨询
            </p>
            <p class="qdzx-slide2-a">
                <a href="#"> 点击进入</a>
            </p>
        </div>
        <div class="col-xs-4 qdzx-slide2-body">
            <img src="_MOBILE/images/dlzx-qq.png" width="61" alt="">
            <p class="qdzx-slide2-body-p">
                QQ在线咨询
            </p>
            <p class="qdzx-slide2-a">
                <a href="#"> 点击进入</a>
            </p>
        </div>
        <div class="col-xs-4 qdzx-slide2-body">
            <img src="_MOBILE/images/dlzx-phone.png" width="61" alt="">
            <p class="qdzx-slide2-body-p">
                拨打电话
            </p>
            <p class="qdzx-slide2-a">
                <a href="#"> 点击进入</a>
            </p>
        </div>

    </div>


</div>


<div class="col-xs-12 qdzx-slide3">

    <div class="col-xs-12 qdzx-slide3-tit ">
      <h3>申请成为代理商</h3>
        <p>加入合作伙伴计划并开始享受黑珍珠为你带来的各种帮助</p>

        <div class="">

            <div class="">

                <form class="">

                    <div class="form-group col-xs-12" >

                        <input type="text" class="form-control" placeholder="姓名">
                    </div>
                    <div class="form-group col-xs-12">

                        <input type="text" class="form-control" placeholder="手机">
                    </div>
                    <div class="form-group col-xs-12" >

                        <input type="email" class="form-control"  placeholder="Email">
                    </div>
                    <div class="form-group col-xs-12">

                        <input type="text" class="form-control"  placeholder="QQ">
                    </div>

                    <div id="distpicker5" >
                        <div class="form-group col-xs-4">
                            <label class="sr-only" for="province10">Province</label>
                            <select class="form-control" id="province10"></select>
                        </div>
                        <div class="form-group col-xs-4" >
                            <label class="sr-only" for="city10">City</label>
                            <select class="form-control" id="city10"></select>
                        </div>
                        <div class="form-group col-xs-4">
                            <label class="sr-only" for="district10">District</label>
                            <select class="form-control" id="district10"></select>
                        </div>
                    </div>
                    <div class="form-group col-xs-12">
                        <textarea class="form-control"  placeholder="给我留言" rows="5"></textarea>
                    </div>


                    <button type="submit" class="btn btn-default dlzx-btn">提交</button>


                </form>
            </div>

        </div>

    </div>

</div>




<!--底部开始-->
<div class="col-xs-12 col-sm-12 col-md-12  slide4">

    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3  col-sm-12 col-xs-12" style="padding-left: 0;">
            <h3 class="slide4-zb">准备开展业务？</h3>
        </div>
        <div class="col-md-6">


            <div class="col-md-5 col-md-offset-1  col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but1">
                    <a href="#">立即创建网站</a>
                </h4>
            </div>
            <div class="col-md-5   col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but2">
                    <a href="#">成为渠道商</a>
                </h4>
            </div>

        </div>

        <div class="col-md-3   col-sm-6 col-xs-6  slide4-tel" style="text-align: right;margin-top: 30px;">或者拨打:
            0371-60297655
            <img src="_MOBILE/images/7-24.png" width="100%" alt="">
        </div>
    </div>


    <!--slide4结束-->
</div>
<!--slide4结束-->

<div class="col-md-12 col-sm-12 col-xs-12 slide5">
    <div class="col-md-offset-1 col-md-10 col-xs-12 col-sm-12 slide5-top">


        <div class="col-md-3 col-sm-6 slide5-767">
            <p class="slide5-tit">联系我们</p>
            <p>河南·郑州 金水区创业园北林路16号</p>
            <p>联系电话：0371-60297655</p>
            <p>Email：n89@163.com</p>
            <p>邮编：450000</p>
            <img src="_MOBILE/images/erweima.png" alt="二维码">
            <p class="max-display">
                <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_24x24 max-display">
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tqq"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis"
                   target="_blank"></a>

            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
            </p>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">"互联网+" 新闻中心</p>
            <p class="slide5-tit-2">加快HTML5开发可视化编辑器 </p>
            <p>随着HTML5游戏《围住神经猫》爆红网络， 越来越多的游戏开发者把目光投向HTML5领域。但是HTML5游戏...</p>
            <p class="slide5-tit-2">HTML5 Canvas中绘制矩形实例教程</p>
            <p>本文翻译自Steve Fulton Jeff Fulton HTML5Canvas, Chapter 2, The Basic RectangleShape. 让我们来看一下...</p>

        </div>
        <div class="col-sm-12 display-991">

        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">产品与服务</p>

            <div class="col-md-6 col-sm-6 cpfw-tit">
                <p class="cpfw cpfw-a">
                    <a href="#">企业建站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">定制网站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">小程序开发</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信分销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">网上开店</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">软件及系统开发服务</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信营销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">SEO优化</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">基础口碑服务</a>
                </p>

            </div>

            <div class="col-md-6 col-sm-6 cpfw-tit" style="text-align: right;padding-right: 15px;">
                <p class="cpfw cpfw-a">
                    <a href="#">代理政策</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理流程</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理注册</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理咨询</a>
                </p>


            </div>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">发送留言</p>
            <form>
                <div class="form-group">

                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="姓名">
                </div>
                <div class="form-group">

                    <input type="tel" class="form-control" id="exampleInputEmail1" placeholder="联系方式">
                </div>
                <div class="form-group">

                    <textarea class="form-control" rows="3" placeholder="留言内容"></textarea>
                </div>

                <button type="submit" class="btn btn-default btn-footer">提 交</button>
            </form>

        </div>


    </div>


</div>


<div class="col-md-12  col-xs-12 col-sm-12 footer-foot-top max-display-991">


    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 max-display ">
        <a href="#">关于黑珍珠 |</a>
        <a href="#">联系我们 |</a>
        <a href="#">付款方式 |</a>
        <a href="#">网站备案 |</a>
        <a href="#">价格总览 |</a>
        <a href="#">帮助中心 |</a>
        <a href="#">诚聘英才 |</a>
        <a href="#">新闻中心 |</a>
        <a href="#">相关下载</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-2 max-display ">
        <a href="#">网站反馈 |</a>
        <a href="#">企业建站 |</a>
        <a href="#">软件开发 |</a>
        <a href="#">域名申请 |</a>
        <a href="#">虚拟主机 |</a>
        <a href="#">企业邮箱 |</a>
        <a href="#">营销推广 |</a>
        <a href="#">云主机 |</a>
        <a href="#">技术支持尽在黑珍珠</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 ">
        <p>© 2017黑珍珠科技备案号: <a href="#">豫ICP备 15011304-5号</a></p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_MOBILE/js/bootstrap.min.js"></script>

<!--补充的插件-->
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="_MOBILE/js/distpicker.data.js"></script>
<script src="_MOBILE/js/distpicker.js"></script>
<script src="_MOBILE/js/main.js"></script>
<!--补充的插件-->
</body>
</html>