<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业建站-网站定制</title>

    <!-- Bootstrap -->
    <link href="_MOBILE/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_MOBILE/style/index.css">
    <link rel="stylesheet" href="_MOBILE/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond._MOBILE/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="">

{include file="index/head" /}


<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner fwpt-banner">
    <!--<img src="_MOBILE/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>黑珍珠代理宣传语</h2>
        <p class="p2"></p>
        <p class="p2"></p>
    </div>

</div>


<div class="col-xs-12 slide zxqy-slide2">
    <div class="col-xs-12 ">
        <div class="col-xs-12 zxqy-slide">
            <h4 class="c3">概述</h4>
            <p class="c6">
                中小企业云一站式服务平台是软通动力智慧城市战略规划中、面向企业服务和产业发展
                支持的平台型解决方案。平台以推进社会经济要素信息化建设为切入点，遵循服务于社会创
                新发展、着力“互联网+产业”的行业实践，最终实现产业大数据沉淀、挖掘与应用、推进
                信息消费，实现产业互联网技术应用水平与大数据工具应用水平的同步提升。
            </p>
        </div>
        <div class="col-xs-12" style="text-align: center;">
            <img src="_MOBILE/images/zxqy-slide2.png" width="100%" alt="">
        </div>
    </div>
</div>

<div class="col-xs-12 zxqy-slide3">
    <div class="col-xs-12 ">



        <div class="col-xs-12 zxqy-slide">
            <h4 class="c3">
                <span>功能</span>体系
            </h4>
            <p class="c6">
                中小企业云一站式服务平台是软通动力智慧城市战略规划中、面向企业服务和产业发展
                支持的平台型解决方案。平台以推进社会经济要素信息化建设为切入点，遵循服务于社会创
                新发展、着力“互联网+产业”的行业实践，最终实现产业大数据沉淀、挖掘与应用、推进
                信息消费，实现产业互联网技术应用水平与大数据工具应用水平的同步提升。
            </p>
        </div>
        <div class="col-xs-12">
            <img src="_MOBILE/images/zxqy-slide3.png" width="100%" alt="">
        </div>

    </div>


</div>

<div class="col-xs-12 zxqy-slide4">
    <div class="col-xs-12 ">


        <div class="col-xs-12  zxqy-slide">
            <h4 class="c3">
                <span>客户</span>群体及意义阐述
            </h4>
            <p class="c6">
                平台面向政府、运营商、园区及集团型企业用户提供线上、线下相融合的各种服务，目的
                是提升产业资源运用效率、降低产业信息化成本、促进产业结构转型升级和推动社会经济实现
                创新、可持续性发展。
            </p>
        </div>

        <div class="col-xs-12 ">
            <img src="_MOBILE/images/zxqy-slide4.jpg" width="100%" alt="">
        </div>


    </div>


</div>


<div class="col-xs-12 zxqy-slide5 clear-padding">
    <div id="myTab" class="col-xs-12  zxqy-slide5-top clear-padding" style="text-align: center;">


        <div class="col-xs-5"  style="padding-left: 2px;padding-right: 2px; ">
            <a href="#home" data-toggle="tab">
                政府级解决方案
            </a>
        </div>

        <div class="col-xs-7" style="padding-left: 2px;padding-right: 2px; ">
            <a href="#ios" data-toggle="tab">
                行业与企业级解决方案
            </a>
        </div>

    </div>

    <div class="col-xs-12 ">

        <div id="myTabContent" class="tab-content">
            <div class="tab-pane fade in active" id="home">
                <p class="c6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;城市是生产要素的聚集地，对于国家甚至世界经济的走势具有举足轻重的影响
                    智慧城市作为城市可持续发展和解决“城市病”的主要载体，进入新的发展阶段：以云计算、大数据驱动的智慧城市解决方案
                    和产品转向关注民生、提升公共产品和服务、提升宜居水平等方面，“以人为本“贯穿始终。
                    软通动力作为智慧城市和产业互联网的领导者，在绿色、发展、创新、协调、共享的发展理念的指引下，通过大数据
                    洞察、结合城市自身优势和特点，打造智慧的政府、智慧的产业、智慧的公共服务，给城市装上”智慧的大脑“，更高效、更优质地发展。
                </p>


                <div class="col-xs-12 zxqy-slide5-body">
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img1.jpg" width="100%" alt="">
                        <h4 class="c3">
                            城市云解决方案
                        </h4>
                        <p class="c6">
                            随着中国智慧城市建设的推进，云服务作为新型的服务模式，为解决服务区域化、个性化等问题，提供了有力的支撑手段，发挥了重要的基础作用；
                            同时，智慧城市建设的不断深入，也为云服务产业发展提供了广阔的市场空间...
                        </p>

                    </div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img2.jpg" width="100%" alt="">
                        <h4 class="c3">
                            云数据中心解决方案
                        </h4>
                        <p class="c6">
                            云数据中心解决方案以机柜级的整体机房理念为构想，通过配电系统、智能化供电系统、
                            制冷系统及应急系统、机柜、气流管理组件、传感器、LCD屏以及监控系统构成，
                            为您带来全新的云基础建设与全新体验...
                        </p>

                    </div>
                    <div class="col-xs-12"></div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img3.jpg" width="100%" alt="">
                        <h4 class="c3">
                            智慧农业解决方案
                        </h4>
                        <p class="c6">
                            智慧农业云平台以互联网+农业的新型模式，改变传统产业。以互联网为入口、分别从流通渠道，生产模式，营销模式的三个重要环节，
                            为传统农业带来生产与市场与生产资源充分对接的机会...
                        </p>

                    </div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img4.jpg" width="100%" alt="">
                        <h4 class="c3">
                            智慧工业解决方案
                        </h4>
                        <p class="c6">
                            工业是国民经济的主体，是城市经济社会发展的重要基础和命脉，在全球工业发展格局和我国经济运行进入“新常态”的前提下，
                            如何借鉴德国工业4.0、美国先进制造、工业互联网的理念和经验...
                        </p>

                    </div>
                    <div class="col-xs-12"></div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img5.jpg" width="100%" alt="">
                        <h4 class="c3">
                            智慧环保解决方案
                        </h4>
                        <p class="c6">
                            从2010年起，从公众服务领域兴起的云计算、大数据、移动互联、物联网技术，在各个行业中也获得了如火如荼的应用，
                            这些技术在其他行业的广泛、成功的应用不仅证明了新技术能够为新形势下的行业发展...
                        </p>

                    </div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img6.jpg" width="100%" alt="">
                        <h4 class="c3">
                            智慧能源解决方案
                        </h4>
                        <p class="c6">
                            中国是一个能源消费和温室气体排放大国。随着不可再生能源的日益匮乏和环境的不断恶化，
                            能源管理成为城市管理工作中不可或缺的重要建设内容...
                        </p>

                    </div>
                    <div class="col-xs-12"></div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img7.jpg" width="100%" alt="">
                        <h4 class="c3">
                            智慧文旅解决方案
                        </h4>
                        <p class="c6">
                            随着我国工业化、信息化、城镇化、市场化、国际化的深入发展，高速交通体系的快速完善，
                            特别是伴随着人均国民收入的稳步增加而持续增长的大众化和多样性消费需求...
                        </p>

                    </div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img8.jpg" width="100%" alt="">
                        <h4 class="c3">
                            智慧医疗解决方案
                        </h4>
                        <p class="c6">
                            患者作为医疗服务的需求方， 其就医选择直接影响着整个医疗卫生服务体系的运转和分级诊疗的实现。
                            软通动力帮助政府利用大数据技术和自身丰富的智慧城市建设运营经验...
                        </p>

                    </div>
                    <div class="col-xs-12"></div>
                    <div class="col-xs-12">

                        <div class="zxqy-slide5-bottom">
                            <a href="#">
                                查看更多
                            </a>

                        </div>

                    </div>


                </div>
            </div>
            <div class="tab-pane fade" id="ios">
                <p class="c6">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;凭借多年积累，软通动力为客户提供从IT咨询、业务规划、行业解决方案、
                    定制化开发与实施到系统维护服务的一站式全生命周期、
                    全价值链的IT解决方案服务，覆盖银行、能源、企业金融、保险、汽车、电信、跨境电商、地产、制造、证券等众多行业。
                </p>


                <div class="col-xs-12 zxqy-slide5-body">
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img2-1.jpg" width="100%" alt="">

                        <a href="#">
                            <h4 class="c3">
                                银行业解决方案
                            </h4>
                            <p class="c6">
                                以银行、证券为代表的金融行业一直是技术创新和应用创新的高地。在“互联网+”的背景下，围绕客户服务、业务创新、
                                产业升级而展开的新一轮信息技术革命推动着整个金融服务的转型升级。软通动力凭借..
                            </p>
                        </a>

                    </div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img2-2.jpg" width="100%" alt="">
                        <h4 class="c3">
                            企业金融解决方案
                        </h4>
                        <p class="c6">
                            软通动力在企业金融领域，为客户提供财务公司解决方案、资金及企业司库管理解决方案、信托行业解决方案，
                            同时致力于互联网征信、理财、众筹、跨境支付等互联网金融各创新平台的信息化建设和发展...
                        </p>

                    </div>
                    <div class="col-xs-12"></div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img2-3.jpg" width="100%" alt="">
                        <h4 class="c3">
                            保险行业解决方案
                        </h4>
                        <p class="c6">
                            软通动力在IDC保险行业解决方案 Leadership Grid中被评为财险核心系统领导者厂商。
                            作为国内最早一批为保险行业提供解决方案的服务商之一，软通动力拥有18年保险行业服务经验，服务了中国保监会..
                        </p>

                    </div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img2-4.jpg" width="100%" alt="">
                        <h4 class="c3">
                            地产行业解决方案
                        </h4>
                        <p class="c6">
                            凭借在地产、互联网等行业，以及新兴技术领域的持续创新，软通动力以技术推动业务、
                            以知识应对挑战，帮助客户打造全方位商业地产IT体系，助推企业提升市场竞争力。基于产品+服务的模式，全面覆盖..
                        </p>

                    </div>
                    <div class="col-xs-12"></div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img2-5.jpg" width="100%" alt="">
                        <h4 class="c3">
                            能源行业解决方案
                        </h4>
                        <p class="c6">
                            软通动力能源行业团队致力于推进中国能源行业的信息化建设工作，为该行业客户提供IT咨询规划、
                            自动化控制、业务管理（GIS、MIS、EAM）、分析与决策等全方位的能源行业信息化解决方案。能源行业服务..
                        </p>

                    </div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img2-6.jpg" width="100%" alt="">
                        <h4 class="c3">
                            汽车行业解决方案
                        </h4>
                        <p class="c6">
                            对于多组织的大型企业集 团，不同时期建设了不同的应用系统，单位之间建设时间、技术平台、
                            数据结构、功能设计都存在很大差异，总部侧需要的关键指标数据多通过手工填报、报表的形 式获取，其及时性...
                        </p>

                    </div>
                    <div class="col-xs-12"></div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img2-7.jpg" width="100%" alt="">
                        <h4 class="c3">
                            智能终端测试解决方案
                        </h4>
                        <p class="c6">
                            随着互联网+产业的蓬勃发展，智能终端的崛起，无论是移动终端制造商、移动通信运营商以及移动互联网内容服务商，
                            都面临着新技术、新业务、新服务不断涌现，商用进程不断加快的局面...
                        </p>

                    </div>
                    <div class="col-xs-6 zxqy-slide5-img">
                        <img src="_MOBILE/images/zxqy-slide5-img2-8.jpg" width="100%" alt="">
                        <h4 class="c3">
                            运营商大数据解决方案
                        </h4>
                        <p class="c6">
                            电信运营商作为固定电 话、移动电话和互联网接入的通信服务机构，是天生的大数据企业，
                            拥有超海量的数据规模（Volume），真实、实时、稳定的数据流（Velocity）， 复杂多样的数据类型（Variety）和巨大的...
                        </p>

                    </div>

                    <div class="col-xs-12">

                        <div class="zxqy-slide5-bottom">
                            <a href="#">
                                查看更多
                            </a>

                        </div>

                    </div>


                </div>
            </div>

        </div>
    </div>


</div>


<!--底部开始-->
<div class="col-xs-12 col-sm-12 col-md-12  slide4">

    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3  col-sm-12 col-xs-12" style="padding-left: 0;">
            <h3 class="slide4-zb">准备开展业务？</h3>
        </div>
        <div class="col-md-6">


            <div class="col-md-5 col-md-offset-1  col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but1">
                    <a href="#">立即创建网站</a>
                </h4>
            </div>
            <div class="col-md-5   col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but2">
                    <a href="#">成为渠道商</a>
                </h4>
            </div>

        </div>

        <div class="col-md-3   col-sm-6 col-xs-6  slide4-tel" style="text-align: right;margin-top: 30px;">或者拨打:
            0371-60297655
            <img src="_MOBILE/images/7-24.png" width="100%" alt="">
        </div>
    </div>


    <!--slide4结束-->
</div>
<!--slide4结束-->

<div class="col-md-12 col-sm-12 col-xs-12 slide5">
    <div class="col-md-offset-1 col-md-10 col-xs-12 col-sm-12 slide5-top">


        <div class="col-md-3 col-sm-6 slide5-767">
            <p class="slide5-tit">联系我们</p>
            <p>河南·郑州 金水区创业园北林路16号</p>
            <p>联系电话：0371-60297655</p>
            <p>Email：n89@163.com</p>
            <p>邮编：450000</p>
            <img src="_MOBILE/images/erweima.png" alt="二维码">
            <p class="max-display">
                <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_24x24 max-display">
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tqq"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis"
                   target="_blank"></a>

            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
            </p>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">"互联网+" 新闻中心</p>
            <p class="slide5-tit-2">加快HTML5开发可视化编辑器 </p>
            <p>随着HTML5游戏《围住神经猫》爆红网络， 越来越多的游戏开发者把目光投向HTML5领域。但是HTML5游戏...</p>
            <p class="slide5-tit-2">HTML5 Canvas中绘制矩形实例教程</p>
            <p>本文翻译自Steve Fulton Jeff Fulton HTML5Canvas, Chapter 2, The Basic RectangleShape. 让我们来看一下...</p>

        </div>
        <div class="col-sm-12 display-991">

        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">产品与服务</p>

            <div class="col-md-6 col-sm-6 cpfw-tit">
                <p class="cpfw cpfw-a">
                    <a href="#">企业建站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">定制网站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">小程序开发</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信分销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">网上开店</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">软件及系统开发服务</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信营销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">SEO优化</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">基础口碑服务</a>
                </p>

            </div>

            <div class="col-md-6 col-sm-6 cpfw-tit" style="text-align: right;padding-right: 15px;">
                <p class="cpfw cpfw-a">
                    <a href="#">代理政策</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理流程</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理注册</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理咨询</a>
                </p>


            </div>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">发送留言</p>
            <form>
                <div class="form-group">

                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="姓名">
                </div>
                <div class="form-group">

                    <input type="tel" class="form-control" id="exampleInputEmail1" placeholder="联系方式">
                </div>
                <div class="form-group">

                    <textarea class="form-control" rows="3" placeholder="留言内容"></textarea>
                </div>

                <button type="submit" class="btn btn-default btn-footer">提 交</button>
            </form>

        </div>


    </div>


</div>


<div class="col-md-12  col-xs-12 col-sm-12 footer-foot-top max-display-991" >


    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 max-display ">
        <a href="#">关于黑珍珠 |</a>
        <a href="#">联系我们 |</a>
        <a href="#">付款方式 |</a>
        <a href="#">网站备案 |</a>
        <a href="#">价格总览 |</a>
        <a href="#">帮助中心 |</a>
        <a href="#">诚聘英才 |</a>
        <a href="#">新闻中心 |</a>
        <a href="#">相关下载</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-2 max-display ">
        <a href="#">网站反馈 |</a>
        <a href="#">企业建站 |</a>
        <a href="#">软件开发 |</a>
        <a href="#">域名申请 |</a>
        <a href="#">虚拟主机 |</a>
        <a href="#">企业邮箱 |</a>
        <a href="#">营销推广 |</a>
        <a href="#">云主机 |</a>
        <a href="#">技术支持尽在黑珍珠</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 ">
        <p>© 2017黑珍珠科技备案号: <a href="#">豫ICP备 15011304-5号</a></p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_MOBILE/js/bootstrap.min.js"></script>

<!--补充的插件-->
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="_MOBILE/js/distpicker.data.js"></script>
<script src="_MOBILE/js/distpicker.js"></script>
<script src="_MOBILE/js/main.js"></script>
<!--补充的插件-->
</body>
</html>