<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业建站-网上开店</title>

    <!-- Bootstrap -->
    <link href="_MOBILE/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="_MOBILE/style/index.css">
    <link rel="stylesheet" href="_MOBILE/style/xunizhuji.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond._MOBILE/js/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>
<body>


{include file="index/head" /}


<div class="col-xs-12 col-sm-12 col-md-12 qijz-wskd-banner">
    <!--<img src="_MOBILE/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>创新电子商务 零基础做电商</h2>

        <p class="p2">自由布局 可视装修 创新组件 强大灵活 全网营销 一店管理 </p>
        <p class="p2">网罗电商网站主流功能 随心DIY 创意社交化网店</p>
    </div>


</div>

<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wskd-list wskd-slide1" style="padding-left: 0; padding-right: 0;">

    <div class="col-xs-12 wskd-slide1-h1"><h4 class="wskd-slide1-h2">产品特点</h4></div>


    <div class="col-xs-12 wskd-list  wskd-list-1-mac" style="padding-left: 0;">

        <!--<div class="col-xs-3 " style="">-->
        <!--<img src="_MOBILE/images/wskd-mac.png" width="100%" height="100%" alt="">-->
        <!--</div>-->

        <div class="col-xs-8 col-xs-offset-4 color-506a85" style="margin-top: 15px; margin-bottom: 15px;">
            <h5 class="c-tit">全网营销 一店管理</h5>
            <p class=" c-p">电子商务功能一应俱全，秒杀，团购，分销等促进销售集成多种在线 支付方便交易</p>
        </div>


    </div>

    <div class="col-xs-12 wskd-list-1" style="padding-right: 0;padding-left: 0;">

        <div class="col-xs-12 color-506a85 wskd-list-2-iphone" style="padding-top: 15px; padding-bottom: 15px;">

            <div class="col-xs-9">
                <h5 class="c-tit">轻松上手 云平台支持</h5>
                <p class=" c-p">B2C/O2O电商网站轻松建，自有布局，可视装修，全网营销，一店管理 PC/手机/微信商城，三剑合璧</p>
            </div>

        </div>

        <!--<div class="col-xs-5 col-xs-offset-1 wskd-list-2-iphone" style="">-->
        <!--<img src="_MOBILE/images/wskd-iPhone.png" width="40%" alt="">-->
        <!--</div>-->


    </div>


    <div class="col-xs-12 wskd-list  wskd-list-ipad" style="padding-left: 0;">

        <!--<div class="col-xs-3 " style="">-->
        <!--<img src="_MOBILE/images/wskd-mac.png" width="100%" height="100%" alt="">-->
        <!--</div>-->

        <div class="col-xs-8 col-xs-offset-4 color-506a85" style="margin-top: 15px; margin-bottom: 15px;">
            <h5 class="c-tit">友好SEO优化</h5>
            <p class=" c-p">对各大搜索引擎进行深度SEO优化，快速提升商城排名，让更多客户主动上门；支持全局SEO,单独页面SEO,单独文章或产品的SEO</p>

        </div>


    </div>


</div>


<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 wskd-wdmb" style="">
    <div class="col-xs-12 wskd-wdmb-tit color-506a85">
        <h2 class="c-tit">网店模板</h2>
    </div>

    <div class="col-xs-12 wskd-wdmb-body">

        <div class=" col-xs-12 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_MOBILE/images/wskd-wdmb-body-menu.png" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        设计师： <span style="">尼古丁</span> <span style="float: right; ">￥480元</span>
                    </p>
                </div>
            </div>


        </div>

        <div class=" col-xs-12 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_MOBILE/images/wskd-wdmb-body-menu.png" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        设计师： <span style="">尼古丁</span> <span style="float: right; ">￥480元</span>
                    </p>
                </div>
            </div>


        </div>
        <div class=" col-xs-12 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_MOBILE/images/wskd-wdmb-body-menu.png" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        设计师： <span style="">尼古丁</span> <span style="float: right; ">￥480元</span>
                    </p>
                </div>
            </div>


        </div>
        <div class=" col-xs-12 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_MOBILE/images/wskd-wdmb-body-menu.png" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        设计师： <span style="">尼古丁</span> <span style="float: right; ">￥480元</span>
                    </p>
                </div>
            </div>


        </div>
        <div class=" col-xs-12 wskd-wdmb-body-menu" style="">
            <div class="col-xs-12 body-menu">
                <div class="col-xs-12" style=" ">
                    <img src="_MOBILE/images/wskd-wdmb-body-menu.png" width="100%" alt="">
                </div>
                <div class="col-xs-12" style="border-top: 1px solid #ccc;">
                    <p class="wdmb-p">
                        设计师： <span style="">尼古丁</span> <span style="float: right; ">￥480元</span>
                    </p>
                </div>
            </div>


        </div>





    </div>


</div>


<!--footer范围-->
<div class="col-xs-12 col-sm-12 col-md-12  slide4">

    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3  col-sm-12 col-xs-12" style="padding-left: 0;">
            <h3 class="slide4-zb">准备开展业务？</h3>
        </div>
        <div class="col-md-6">


            <div class="col-md-5 col-md-offset-1  col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but1">
                    <a href="#">立即创建网站</a>
                </h4>
            </div>
            <div class="col-md-5   col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but2">
                    <a href="#">成为渠道商</a>
                </h4>
            </div>

        </div>

        <div class="col-md-3   col-sm-6 col-xs-6  slide4-tel" style="text-align: right;margin-top: 30px;">或者拨打:
            0371-60297655
            <img src="_MOBILE/images/7-24.png" width="100%" alt="">
        </div>
    </div>


    <!--slide4结束-->
</div>
<!--slide4结束-->

<div class="col-md-12 col-sm-12 col-xs-12 slide5">
    <div class="col-md-offset-1 col-md-10 col-xs-12 col-sm-12 slide5-top">


        <div class="col-md-3 col-sm-6 slide5-767">
            <p class="slide5-tit">联系我们</p>
            <p>河南·郑州 金水区创业园北林路16号</p>
            <p>联系电话：0371-60297655</p>
            <p>Email：n89@163.com</p>
            <p>邮编：450000</p>
            <img src="_MOBILE/images/erweima.png" alt="二维码">
            <p class="max-display">
                <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_24x24 max-display">
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tqq"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis"
                   target="_blank"></a>

            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
            </p>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">"互联网+" 新闻中心</p>
            <p class="slide5-tit-2">加快HTML5开发可视化编辑器 </p>
            <p>随着HTML5游戏《围住神经猫》爆红网络， 越来越多的游戏开发者把目光投向HTML5领域。但是HTML5游戏...</p>
            <p class="slide5-tit-2">HTML5 Canvas中绘制矩形实例教程</p>
            <p>本文翻译自Steve Fulton Jeff Fulton HTML5Canvas, Chapter 2, The Basic RectangleShape. 让我们来看一下...</p>

        </div>
        <div class="col-sm-12 display-991">

        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">产品与服务</p>

            <div class="col-md-6 col-sm-6 cpfw-tit">
                <p class="cpfw cpfw-a">
                    <a href="#">企业建站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">定制网站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">小程序开发</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信分销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">网上开店</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">软件及系统开发服务</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信营销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">SEO优化</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">基础口碑服务</a>
                </p>

            </div>

            <div class="col-md-6 col-sm-6 cpfw-tit" style="text-align: right;padding-right: 15px;">
                <p class="cpfw cpfw-a">
                    <a href="#">代理政策</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理流程</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理注册</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理咨询</a>
                </p>


            </div>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">发送留言</p>
            <form>
                <div class="form-group">

                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="姓名">
                </div>
                <div class="form-group">

                    <input type="tel" class="form-control" id="exampleInputEmail1" placeholder="联系方式">
                </div>
                <div class="form-group">

                    <textarea class="form-control" rows="3" placeholder="留言内容"></textarea>
                </div>

                <button type="submit" class="btn btn-default btn-footer">提 交</button>
            </form>

        </div>


    </div>


</div>


<div class="col-md-12  col-xs-12 col-sm-12 footer-foot-top max-display-991">


    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 max-display ">
        <a href="#">关于黑珍珠 |</a>
        <a href="#">联系我们 |</a>
        <a href="#">付款方式 |</a>
        <a href="#">网站备案 |</a>
        <a href="#">价格总览 |</a>
        <a href="#">帮助中心 |</a>
        <a href="#">诚聘英才 |</a>
        <a href="#">新闻中心 |</a>
        <a href="#">相关下载</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-2 max-display ">
        <a href="#">网站反馈 |</a>
        <a href="#">企业建站 |</a>
        <a href="#">软件开发 |</a>
        <a href="#">域名申请 |</a>
        <a href="#">虚拟主机 |</a>
        <a href="#">企业邮箱 |</a>
        <a href="#">营销推广 |</a>
        <a href="#">云主机 |</a>
        <a href="#">技术支持尽在黑珍珠</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 ">
        <p>© 2017黑珍珠科技备案号: <a href="#">豫ICP备 15011304-5号</a></p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_MOBILE/js/bootstrap.min.js"></script>
<script>

    $(document).ready(function () {

        $(".nav-list-1,#nav-list-1").hover(function () {
            $("#nav-list-1").toggleClass("blue666");
            console.log(555);
        });
    });
</script>
</body>
</html>