<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>企业建站-网站定制</title>

    <!-- Bootstrap -->
    <link href="_MOBILE/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="_MOBILE/style/index.css">
    <link rel="stylesheet" href="_MOBILE/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond._MOBILE/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{include file="index/head" /}

<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner xcx-banner">
    <!--<img src="_MOBILE/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>创新电子商务 零基础做电商</h2>
        <p class="p2"> 自由布局 可视装修 创新组件 强大灵活 全网营销 一店管理</p>
        <p class="p2">网罗电商网站主流功能 随心 DIY 创意社交化网店</p>
    </div>

</div>

<div class="col-xs-12 xcx-slide1">

    <div class="col-xs-10 col-xs-offset-1">
        <h3 class="c3">微信小程序能做什么</h3>
        <p>
            微信小程序是一种新的开放能力，开发者可以快速地开发一个小程序；小程序可以在微信内被便捷地获取和传播，同时具有出色的使用体验。
            <br>小程序的开放就是指让其他第三方公司也可以开发自己的应用，这些应用可以在微信中，快捷地展示，而不需要下载单独的APP。
        </p>
    </div>

    <div class="col-xs-12  xcx-iphone">

        <!--<div class="col-xs-3 col-xs-offset-1 xcx-slide1-icon">-->
        <!--<p class="c6"><span>发现</span> <br> 点击发现栏下小程序</p>-->
        <!--</div>-->
        <!--<div class="col-xs-3 col-xs-offset-1 xcx-slide1-icon">-->
        <!--<p class="c6"><span>小程序</span> <br> 查找并点击微商城店铺</p>-->
        <!--</div>-->
        <!--<div class="col-xs-3 col-xs-offset-1 xcx-slide1-icon">-->
        <!--<p class="c6"><span>店铺首页</span> <br> 开始购买商品吧</p>-->
        <!--</div>-->

        <div class="col-xs-12">
            <div class="col-xs-6">
                <img src="_MOBILE/images/xcx-fx.png" width="100%" alt="">
            </div>
            <div class="col-xs-6" style="padding-top: 50px;">
                <span style="color: red;">发现</span>
                <br>

                点击发现栏下小程序

            </div>


        </div>
        <div class="col-xs-12">
            <div class="col-xs-6" style="padding-top: 30px; text-align: right;">
                <span style="color: red;">小程序</span>
                <br>
                查找并点击微商城店铺
            </div>
            <div class="col-xs-6" style=" transform:rotate(-90deg);">

                <img src="_MOBILE/images/xcx-xcx.png" width="100%" alt="">
            </div>

        </div>
        <div class="col-xs-12">
            <div class="col-xs-6">
                <img src="_MOBILE/images/xcx-home.png" width="100%" alt="">
            </div>
            <div class="col-xs-6" style="padding-top: 70px; text-align: left;">
                <span style="color: red;">店铺首页</span>
                <br>
                开始购买商品吧
            </div>
        </div>

    </div>

</div>


<div class="col-xs-12 xcx-slide2">

    <div class="col-xs-10 col-xs-offset-1">
        <h3 class="c3">已有7种方式，找到和推广你的小程序，吸引更多目光 </h3>
    </div>


    <div class="col-xs-12  xcx-slide2-top">

        <div class="col-xs-6   xcx-slide2-kp" style="">
            <div>
                <p class="p-b">搜索</p>
            </div>
            <p class="xcx-slide2-p c6">
                在“小程序”中搜索
            </p>
            <p class="xcx-slide2-p c6">
                店铺名字
            </p>
            <p class="xcx-slide2-p  xcx-slide2-p-last c6">
                找到你的小程序
            </p>

        </div>
        <div class=" col-xs-6 xcx-slide2-kp" style="">
            <div>
                <p class="p-b">搜索</p>
            </div>
            <p class="xcx-slide2-p c6">
                在“小程序”中搜索
            </p>
            <p class="xcx-slide2-p c6">
                店铺名字
            </p>
            <p class="xcx-slide2-p  xcx-slide2-p-last c6">
                找到你的小程序
            </p>

        </div>



    </div>

    <div class="col-xs-10 col-xs-offset-1">
        <h3 class="c3 xcx-slide2-bot" style="font-size: 18px;">更多小程序推广方式持续更新中 </h3>
    </div>
    <div class="col-xs-12 xcx-slide2-bg2" style="">

    </div>
</div>

<div class="col-xs-12 xcx-slide3">
    <div class="col-xs-10 col-xs-offset-1">

        <h3 class="c3">
            微信小程序的开发流程 <img src="_MOBILE/images/xcx-filter.png" width="80px" alt="">
            <span style="font-size: 16px;"> 一款高质量的微信小程序，离不开专业化的制作流程和专业化的人才</span>

        </h3>

    </div>
    <div class="col-xs-12  xcx-slide3-body">
        <div class="col-xs-6 xcx-slide3-icon xcx-slide3-icon-right ">
            <img src="_MOBILE/images/xcx-slide3-icon1.png" alt="">
            <p class="c6 xcx-slide3-p1 ">提出需求</p>
            <p class="c6">
                与客户沟通需求，并整理需求 文档
            </p>
        </div>
        <div class="col-xs-6 xcx-slide3-icon clear-padding ">
            <img src="_MOBILE/images/xcx-slide3-icon2.png" alt="">
            <p class="c6 xcx-slide3-p1 ">签订合同</p>
            <p class="c6 xcx-slide3-p2">
                与客户签订合同，项目周期、项目价格等
            </p>
        </div>
        <div class="col-xs-12"></div>
        <div class="col-xs-6 xcx-slide3-icon xcx-slide3-icon-right clear-padding ">
            <img src="_MOBILE/images/xcx-slide3-icon3.png" alt="">
            <p class="c6 xcx-slide3-p1 ">产品原型</p>
            <p class="c6 xcx-slide3-p2">
                产品经理制作产品原型图，并与客户确定
            </p>
        </div>
        <div class="col-xs-6 xcx-slide3-icon  clear-padding">
            <img src="_MOBILE/images/xcx-slide3-icon4.png" style="width:85px;" alt="">
            <p class="c6 xcx-slide3-p1 ">UI设计</p>
            <p class="c6 xcx-slide3-p2">
                ui设计师设计制作高保真图并与客户确定
            </p>
        </div>
        <div class="col-xs-12"></div>
        <div class="col-xs-6 xcx-slide3-icon xcx-slide3-icon-right clear-padding ">
            <img src="_MOBILE/images/xcx-slide3-icon1.png" alt="">
            <p class="c6 xcx-slide3-p1 ">程序开发</p>
            <p class="c6 xcx-slide3-p2">
                根据已确认的客户需求及高保真设计图进行代码开发
            </p>
        </div>
        <div class="col-xs-6 xcx-slide3-icon   clear-padding">
            <img src="_MOBILE/images/xcx-slide3-icon2.png" alt="">
            <p class="c6 xcx-slide3-p1 ">客户验收</p>
            <p class="c6 xcx-slide3-p2">
                测试产品，并反馈给研发，研发提供最终产品包给客户验收
            </p>
        </div>
        <div class="col-xs-12"></div>
        <div class="col-xs-6 xcx-slide3-icon clear-padding  ">
            <img src="_MOBILE/images/xcx-slide3-icon3.png" alt="">
            <p class="c6 xcx-slide3-p1 ">产品上线</p>
            <p class="c6 xcx-slide3-p2">
                发布上线
            </p>
        </div>
    </div>


</div>


<div class="col-xs-12 xcx-slide4">
    <div class="col-xs-12">

        <div class="col-xs-12 xcx-slide4-left clear-padding">
            <h3 class="c3">适用多种行业</h3>

            <p class="c6 xcx-slide4-left-p">
                电商购物，教育培训，生活咨询，餐饮住宿，房产，酒店管理，医疗保健，酒吧娱乐等行业，均适用微信小程序开发。 开通小程序，抢占市场
            </p>
            <div class="col-xs-6 xcx-slide4-icon xcx-slide4-icon-1 c6" style="padding-right: 2px;padding-left: 2px; ">
                <p>大幅度降低中小企业开发成本</p>
                <p>降低程序开发成本，节约时间周期；简化推广流程，结合公众号的营销优势，扫描二维码即可适用。</p>

            </div>
            <div class="col-xs-6 xcx-slide4-icon xcx-slide4-icon-2 c6" style="padding-right: 0px;padding-left: 2px; ">
                <p>大幅度降低中小企业开发成本</p>
                <p>降低程序开发成本，节约时间周期；简化推广流程，结合公众号的营销优势，扫描二维码即可适用。</p>

            </div>
            <div class="col-xs-6 xcx-slide4-icon  xcx-slide4-icon-3 c6" style="padding-right: 2px;padding-left: 2px; ">
                <p>大幅度降低中小企业开发成本</p>
                <p>降低程序开发成本，节约时间周期；简化推广流程，结合公众号的营销优势，扫描二维码即可适用。</p>

            </div>
            <div class="col-xs-6 xcx-slide4-icon xcx-slide4-icon-4 c6" style="padding-right: 0px;padding-left: 2px; ">
                <p>大幅度降低中小企业开发成本</p>
                <p>降低程序开发成本，节约时间周期；简化推广流程，结合公众号的营销优势，扫描二维码即可适用。</p>

            </div>
        </div>

        <div class="col-xs-6 xcx-slide4-right">

        </div>

    </div>


</div>


<!--底部开始-->
<div class="col-xs-12 col-sm-12 col-md-12  slide4">

    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3  col-sm-12 col-xs-12" style="padding-left: 0;">
            <h3 class="slide4-zb">准备开展业务？</h3>
        </div>
        <div class="col-md-6">


            <div class="col-md-5 col-md-offset-1  col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but1">
                    <a href="#">立即创建网站</a>
                </h4>
            </div>
            <div class="col-md-5   col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but2">
                    <a href="#">成为渠道商</a>
                </h4>
            </div>

        </div>

        <div class="col-md-3   col-sm-6 col-xs-6  slide4-tel" style="text-align: right;margin-top: 30px;">或者拨打:
            0371-60297655
            <img src="_MOBILE/images/7-24.png" width="100%" alt="">
        </div>
    </div>


    <!--slide4结束-->
</div>
<!--slide4结束-->

<div class="col-md-12 col-sm-12 col-xs-12 slide5">
    <div class="col-md-offset-1 col-md-10 col-xs-12 col-sm-12 slide5-top">


        <div class="col-md-3 col-sm-6 slide5-767">
            <p class="slide5-tit">联系我们</p>
            <p>河南·郑州 金水区创业园北林路16号</p>
            <p>联系电话：0371-60297655</p>
            <p>Email：n89@163.com</p>
            <p>邮编：450000</p>
            <img src="_MOBILE/images/erweima.png" alt="二维码">
            <p class="max-display">
                <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_24x24 max-display">
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tqq"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis"
                   target="_blank"></a>

            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
            </p>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">"互联网+" 新闻中心</p>
            <p class="slide5-tit-2">加快HTML5开发可视化编辑器 </p>
            <p>随着HTML5游戏《围住神经猫》爆红网络， 越来越多的游戏开发者把目光投向HTML5领域。但是HTML5游戏...</p>
            <p class="slide5-tit-2">HTML5 Canvas中绘制矩形实例教程</p>
            <p>本文翻译自Steve Fulton Jeff Fulton HTML5Canvas, Chapter 2, The Basic RectangleShape. 让我们来看一下...</p>

        </div>
        <div class="col-sm-12 display-991">

        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">产品与服务</p>

            <div class="col-md-6 col-sm-6 cpfw-tit">
                <p class="cpfw cpfw-a">
                    <a href="#">企业建站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">定制网站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">小程序开发</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信分销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">网上开店</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">软件及系统开发服务</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信营销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">SEO优化</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">基础口碑服务</a>
                </p>

            </div>

            <div class="col-md-6 col-sm-6 cpfw-tit" style="text-align: right;padding-right: 15px;">
                <p class="cpfw cpfw-a">
                    <a href="#">代理政策</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理流程</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理注册</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理咨询</a>
                </p>


            </div>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">发送留言</p>
            <form>
                <div class="form-group">

                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="姓名">
                </div>
                <div class="form-group">

                    <input type="tel" class="form-control" id="exampleInputEmail1" placeholder="联系方式">
                </div>
                <div class="form-group">

                    <textarea class="form-control" rows="3" placeholder="留言内容"></textarea>
                </div>

                <button type="submit" class="btn btn-default btn-footer">提 交</button>
            </form>

        </div>


    </div>


</div>


<div class="col-md-12  col-xs-12 col-sm-12 footer-foot-top max-display-991">


    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 max-display ">
        <a href="#">关于黑珍珠 |</a>
        <a href="#">联系我们 |</a>
        <a href="#">付款方式 |</a>
        <a href="#">网站备案 |</a>
        <a href="#">价格总览 |</a>
        <a href="#">帮助中心 |</a>
        <a href="#">诚聘英才 |</a>
        <a href="#">新闻中心 |</a>
        <a href="#">相关下载</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-2 max-display ">
        <a href="#">网站反馈 |</a>
        <a href="#">企业建站 |</a>
        <a href="#">软件开发 |</a>
        <a href="#">域名申请 |</a>
        <a href="#">虚拟主机 |</a>
        <a href="#">企业邮箱 |</a>
        <a href="#">营销推广 |</a>
        <a href="#">云主机 |</a>
        <a href="#">技术支持尽在黑珍珠</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 ">
        <p>© 2017黑珍珠科技备案号: <a href="#">豫ICP备 15011304-5号</a></p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_MOBILE/js/bootstrap.min.js"></script>
</body>
</html>