<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>虚拟主机</title>

    <!-- Bootstrap -->
    <link href="_MOBILE/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="_MOBILE/style/index.css">
    <link rel="stylesheet" href="_MOBILE/style/xunizhuji.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond._MOBILE/js/1.4.2/respond.min.js"></script>

    <![endif]-->


    <link rel="stylesheet" href="_MOBILE/addstyle/_MOBILE/css/baguetteBox.min.css">
    <!--<link rel="stylesheet" href="_MOBILE/addstyle/_MOBILE/css/thumbnail-gallery.css">-->
    <style>
        .jq22-demo{ text-align: center; margin-top: 30px; }
        .jq22-demo a{ padding-left: 20px; padding-right: 20px; }
    </style>
</head>
<body>


<!--<nav class="navbar navbar-default add-navbar">-->
    <!--<div class="container-fluid">-->
        <!--&lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;-->
        <!--<div class="navbar-header">-->
            <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"-->
                    <!--data-target="#bs-example-navbar-collapse-1" aria-expanded="false">-->
                <!--<span class="sr-only">Toggle navigation</span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
                <!--<span class="icon-bar"></span>-->
            <!--</button>-->
            <!--<a class="navbar-brand" href="#"><img src="_MOBILE/images/logo.png" alt=""></a>-->
        <!--</div>-->

        <!--&lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;-->
        <!--<div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">-->
            <!--<ul class="nav navbar-nav add-navbar-nav display">-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
                       <!--aria-expanded="false">企业建站 <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="#">企业建站</a></li>-->
                        <!--<li><a href="#">定制网站</a></li>-->
                        <!--<li><a href="#">网上开店</a></li>-->
                        <!--<li><a href="#">微信分销</a></li>-->
                        <!--<li><a href="#">建站信息</a></li>-->
                        <!--<li><a href="#">微信小程序</a></li>-->
                    <!--</ul>-->

                <!--<li><a href="#">软件开发</a></li>-->
                <!--<li><a href="#">域名注册</a></li>-->
                <!--<li><a href="#">虚拟主机</a></li>-->
                <!--<li><a href="#">营销推广</a></li>-->
                <!--<li><a href="#">渠道代理</a></li>-->
                <!--<li><a href="#">联系我们</a></li>-->

            <!--</ul>-->


        <!--</div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;-->
    <!--</div>&lt;!&ndash; /.container-fluid &ndash;&gt;-->
<!--</nav>-->


{include file="index/head" /}

<div class="col-xs-12 col-sm-12 col-md-12  qyjz-banner">
    <!--<img src="_MOBILE/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word-qyjz ">

        <p class="font-light p1" style="">绚丽网页 源自黑珍珠</p>

    </div>

</div>


<div class=" col-xs-12 qyjz-slide1 " style="">
    <div class=" col-xs-12" style="text-align: center;">
        <h3>建站案例</h3>
        <p style="font-size: 14px; letter-spacing: 1px;padding: 20px  0 20px 0 ">
            黑珍珠科技秉持服务与质量并重，已为广大客户做成上千份网站
        </p>
    </div>
    <div class="col-xs-10 col-xs-offset-1  tz-gallery">
        <div class="row">
            <div class="col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">

                    <a class="lightbox" href="_MOBILE/images/qyjz-jzan-1.png">
                        <img src="_MOBILE/images/qyjz-jzan-1.png" alt="Park">
                    </a>

                    <div class="caption">
                        <h4 style="">Maketing Blog Design</h4>
                        <hr style="margin:5px auto;">
                        <p>Blog,Website,Grid <a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">Button</a>
                            </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">
                    <a class="lightbox" href="_MOBILE/images/qyjz-jzan-1.png">
                        <img src="_MOBILE/images/qyjz-jzan-1.png" alt="Park">
                    </a>
                    <div class="caption">
                        <h4 style="">Maketing Blog Design</h4>
                        <hr style="margin:5px auto;">
                        <p>Blog,Website,Grid <a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">Button</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">
                    <a class="lightbox" href="_MOBILE/images/qyjz-jzan-1.png">
                        <img src="_MOBILE/images/qyjz-jzan-1.png" alt="Park">
                    </a>
                    <div class="caption">
                        <h4 style="">Maketing Blog Design</h4>
                        <hr style="margin:5px auto;">
                        <p>Blog,Website,Grid <a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">Button</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">
                    <a class="lightbox" href="_MOBILE/images/qyjz-jzan-1.png">
                        <img src="_MOBILE/images/qyjz-jzan-1.png" alt="Park">
                    </a>
                    <div class="caption">
                        <h4 style="">Maketing Blog Design</h4>
                        <hr style="margin:5px auto;">
                        <p>Blog,Website,Grid <a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">Button</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">
                    <a class="lightbox" href="_MOBILE/images/qyjz-jzan-1.png">
                        <img src="_MOBILE/images/qyjz-jzan-1.png" alt="Park">
                    </a>
                    <div class="caption">
                        <h4 style="">Maketing Blog Design</h4>
                        <hr style="margin:5px auto;">
                        <p>Blog,Website,Grid <a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">Button</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 qyjz-body" style="">
                <div class="thumbnail" style="">
                    <a class="lightbox" href="_MOBILE/images/qyjz-jzan-1.png">
                        <img src="_MOBILE/images/qyjz-jzan-1.png" alt="Park">
                    </a>
                    <div class="caption">
                        <h4 style="">Maketing Blog Design</h4>
                        <hr style="margin:5px auto;">
                        <p>Blog,Website,Grid <a href="#" class="btn btn-primary qyjz-body-a" role="button" style="">Button</a>
                        </p>
                    </div>
                </div>
            </div>


        </div>
        <div class=" col-xs-12 qyjz-more" style="">

            <p style="">
                <a href="#" class="nda" style=" ">查看更多</a>
            </p>
        </div>



    </div>

</div>

<div class="col-xs-12 col-sm-12 col-md-12  slide4">

    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3  col-sm-12 col-xs-12" style="padding-left: 0;">
            <h3 class="slide4-zb">准备开展业务？</h3>
        </div>
        <div class="col-md-6">


            <div class="col-md-5 col-md-offset-1  col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but1">
                    <a href="#">立即创建网站</a>
                </h4>
            </div>
            <div class="col-md-5   col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but2">
                    <a href="#">成为渠道商</a>
                </h4>
            </div>

        </div>

        <div class="col-md-3   col-sm-6 col-xs-6  slide4-tel" style="text-align: right;margin-top: 30px;">或者拨打:
            0371-60297655
            <img src="_MOBILE/images/7-24.png" width="100%" alt="">
        </div>
    </div>


    <!--slide4结束-->
</div>
<!--slide4结束-->

<div class="col-md-12 col-sm-12 col-xs-12 slide5">
    <div class="col-md-offset-1 col-md-10 col-xs-12 col-sm-12 slide5-top">


        <div class="col-md-3 col-sm-6 slide5-767">
            <p class="slide5-tit">联系我们</p>
            <p>河南·郑州 金水区创业园北林路16号</p>
            <p>联系电话：0371-60297655</p>
            <p>Email：n89@163.com</p>
            <p>邮编：450000</p>
            <img src="_MOBILE/images/erweima.png" alt="二维码">
            <p class="max-display">
                <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_24x24 max-display">
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tqq"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis"
                   target="_blank"></a>

            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
            </p>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">"互联网+" 新闻中心</p>
            <p class="slide5-tit-2">加快HTML5开发可视化编辑器 </p>
            <p>随着HTML5游戏《围住神经猫》爆红网络， 越来越多的游戏开发者把目光投向HTML5领域。但是HTML5游戏...</p>
            <p class="slide5-tit-2">HTML5 Canvas中绘制矩形实例教程</p>
            <p>本文翻译自Steve Fulton Jeff Fulton HTML5Canvas, Chapter 2, The Basic RectangleShape. 让我们来看一下...</p>

        </div>
        <div class="col-sm-12 display-991">

        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">产品与服务</p>

            <div class="col-md-6 col-sm-6 cpfw-tit">
                <p class="cpfw cpfw-a">
                    <a href="#">企业建站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">定制网站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">小程序开发</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信分销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">网上开店</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">软件及系统开发服务</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信营销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">SEO优化</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">基础口碑服务</a>
                </p>

            </div>

            <div class="col-md-6 col-sm-6 cpfw-tit" style="text-align: right;padding-right: 15px;">
                <p class="cpfw cpfw-a">
                    <a href="#">代理政策</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理流程</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理注册</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理咨询</a>
                </p>


            </div>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">发送留言</p>
            <form>
                <div class="form-group">

                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="姓名">
                </div>
                <div class="form-group">

                    <input type="tel" class="form-control" id="exampleInputEmail1" placeholder="联系方式">
                </div>
                <div class="form-group">

                    <textarea class="form-control" rows="3" placeholder="留言内容"></textarea>
                </div>

                <button type="submit" class="btn btn-default btn-footer">提 交</button>
            </form>

        </div>


    </div>


</div>


<div class="col-md-12  col-xs-12 col-sm-12 footer-foot-top max-display-991">


    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 max-display ">
        <a href="#">关于黑珍珠 |</a>
        <a href="#">联系我们 |</a>
        <a href="#">付款方式 |</a>
        <a href="#">网站备案 |</a>
        <a href="#">价格总览 |</a>
        <a href="#">帮助中心 |</a>
        <a href="#">诚聘英才 |</a>
        <a href="#">新闻中心 |</a>
        <a href="#">相关下载</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-2 max-display ">
        <a href="#">网站反馈 |</a>
        <a href="#">企业建站 |</a>
        <a href="#">软件开发 |</a>
        <a href="#">域名申请 |</a>
        <a href="#">虚拟主机 |</a>
        <a href="#">企业邮箱 |</a>
        <a href="#">营销推广 |</a>
        <a href="#">云主机 |</a>
        <a href="#">技术支持尽在黑珍珠</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 ">
        <p>© 2017黑珍珠科技备案号: <a href="#">豫ICP备 15011304-5号</a></p>
    </div>
</div>


<script type="text/javascript" src="_MOBILE/addstyle/_MOBILE/js/baguetteBox.min.js"></script>
<script type="text/javascript">
    baguetteBox.run('.tz-gallery');
</script>



<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_MOBILE/js/bootstrap.min.js"></script>
<script src="_MOBILE/style/addnav.js"></script>
</body>
</html>