<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>营销推广-基础口碑</title>

    <!-- Bootstrap -->
    <link href="_MOBILE/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_MOBILE/style/index.css">
    <link rel="stylesheet" href="_MOBILE/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond._MOBILE/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="">

{include file="index/head" /}


<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner jckb-banner">
    <!--<img src="_MOBILE/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>黑珍珠代理宣传语</h2>
        <p class="p2"></p>
        <p class="p2"></p>
    </div>

</div>


<div class="col-xs-12 slide wxyx-slide2">
    <h3>
        微信营销的价值
    </h3>

    <div class="col-xs-11 col-xs-offset-1 ">


        <div class="col-xs-12 wxyx-slide2-icon1 p-wxyx-slide2-icon">
            <p class="wxyx-slide2-icon1-p1 c3">
                集客
            </p>
            <p class="wxyx-slide2-icon1-p2 c6">
                把品牌的已存在和潜在客群，有效转化为微信粉丝，留在身边！
            </p>
        </div>

        <div class="col-xs-12 wxyx-slide2-icon2 p-wxyx-slide2-icon">
            <p class="wxyx-slide2-icon1-p1 c3">
                留存
            </p>
            <p class="wxyx-slide2-icon1-p2 c6">
                用专业和真诚去不断唤起粉丝的热情，获取顾客群体的关注！
            </p>
        </div>

        <div class="col-xs-12 wxyx-slide2-icon3 p-wxyx-slide2-icon">
            <p class="wxyx-slide2-icon1-p1 c3">
                二次营销
            </p>
            <p class="wxyx-slide2-icon1-p2 c6">
                用互动活动去激发潜在顾客群体的兴趣，用奖品去诱惑顾客买单！
            </p>
        </div>
    </div>
</div>

<div class="col-xs-12 slide wxyx-slide3">
    <h3>怎么做好微信营销平台</h3>
    <div class="col-xs-12  wxyx-slide3-main">

        <div class="col-xs-12 wxyx-slide3-main-list">

            <P><img src="_MOBILE/images/wxyx-maohao.png" alt=""></P>
            <p class="c6">
                1.完善的内容创作计划
            </p>
            <p class="c6">
                2.及时有效的整合编辑与发布
            </p>
            <p class="c6">
                3.信息传播检测及调整
            </p>
            <p class="c6  c6last">
                4.建设有效的互动交流机制
            </p>


        </div>
        <div class="col-xs-12 wxyx-slide3-main-list">

            <P><img src="_MOBILE/images/wxyx-maohao.png" alt=""></P>
            <p class="c6">
                1.订阅号的微网站建设
            </p>
            <p class="c6">
                2.互动板块建设
            </p>
            <p class="c6">
                3专属定制板块开发与应用
            </p>
            <p class="c6  c6last">
                4.微信营销策略规划
            </p>


        </div>
        <div class="col-xs-12 wxyx-slide3-main-list">

            <P><img src="_MOBILE/images/wxyx-maohao.png" alt=""></P>
            <p class="c6">
                1.有效的微信粉丝在哪里？
                <br>
                给予具体拓展知道策略
            </p>
            <p class="c6">
                2.粉丝互动管理规划及互动关系建设
            </p>


        </div>

    </div>

</div>


<div class="col-xs-12 slide wxyx-slide4">

    <div class="col-xs-12">

        <div class="col-xs-12 ">
            <h3>微信公众平台基础信息建设</h3>
            <p>
                开通账号-提交认证-自定义菜单设计与建设-微信官方网站建设
            </p>
            <h3>
                增强资源工具介绍
            </h3>
            <p>
                微定制：渠道展示、邀请函、场景海报、等均可通过自定义菜单直接进入。
            </p>
            <h3>
                丰富多彩的活动
            </h3>
            <p>
                微互动及微社区：优惠券、幸运抽奖、微社区等，均可通过自定义菜单直接进入。
            </p>

        </div>
        <div class="col-xs-12">
            <img src="_MOBILE/images/wxyx-slide4-bg.png" width="80%" alt="">
        </div>
    </div>

</div>


<div class="col-xs-12 slide wxyx-slide5 ">
    <div class="col-xs-12 wxyx-slide5-tit">
        <h3>
            如何去获取有效的高质量粉丝并且发挥价值
        </h3>
        <p class="c6">
            企业需要用心解决三个问题，才能让微信营销持久高效！
        </p>
    </div>

    <div class="col-xs-10 col-xs-offset-1">
        <div class="col-xs-12">
            <img src="_MOBILE/images/wxyx-slide5-bg.png" width="100%" alt="">
            <p class="fs18 c3">
                <br>
                关注你的理由
            </p>
            <p class="fs15 c6">
                微信公众账号实在太多了，消费者为什 么要关注你的微信？
            </p>
        </div>
        <div class="col-xs-12">
            <img src="_MOBILE/images/wxyx-slide5-bg.png" width="100%" alt="">
            <p class="fs18 c3">
                <br>
                关注你的渠道
            </p>
            <p class="fs15 c6">
                作为你的消费者或者潜在消费者，怎么 找到你的微信，怎样了解更多？
            </p>
        </div>
        <div class="col-xs-12">
            <img src="_MOBILE/images/wxyx-slide5-bg.png" width="100%" alt="">
            <p class="fs18 c3">
                <br>
                留下来的意义
            </p>
            <p class="fs15 c6">
                即使为了参与你的活动而关注了企业微 信，能持续留在你的平台上么？
            </p>
        </div>

    </div>

</div>


<div class="col-xs-12 slide wxyx-slide6">

    <div class="col-xs-12 ">

        <h3>
            微信公众平台基础信息建设-参考案例
        </h3>


        <div class="col-xs-12  wxyx-slide6-main ">
            <div class="col-xs-12 wxyx-slide6-list">
                <img src="_MOBILE/images/wxyx-slide6-img.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                    Project Title Here

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>
            <div class="col-xs-12 wxyx-slide6-list">
                <img src="_MOBILE/images/wxyx-slide6-img.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        Project Title Here

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>

            <div class="col-xs-12 wxyx-slide6-list">
                <img src="_MOBILE/images/wxyx-slide6-img.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        Project Title Here

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>
            <div class="col-xs-12 wxyx-slide6-list">
                <img src="_MOBILE/images/wxyx-slide6-img.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        Project Title Here

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>

            <div class="col-xs-12 wxyx-slide6-list">
                <img src="_MOBILE/images/wxyx-slide6-img.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        Project Title Here

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>
            <div class="col-xs-12 wxyx-slide6-list">
                <img src="_MOBILE/images/wxyx-slide6-img.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        Project Title Here

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>

            <div class="col-xs-12 wxyx-slide6-list">
                <img src="_MOBILE/images/wxyx-slide6-img.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        Project Title Here

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>
            <div class="col-xs-12 wxyx-slide6-list">
                <img src="_MOBILE/images/wxyx-slide6-img.png" width="100%" alt="">


                <div class="wxyx-slide6-list-fs">


                    <p>
                    <div class="wxyx-slide6-list-fs-left">
                        Project Title Here

                    </div>
                    <div class="wxyx-slide6-list-fs-right c6">
                        <span class="glyphicon glyphicon-heart"></span>
                        <br>


                        1314
                    </div>


                    </p>
                </div>

            </div>

        </div>
    </div>


</div>
<!--底部开始-->
<div class="col-xs-12 col-sm-12 col-md-12  slide4">

    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3  col-sm-12 col-xs-12" style="padding-left: 0;">
            <h3 class="slide4-zb">准备开展业务？</h3>
        </div>
        <div class="col-md-6">


            <div class="col-md-5 col-md-offset-1  col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but1">
                    <a href="#">立即创建网站</a>
                </h4>
            </div>
            <div class="col-md-5   col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but2">
                    <a href="#">成为渠道商</a>
                </h4>
            </div>

        </div>

        <div class="col-md-3   col-sm-6 col-xs-6  slide4-tel" style="text-align: right;margin-top: 30px;">或者拨打:
            0371-60297655
            <img src="_MOBILE/images/7-24.png" width="100%" alt="">
        </div>
    </div>


    <!--slide4结束-->
</div>
<!--slide4结束-->

<div class="col-md-12 col-sm-12 col-xs-12 slide5">
    <div class="col-md-offset-1 col-md-10 col-xs-12 col-sm-12 slide5-top">


        <div class="col-md-3 col-sm-6 slide5-767">
            <p class="slide5-tit">联系我们</p>
            <p>河南·郑州 金水区创业园北林路16号</p>
            <p>联系电话：0371-60297655</p>
            <p>Email：n89@163.com</p>
            <p>邮编：450000</p>
            <img src="_MOBILE/images/erweima.png" alt="二维码">
            <p class="max-display">
                <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_24x24 max-display">
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tqq"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis"
                   target="_blank"></a>

            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
            </p>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">"互联网+" 新闻中心</p>
            <p class="slide5-tit-2">加快HTML5开发可视化编辑器 </p>
            <p>随着HTML5游戏《围住神经猫》爆红网络， 越来越多的游戏开发者把目光投向HTML5领域。但是HTML5游戏...</p>
            <p class="slide5-tit-2">HTML5 Canvas中绘制矩形实例教程</p>
            <p>本文翻译自Steve Fulton Jeff Fulton HTML5Canvas, Chapter 2, The Basic RectangleShape. 让我们来看一下...</p>

        </div>
        <div class="col-sm-12 display-991">

        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">产品与服务</p>

            <div class="col-md-6 col-sm-6 cpfw-tit">
                <p class="cpfw cpfw-a">
                    <a href="#">企业建站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">定制网站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">小程序开发</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信分销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">网上开店</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">软件及系统开发服务</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信营销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">SEO优化</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">基础口碑服务</a>
                </p>

            </div>

            <div class="col-md-6 col-sm-6 cpfw-tit" style="text-align: right;padding-right: 15px;">
                <p class="cpfw cpfw-a">
                    <a href="#">代理政策</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理流程</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理注册</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理咨询</a>
                </p>


            </div>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">发送留言</p>
            <form>
                <div class="form-group">

                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="姓名">
                </div>
                <div class="form-group">

                    <input type="tel" class="form-control" id="exampleInputEmail1" placeholder="联系方式">
                </div>
                <div class="form-group">

                    <textarea class="form-control" rows="3" placeholder="留言内容"></textarea>
                </div>

                <button type="submit" class="btn btn-default btn-footer">提 交</button>
            </form>

        </div>


    </div>


</div>


<div class="col-md-12  col-xs-12 col-sm-12 footer-foot-top max-display-991">


    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 max-display ">
        <a href="#">关于黑珍珠 |</a>
        <a href="#">联系我们 |</a>
        <a href="#">付款方式 |</a>
        <a href="#">网站备案 |</a>
        <a href="#">价格总览 |</a>
        <a href="#">帮助中心 |</a>
        <a href="#">诚聘英才 |</a>
        <a href="#">新闻中心 |</a>
        <a href="#">相关下载</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-2 max-display ">
        <a href="#">网站反馈 |</a>
        <a href="#">企业建站 |</a>
        <a href="#">软件开发 |</a>
        <a href="#">域名申请 |</a>
        <a href="#">虚拟主机 |</a>
        <a href="#">企业邮箱 |</a>
        <a href="#">营销推广 |</a>
        <a href="#">云主机 |</a>
        <a href="#">技术支持尽在黑珍珠</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 ">
        <p>© 2017黑珍珠科技备案号: <a href="#">豫ICP备 15011304-5号</a></p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_MOBILE/js/bootstrap.min.js"></script>

<!--补充的插件-->
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="_MOBILE/js/distpicker.data.js"></script>
<script src="_MOBILE/js/distpicker.js"></script>
<script src="_MOBILE/js/main.js"></script>
<!--补充的插件-->
</body>
</html>