<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>营销推广-基础口碑</title>

    <!-- Bootstrap -->
    <link href="_MOBILE/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://www.jq22.com/jquery/bootstrap-3.3.4.css" rel="stylesheet">
    <link rel="stylesheet" href="_MOBILE/style/index.css">
    <link rel="stylesheet" href="_MOBILE/style/xunizhuji.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond._MOBILE/js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body style="">

{include file="index/head" /}


<div class="col-xs-12 col-sm-12 col-md-12  wxfx-banner jckb-banner">
    <!--<img src="_MOBILE/images/banner.png" alt="" width="100%" height="100%" >-->
    <div class="col-xs-12 col-sm-12 col-md-12 banner-word ">
        <h2>黑珍珠代理宣传语</h2>
        <p class="p2"></p>
        <p class="p2"></p>
    </div>

</div>

<div class="col-xs-12 slide jckb-slide2">
    <div class="col-xs-12  jckb-main">

        <h3 class="c3">
            什么是企业的互联网基础口碑
        </h3>
        <div class="col-xs-12 ">
            <p class="c6">
                百度等搜索引擎中，搜索企业、品牌名称等关键词时，能够在重要位置体现出来的主要是：官网、百科、文库、词条介绍、
                知识问答、分类资讯、百度经验、百度官方贴吧、视频分享传播等资料。
            </p>
        </div>
    </div>
</div>


<div class="col-xs-12 slide jckb-slide3">
    <div class="col-xs-12  jckb-main">

        <h3 class="c3">
            品牌与产品互联网基础口碑的重要性
        </h3>
        <div class="col-xs-12  jckb-main-body" style="text-align: center;">

            <div class="col-xs-12">
                <img src="_MOBILE/images/jckb-slide3-icon1.png" width="100" alt="">
                <p class="c6">
                    让消费者通过搜索引擎能够找到企业！

                </p>
                <br><br>
            </div>
            <div class="col-xs-12">
                <img src="_MOBILE/images/jckb-slide3-icon2.png" width="100" alt="">
                <p class="c6">
                    让消费者通过百度搜索了解企业和产品！
                </p>
                <br><br>
            </div>
            <div class="col-xs-12">
                <img src="_MOBILE/images/jckb-slide3-icon3.png" width="100" alt="">
                <p class="c6">
                    让消费者通过口碑传递找到信任感！
                </p>

            </div>


        </div>
    </div>
</div>

<div class="col-xs-12 slide jckb-slide4">
    <div class="col-xs-12 ">


        <div class="col-xs-12 jckb-main">
            <h3>
                基础口碑之百度，文库，知识问答
            </h3>
            <p class="c6">
                &nbsp;&nbsp; &nbsp; &nbsp; 传统的口碑营销：是指企业通过朋友，亲戚的相互交流将自己的产品信息或者品牌传播开来。
            </p>
            <p class="c6">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                现今的口碑营销：企业在调查市场需求的情况下，为消费者提供需要的产品和服务，同时制定一定的口碑推广计划，让消费者自动传播公司产品和服务的良好评价，从而让人们通过口碑了解产品、树立品牌、加强市场认知度，最终达到企业销售产品和提供服务的目的。
            </p>
            <p class="c6">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 两者都有一个共同点：营销方式成功率高、可信度强
            </p>
        </div>

        <div class="col-xs-12" style="text-align: center;">
            <img src="_MOBILE/images/jckb-slide4-bg.png" width="100%" alt="">
        </div>
    </div>

</div>


<div class="col-xs-12 slide jckb-slide4">

    <div class="col-xs-12 ">


        <div class="col-xs-12 jckb-main">
            <h3>
                基础口碑之分类资讯建设与维护
            </h3>
            <p>网络是一个开放、共享的社区，拥有海量的信息，但是我们却没有宽裕的时间在海量信息海洋里选择我们所需，这时分类信息网就应运而生了。</p>
            <p>分类信息网提供了各地各行业的包括餐饮、住宿、招聘、旅游等详细信息，方便网民查询使用，大大节省了网民的上网时间。分类信息网的出现是市场的需求和网络发展的必然结果。</p>
        </div>

        <div class="col-xs-12" style="text-align: center;">
            <img src="_MOBILE/images/jckb-slide5-bg.jpg" width="100%" style="text-align: right;" alt="">
        </div>


    </div>


</div>
<div class="col-xs-12 slide jckb-slide4">
    <div class="col-xs-12 ">

        <div class="col-xs-12 jckb-main">
            <h3>
                基础口碑之百度，文库，知识问答
            </h3>
            <p class="c6">
                &nbsp;&nbsp; &nbsp; &nbsp; 传统的口碑营销：是指企业通过朋友，亲戚的相互交流将自己的产品信息或者品牌传播开来。
            </p>
            <p class="c6">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                现今的口碑营销：企业在调查市场需求的情况下，为消费者提供需要的产品和服务，同时制定一定的口碑推广计划，让消费者自动传播公司产品和服务的良好评价，从而让人们通过口碑了解产品、树立品牌、加强市场认知度，最终达到企业销售产品和提供服务的目的。
            </p>
            <p class="c6">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 两者都有一个共同点：营销方式成功率高、可信度强
            </p>
        </div>
        <div class="col-xs-12" style="text-align: center;">
            <img src="_MOBILE/images/jckb-slide6-bg.jpg" width="100%" alt="">
        </div>

    </div>

</div>

<div class="col-xs-12 slide jckb-slide4">

    <div class="col-xs-12 ">


        <div class="col-xs-12 jckb-main">
            <h3>
                基础口碑之分类资讯建设与维护
            </h3>


            <p>
                2003年，百度推出百度贴吧，一举成为引领中文互联网社区发展的新方向。之后在近十一年时间的发展过程中，
                百度贴吧基于巨大的市场需求和粉丝群体的基础，再次实现十亿级规模的目标实现。从官方统计数据来看，目前的百度贴吧拥有10亿注册用户、近820万个主题吧，且已经达到日均话题总量过亿、日均浏览量超过27亿次、月活跃用户数近3亿的量级，彻底刷新了中文互联网社区的新高度。
            </p>
            <p>并且，百度贴吧还和其他互联网社区产品有着本质的不同，即其增长率一直保持高昂的发展态势。
            </p>
            <p>在这个基础上，贴吧在前几天顺势推出了面向企业、媒体和机构的企业平台，实现了从社区到平台的转变，
                而百度贴吧本身也实现了从产品到服务的升级。
            </p>
        </div>

        <div class="col-xs-12" style="text-align: center;">
            <img src="_MOBILE/images/jckb-slide7-bg.jpg" width="100%" style="text-align: right;" alt="">
        </div>


    </div>


</div>

<!--底部开始-->
<div class="col-xs-12 col-sm-12 col-md-12  slide4">

    <div class="col-md-10 col-md-offset-1">
        <div class="col-md-3  col-sm-12 col-xs-12" style="padding-left: 0;">
            <h3 class="slide4-zb">准备开展业务？</h3>
        </div>
        <div class="col-md-6">


            <div class="col-md-5 col-md-offset-1  col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but1">
                    <a href="#">立即创建网站</a>
                </h4>
            </div>
            <div class="col-md-5   col-sm-6 col-xs-6">
                <h4 class="slide4-but slide4-but2">
                    <a href="#">成为渠道商</a>
                </h4>
            </div>

        </div>

        <div class="col-md-3   col-sm-6 col-xs-6  slide4-tel" style="text-align: right;margin-top: 30px;">或者拨打:
            0371-60297655
            <img src="_MOBILE/images/7-24.png" width="100%" alt="">
        </div>
    </div>


    <!--slide4结束-->
</div>
<!--slide4结束-->

<div class="col-md-12 col-sm-12 col-xs-12 slide5">
    <div class="col-md-offset-1 col-md-10 col-xs-12 col-sm-12 slide5-top">


        <div class="col-md-3 col-sm-6 slide5-767">
            <p class="slide5-tit">联系我们</p>
            <p>河南·郑州 金水区创业园北林路16号</p>
            <p>联系电话：0371-60297655</p>
            <p>Email：n89@163.com</p>
            <p>邮编：450000</p>
            <img src="_MOBILE/images/erweima.png" alt="二维码">
            <p class="max-display">
                <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style_24x24 max-display">
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_qzone"></a>
                <a class="jiathis_button_tqq"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis"
                   target="_blank"></a>

            </div>
            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
            <!-- JiaThis Button END -->
            </p>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">"互联网+" 新闻中心</p>
            <p class="slide5-tit-2">加快HTML5开发可视化编辑器 </p>
            <p>随着HTML5游戏《围住神经猫》爆红网络， 越来越多的游戏开发者把目光投向HTML5领域。但是HTML5游戏...</p>
            <p class="slide5-tit-2">HTML5 Canvas中绘制矩形实例教程</p>
            <p>本文翻译自Steve Fulton Jeff Fulton HTML5Canvas, Chapter 2, The Basic RectangleShape. 让我们来看一下...</p>

        </div>
        <div class="col-sm-12 display-991">

        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">产品与服务</p>

            <div class="col-md-6 col-sm-6 cpfw-tit">
                <p class="cpfw cpfw-a">
                    <a href="#">企业建站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">定制网站</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">小程序开发</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信分销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">网上开店</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">软件及系统开发服务</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">微信营销</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">SEO优化</a>
                </p>
                <p class="cpfw cpfw-a">
                    <a href="#">基础口碑服务</a>
                </p>

            </div>

            <div class="col-md-6 col-sm-6 cpfw-tit" style="text-align: right;padding-right: 15px;">
                <p class="cpfw cpfw-a">
                    <a href="#">代理政策</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理流程</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理注册</a>
                </p>

                <p class="cpfw cpfw-a">
                    <a href="#">代理咨询</a>
                </p>


            </div>
        </div>
        <div class="col-md-3 col-sm-6 max-display">
            <p class="slide5-tit">发送留言</p>
            <form>
                <div class="form-group">

                    <input type="name" class="form-control" id="exampleInputEmail1" placeholder="姓名">
                </div>
                <div class="form-group">

                    <input type="tel" class="form-control" id="exampleInputEmail1" placeholder="联系方式">
                </div>
                <div class="form-group">

                    <textarea class="form-control" rows="3" placeholder="留言内容"></textarea>
                </div>

                <button type="submit" class="btn btn-default btn-footer">提 交</button>
            </form>

        </div>


    </div>


</div>


<div class="col-md-12  col-xs-12 col-sm-12 footer-foot-top max-display-991">


    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 max-display ">
        <a href="#">关于黑珍珠 |</a>
        <a href="#">联系我们 |</a>
        <a href="#">付款方式 |</a>
        <a href="#">网站备案 |</a>
        <a href="#">价格总览 |</a>
        <a href="#">帮助中心 |</a>
        <a href="#">诚聘英才 |</a>
        <a href="#">新闻中心 |</a>
        <a href="#">相关下载</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-2 max-display ">
        <a href="#">网站反馈 |</a>
        <a href="#">企业建站 |</a>
        <a href="#">软件开发 |</a>
        <a href="#">域名申请 |</a>
        <a href="#">虚拟主机 |</a>
        <a href="#">企业邮箱 |</a>
        <a href="#">营销推广 |</a>
        <a href="#">云主机 |</a>
        <a href="#">技术支持尽在黑珍珠</a>
    </div>

    <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-1 col-xs-12 footer-foot-body foot-body-1 ">
        <p>© 2017黑珍珠科技备案号: <a href="#">豫ICP备 15011304-5号</a></p>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="_MOBILE/js/bootstrap.min.js"></script>

<!--补充的插件-->
<script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<script src="_MOBILE/js/distpicker.data.js"></script>
<script src="_MOBILE/js/distpicker.js"></script>
<script src="_MOBILE/js/main.js"></script>
<!--补充的插件-->
</body>
</html>